[2012-11-05 17:53] caridy commented on #699
@ItsAsbreuk this is not mojito, but javascript. Basically, if you have something like this:

[code]

the `try` will catch any error during the execution of `bar` function, but if `bar` happens to do some asynchronous operation, for example using Y.io to load something and then execute a callback, errors within that callback will NOT be caught by the `try/catch` statement because that routine is do

[2012-11-05 18:08] ItsAsbreuk commented on #699
All right, nice to know.

But still, even it's impossible to catch these, does Mojito really needs to crash then?
I mean, ac.models.MyModelFoo.undefinedFunc() returns nicely a 500-error, while still running.
Why cannot this be done when Y.MyCorrectWidget.undefinedFunc() is called?

Like said: one fault-routine can stop running-callbacks of correct working routines. When working in teams I can imag

[2012-11-07 02:39] #649 closed, assigned to zhouyaoji

[2012-11-07 02:45] zhouyaoji opened #715 "Error when running 'mojito info'"
$ mojito version

Version of mojito is 0.4.8

$ mojito help

path.existsSync is now called `fs.existsSync`.
Available commands: compile, create, docs, gv, help, info, jslint, start, test, version

$ mojito info

path.existsSync is now called `fs.existsSync`.
✖ Error getting ino.
# It appears Mojito removes the 'f' from the command 'info', so it can't find the correct command.

[2012-11-07 11:04] ooskapenaar commented on #669
thanks for the answer.  yes definitely possible.  I am going through the code now and adding these explicit dependencies.    Are there comments in the moijto code somewhere that explain more about this change?

[2012-11-07 11:14] ooskapenaar commented on #669
I just grepped out the possibilities - these all have to potentially be explicitly included, right? e.g. I often use the composite addon

'mojito-analytics-addon'
'mojito-assets-addon'
'mojito-carrier-addon'
'mojito-composite-addon'
'mojito-config-addon'
'mojito-cookie-addon'
'mojito-cookie-addon'
'mojito-deploy-addon'
'mojito-device-addon'
'mojito-http-addon'
'mojito-intl-addon'
'mojito-meta-addo

[2012-11-07 11:17] ooskapenaar commented on #669
Last comment:  FIXED!

[2012-11-07 11:17] #669 closed, assigned to nobody

[2012-11-07 15:28] rwaldura commented on #669
Team: would it be possible to write a conversion tool for 0.5 that would detect such errors? W/o necessarily fixing them, would just issue a warning.

[2012-11-07 15:44] caridy commented on #669
Yeah, it sounds like we finally have a strong reason to implement `mojito upgrade` command.

[2012-11-07 17:28] isao commented on #715
I fixed the typo in my commit 2528ac3d7381916578ce985f228a1feb91b92424 but for some reason it still awaits code review on pull #700

I'll also note the the command is only prints the name, description, and version from a package.json file in the current directory. Were you in an app dir?

[2012-11-07 18:54] isao commented on #715
fixed typo. error message otherwise as before, but could be improved (is working, just unclear to user that the command works only in an npm dir)

[2012-11-07 18:54] #715 closed, assigned to nobody

[2012-11-07 18:57] isao commented on #544
fixed with pull 666 I think (fix has landed will be in 0.4.9) new hybridapp uses local yui-- html5app assumes network and CDN YUI unless configured differently.

[2012-11-07 18:57] #544 closed, assigned to nobody

[2012-11-07 18:58] #13 closed, assigned to nobody

[2012-11-07 18:59] isao commented on #446
that's an odd version, but this is fixed on develop and will be included in next release 0.4.9

[2012-11-07 18:59] #446 closed, assigned to nobody

[2012-11-07 19:04] isao commented on #40
fixed a while ago

[2012-11-07 19:04] #40 closed, assigned to nobody

[2012-11-07 22:55] denchen opened #717 "ondemand breaks mojitProxy.render"
Using Mojito 0.4.5, if the "yui" section of application.json contains:

"dependencyCalculations": "ondemand"
    or
"dependencyCalculations": "precomputed+ondemand"

then calling mojitProxy.render() from a binder returns an error similar to the following:

Uncaught TypeError: undefined is not a function    view-renderer.common.js:26
Renderer    view-renderer.common.js:26
privateRender    mojito-cl

[2012-11-08 10:25] ItsAsbreuk commented on #642
Caridy, just to let you know:

I can't get it work with 0.5.0pr3 either.
So, the only configuration that works is the one you provided me. But it will throw me back to YUI3.5.1 (which is too bad when you want to use most of DataTable and Scrollviews new features)

So please take care of the possibility for using different YUI-versions on both client and server YUI before releasing 0.5GA, will you?

[2012-11-08 11:44] ooskapenaar commented on #669
2c: this issue arose because I assumed that the patch version 0.0.x change means I don't have to read the release notes because the upgrade won't break my app.  perhaps review your version numbering protocol.

also it seems that the change that I ultimately had to address is described in the release notes for 0.5.0... a feature "leak"?

otherwise the changes reqd to make things run were actually m

[2012-11-08 16:19] gvaish commented on #446
My fault... it should have been 0.4.2

[2012-11-08 16:28] caridy commented on #642
yes, it is on the table, and I will try to get it in.

[2012-11-08 17:02] caridy commented on #642
Here is the PR #721 to address this, no promises though.

[2012-11-08 19:40] isao commented on #526
works now.

[code]

[2012-11-08 19:40] #526 closed, assigned to nobody

[2012-11-08 21:18] isao opened #724 "`mojito test mojit -c ./mojits` broken"
mojit tests run as expected without the -c coverage flag, but on 0.4.8-128-g14e96cc (develop):

[code]

[2012-11-08 21:37] isao commented on #434
I had closed this earlier because the yuitest-coverage npm package doesn't contain the yuitest-coverage-report.jar

[2012-11-09 00:37] #434 closed, assigned to nobody

[2012-11-09 01:03] isao commented on #525
examples/developer-guide/adding_view_engines tests are just broken and should be fixed.

spot checking others, many example tests are also broken because they are just the boilerplate tests from `mojito create mojit` that do not match the actual code.

i.e. examples/developer-guide/simple_view/mojits/simple/tests/controller.server-tests.js has the boilerplate tests

[code]

...but the controller h

[2012-11-09 18:25] isao opened #731 "unit test failures in examples/scroll_views & sandbox/binderrender"
these example apps fail some unit tests
- examples/scroll_views
- sandbox/binderrender

[2012-11-09 18:25] isao commented on #525
all tests in develop:examples/ run without error.

as noted in pull #525 tests for these example apps fail (not crash)
- examples/scroll_views
- sandbox/binderrender

crashes fixed, test failures to be tracked at issue #731

[2012-11-09 18:25] #525 closed, assigned to nobody

[2012-11-09 19:30] lzhan commented on #525
@isao: There is no set up for example app tests. We only run functional tests on those example apps.

[2012-11-11 01:42] ghost opened #736 "Content Error"
In the "Getting Started" section there is a defect with the last phrase.  The tick before "Creating" is a link and should not be. You are also missing the rest of the content for the section.

[2012-11-11 03:24] zhouyaoji commented on #736
HI oshiwoshy,

Are you referring to the Getting Started section in the YDN docs (http://developer.yahoo.com/cocktails/mojito/docs/getting_started/) or the getting-started-guide directory in
the Mojito GitHub repo (https://github.com/yahoo/mojito/tree/develop/docs/getting-started-guide)? I didn't see the error in the YDN docs, but maybe I'm missing something. Thanks.

[2012-11-12 02:33] ghost commented on #736
Hi,

I was referring to the following link:
http://developer.yahoo.com/cocktails/mojito/docs/.

Getting Startedhttp://developer.yahoo.com/cocktails/mojito/docs/#getting-started

Ready to start creating apps? You’ll start with a quickstart that will show
you how to install Mojito and then get up an running with your first Mojito
app. Once you have Mojito installed and are familiar with the basic st

[2012-11-12 07:47] zhouyaoji commented on #736
Thanks, Joshua. I've corrected the issue in the source file for the documentation. YDN has just revamped their site, so I'm unable to update the docs right now. I've contacted the YDN team and hope to resolve the error as soon as possible. Thanks for catching that and filing this GH issue.

[2012-11-12 21:12] ghost commented on #736
No problem. Glad I could help!

On Mon, Nov 12, 2012 at 1:47 AM, Joe Catera notifications@github.comwrote:

[2012-11-13 16:56] zhouyaoji commented on #736
The documentation has been corrected and published to YDN. Thanks again.

[2012-11-13 16:56] #736 closed, assigned to nobody

[2012-11-20 17:18] caridy commented on #97
This is fixed on 0.5.0pr3 where the default configuration for log is under the yui->config settings from config.json or application.json.

[2012-11-20 17:18] #97 closed, assigned to nobody

[2012-11-21 23:14] isao opened #779 "mojito compile doesn't work with custom view engines"
on 0.5.x branch `mojito compile views` does not access the proper view engine

[2012-11-24 12:34] ItsAsbreuk opened #783 "css-assets are not generated well when they contain non ascii characters"
This issue is seen in 0.5.0pr4, in previous 0.4.8 it went well.

Suppose the next css file:

.price:before {
        content: "Price: €";
        padding-right: 4px;
}

When generated http://localhost:8666/static/MyMojit/assets/index.css, then the last } is missing. When I have n-times a non-ascii character, then the n-last characters are missing. It seems to me something like the length of the fi

[2012-11-25 01:00] caridy commented on #783
@ItsAsbreuk this was fixed in develop-perf already, and the fix will be part of 0.5.0GA

[2012-11-25 07:58] ItsAsbreuk commented on #783
All right then. Sorry for mentioning. Just trying to help.

Marco.

[2012-11-25 07:58] #783 closed, assigned to nobody

[2012-11-26 18:52] dmorilha opened #785 "http add-on doesn't guarantee to send the headers"
Currently calling addHeaders or setHeaders doesn't guarantee the headers will be sent. There should be a way to, at least, detect when the headers can't be sent anymore.

[2012-11-26 19:40] caridy commented on #785
Can you provide a test case or something? In theory, we should be able to add/set headers during the dispatch phase.

[2012-11-27 18:13] drewfish commented on #783
Hi @ItsAsbreuk,

Thanks for filing this issue -- I think you did the right thing. It just happens that we had already seen (and fixed) this already.  It's always better to over-report a problem than have it lost/forgotten, so your report was good.  Keep sending the issues, and we'll address them as best we can!

Drew

[2012-11-27 20:09] ItsAsbreuk commented on #783
Hi Drew, all right, I'll do so. Thx for your response.

Marco.

[2012-11-29 00:51] rwaldura opened #809 "[bz5964521] test output is always colorized -- includes escape codes when saved to file"
When running tests, the output is colorized always.
E.g. the build output includes color escape codes. See BZ ticket for link.

@isao says there are two code paths for output -- he's fixed the console path to check whether output is a TTY and skip colors. However the test path is still colorizing everything by default.

Example

[code]

[2012-11-29 07:36] isao commented on #809
yes, test.js implements different console [text coloring functions ](https://github.com/yahoo/mojito/blob/develop/lib/app/commands/test.js#L566) that are not tty aware.

I have a branch or stash somewhere I think that started converting the code to use utils.js style tty aware colors...

[2012-11-29 21:36] rwaldura commented on #126
We've updated Express to 2.5.10. I'll open another ticket to chuck it out entirely (i.e. drop our dependency on Express).

[2012-11-29 21:36] #126 closed, assigned to nobody

[2012-11-29 21:39] rwaldura commented on #80
See also bz5753621 for an example of how Express is currently used -- i.e. we need to support the upload use-case even though we drop Express.

[2012-11-29 23:39] jlecomte opened #812 "mojito gets confused if multiple mojitos are found"
My mojito app depends on mojito (duh!) and on a package (let's call it "X") which itself lists mojito as a dev dependency (so I can run "mojito test app" to test that package) If I type "npm link" in package X src dir, it will install mojito under its node_modules/ folder. Now, if I npm link that package to my app, the resource store will find multiple mojitos while walking the file system at star

[2012-11-30 04:49] caridy commented on #812
We had a discussion about this problem few days ago, in a different context, but it boils down to the same problem: whether or not we should flatten a multi-level structure, or just analyze the first level of modules.

My vote is for not supporting mojito entities at a deeper level, only the first level, which makes a lot of sense since putting and application together means aggregating and flatti

[2012-11-30 17:09] jlecomte commented on #812
Caridy: let's not hijack the issue I reported (which I think is a pretty simple fix) with something which, although somewhat relevant, is an entirely different discussion. Let's chat offline because I _very strongly_ disagree with your comment.

[2012-12-04 04:48] nottoseethesun opened #823 "Better Error Message Needed (and possibly better doc needed) to Cover Case of 'tests' Dir Namespace Clash"
Issue with Error Message Quality:

Instead of just throwing 'app/tests/base/staticServer.js - 'process undefined' ' when the 'app/tests' directory has been used for something other than Mojito unit tests (say, it's been used for non-Mojito-integrated Arrow tests as in my case), Mojito should provide a more informative error message.

Backing up a little bit from the specifics, and toward the gener

[2012-12-04 05:01] nottoseethesun opened #824 "Info-level Console Log Needed to Note that Mojits that are 'appLevel' Are Being Skipped"
What Happens:
1. Mojito is started with a mojit that has ''appLevel':true' in its 'definition.json'.
2. The user successfully visits a mojit on that app.
3. The user attempts to visit the mojit with the ''appLevel: true' in it, but fails due to the fact that the mojit was skipped (apparently) by the resource store.
4. There is no log to that effect, at least on the console, as shown below (after t

[2012-12-04 18:07] isao commented on #724
fixed by 0bdde0f35eb14973ff02c006eaa49b34bde9a8b4

[2012-12-04 18:07] #724 closed, assigned to isao

[2012-12-04 18:28] #421 closed, assigned to nobody

[2012-12-05 02:10] rolandoyahoo opened #835 "mojito@0.5.x context config cache is not recognizing selectors"
We defined selectors and a different title for the site dimension:

[code]

When the first request is processed, mojito selects the correct title from the site in the context but subsequent requests to either one of the two sites returns the same title.

Reviewing mojito source, the problems appears to be in 'mojito/lib/app/addons/rs/select.js' [line 82]:

[code]

The variable 'store' is not initi

[2012-12-05 02:18] caridy commented on #835
@jenny this has to be reviewed asap after 0.5.0GA.

[2012-12-05 21:39] drewfish commented on #835
Hi,

I believe what you are seeing is an intended optimization by mojito.  The idea is that even if you define a selector in your `applications.json`, if you don't have files with that selector then there's no reason to customized the configuration (and thus cache key) based on that selector.  By only creating the customizations that are actually used by the app greatly increases app start time.

[2012-12-05 21:52] rolandoyahoo commented on #835
The most basic issue we see is that the page title is wrong when using HTMLFrameMojit. In our config "specs.frame" is an HTMLFrameMojit so we are trying to override "specs.frame.config.title" for each site we serve with this app. There are other config problems but we would have to go into our code detail to explain.

In response to "By only creating the customizations that are actually used by th

[2012-12-05 22:19] #507 closed, assigned to nobody

[2012-12-05 22:43] drewfish commented on #835
Yeah, it sounds like something is going wrong inside of mojito.  Could you email me your application repo (perhaps via yahoo mail, since I know you work at yahoo)?

The config that the resource store is generating (per selector, as appropriate) deals with the YUI loader configuration.  Other configs, such as read by ycb, should still work normally regardless of which selectors you have defined.  S

[2012-12-06 17:00] caridy commented on #835
@rolandoyahoo in your aspects, it looks like you don't have base or type for "frame" definition, is that code an psuedo-code? or you really don't have such thing?

[2012-12-06 17:25] drewfish commented on #835
I created a simple app that demonstrates the problem with the title:
https://github.com/drewfish/mojito-issue835

[2012-12-06 21:10] isao commented on #779
compile cmd is deprecated

[2012-12-06 21:10] #779 closed, assigned to nobody

[2012-12-06 21:31] maumunoz opened #843 "MojitProxy Refresh View throwing error on Mojito 0.5.0"
When executing a Refresh View, I'm getting a Javascript error:

Uncaught TypeError: Cannot read property 'nodeType' of null

It is thrown on mojito-client.client.js (line 96):

[code]

new Y.Node(mp._element) is throwing an error because mp._element is null. Digging more in the problem it seems to be related to the id replacement logic. Instance Id from meta and the current mojit have to match (mB

[2012-12-06 22:44] caridy commented on #843
@maumunoz thanks for the repro-case, I will look into it.

[2012-12-06 23:54] caridy commented on #843
I can confirm that this issue is related to issue #843, and @drewfish is working on a fix for 0.5.1.

The instanceId sent to the /tunnel should be used as part of the binder map that is part of the response. The issue is introduced by the expandInstance routine, which is creating a new id everytime to avoid bleeding.

[2012-12-07 00:42] drewfish commented on #835
Hi @rolandoyahoo,

If possible, could you try using the HEAD of develop to see if that fixes your problem?  (I suspect it'll fix at least some of your troubles, but want to make sure that there aren't other issues as well.)

You can get the lastest by putting this in your package.json:
 `"mojito": "git://github.com/yahoo/mojito.git#develop"`
(Note, this causes "npm install" to do a git clone, so i

[2012-12-07 00:45] caridy commented on #843
I can confirm that this issue was solved by PR #845

[2012-12-07 00:45] #843 closed, assigned to nobody

[2012-12-07 02:05] davesbatyahoo commented on #835
"npm install" is dying immediately on:

TypeError: Cannot read property 'latest' of undefined at next (/usr/local/lib/node_modules/npm/lib/cache.js:524:35)

"ynpm install --registry [url]" finishes installing but dies when starting mojito in:

mojito-shaker/addons/rs/shaker.server.js:41
this.meta = this.rs.config.readConfigJSON
TypeError: Object undefined[config] has no method 'readConfigJSON'

[2012-12-08 00:46] ghost opened #846 "Quickstart Step #2"
Greetings,

Found a small issue on the Quickstart Guide. It is concerning testing whether or not Mojito was installed correctly. See below:
1.    Get Mojito from the npm registry and globally install Mojito so that it can be run from the command line. You may need to use sudo if you run into permission errors.

   $ npm install mojito -g
2.    Confirm that Mojito has been installed by running unit

[2012-12-08 00:53] rwaldura commented on #846
Oshi: yes, but it's more involved, as we now depend on Arrow to run the tests.
https://github.com/yahoo/arrow
We'll have to expand the documentation to include how to do this.
For now, I'd proceed assuming the installation succeeded.

[2012-12-08 00:57] zhouyaoji commented on #846
This has been fixed in the source file for the documentation: https://github.com/yahoo/mojito/blob/develop/docs/dev_guide/quickstart/index.rst

I replaced 'mojito test' with 'mojito help' to confirm that Mojito has been installed. The Mojito documentation on YDN will be updated after some more changes have been made for the next release. Thanks for filing the issue. I'll close the issue once the d

[2012-12-08 01:13] zhouyaoji commented on #823
Hi Christopher,

Thanks for filing the issue. The "Testing" chapter in the documentation specifies that the '{app_name}/tests' directory is for application tests: http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_testing.html

Are you looking at a different section of the documentation? I'll update that particular section or add clarification.

[2012-12-08 01:41] ghost commented on #846
Thanks!
On Dec 7, 2012 6:53 PM, "Ren Waldura" notifications@github.com wrote:

[2012-12-08 11:40] ItsAsbreuk opened #847 "Problems with mojitProxy.refreshView()"
Hi,

I experience quite some problems with mojitProxy.refreshView().
It's hard to specify where exactly, because the projects become quite big and a lot of stuff is new to me.

I tried to strip it down where I could and I have 3 issues I would like to mention:

1) version 0.5.0pr4 and 0.5.0 (not before) throw an error when I call mojitProxy.refreshView(myOptions). I see the serverresponse coming i

[2012-12-08 18:56] add0n commented on #847
At a minimum, issue #2 should be fixed via this PR:

https://github.com/yahoo/mojito/pull/845

which will be available in 0.5.1

Cheers,
- Bill

[2012-12-08 22:12] ItsAsbreuk commented on #847
@Bill, Thanks.
That would be issue #1 I quess.

I'm not the one to suggest about the right structure to follow, but can't the node's Id being kept the same after a refreshView()?

I found issue #2 has to do with intermojit-communication: I broadcast an event at the masterMojit to the receiverMojit. Now, when the receiverMojit gets refreshed, the masterMojit is broadcasting to the wrong target.

Ma

[2012-12-09 09:14] ItsAsbreuk opened #848 "Intermojit-communication using Y.EventTarget"
I wanted this to be a pull-request, but I can only post issues...

Can't we use Y.EventTarget instead of the suggested interMojit-communication? The first is such a great infrastructure and familiair by YUI-developers.

Besides that, I think there are some more reassons why broadcasting through a masterMojit by code doesn't seem the right way (from my point of view):

1) When you setup the broadca

[2012-12-09 15:48] mojit0 commented on #848
Marco,

I know Bill is working in the direction you're suggesting with his work on integrating YAF in the client. He can provide more detailed input.

ss

On Dec 9, 2012, at 2:14, "Marco Asbreuk" <notifications@github.com<mailto:notifications@github.com>> wrote:

I wanted this to be a pull-request, but I can only post issues...

Can't we use Y.EventTarget instead of the suggested interMojit-commun

[2012-12-11 21:19] drewfish commented on #835
It looks like you're using an older version of mojito-shaker.  The version that works with the latest mojito is mojito-shaker@2.0.37pr5.

[2012-12-11 22:56] nottoseethesun commented on #835
Earlier I had tried pr5, and then and now get this error pasted below.  These things fail so often that kept it at pr4 for now and did not have time to report it.  However if it is a potential blocker on this, then let's see what we can do to fix this - thanks! - >

vpn-pool-10-72-116-11:app cbalz$ pwd
/Users/cbalz/projects/y_salcap/desktop/salcap-desktop/app
vpn-pool-10-72-116-11:app cbalz$ node_

[2012-12-11 23:32] drewfish commented on #835
I just tried a fresh checkout of the salcap repo, and git://github.com/yahoo/mojito.git#develop works, so I'm closing this as fixed.  It'll get released as part of 0.5.1.

Please re-open if you are still having trouble with this.

[2012-12-11 23:33] #835 closed, assigned to nobody

[2012-12-11 23:44] nottoseethesun commented on #835
Works fine, thanks!

[2012-12-12 01:58] caridy commented on #73
I think this is already supported. just saying!

[2012-12-12 19:10] isao commented on #73
this landed in April here 89fffae172007caa467a91d672f04c01073a5e35

[2012-12-12 19:10] #73 closed, assigned to nobody

[2012-12-13 14:14] ItsAsbreuk opened #858 "With multiple broadcasts, one undefined payload disturbs other payloads"
Seen in 0.5.0

I've got 2 examples, the only difference is that example 1 sends payload=null to the first receiverMojit, whereas example 2 sends payload={}. The failure arises within receiverMojit myChild2.

Example 1 (goes wrong):
MASTERMOJIT
            mp = this.mojitProxy;
            mp.listen('someEvent', function(payload) {
                var children = mp.getChildren(),

[2012-12-17 12:42] ooskapenaar commented on #679
@Caridy,  it would be great to have an example of such a RS addon.  Currently we just patched the url.js to include the common site map.xml  file (in the list of static routes).  It would be great to do this correctly with our own addon.

Using 0.5.0.

[2012-12-17 12:59] ooskapenaar opened #865 "Ac.Composite Error Handling Hides Errors from Parent"
In v0.5.0  composite.common.js we see the following code, which effectively hides any child errors from the caller.

If the parent is to be allowed to "fail-fast", which I think is a good thing, then mojito must pass errors up to the parent and not swallow them like this.

Swallowing of errors by mojito should only be allowed at the top level (i.e. to clean up after a messy parent).

[code]

I am

[2012-12-20 21:00] rwaldura commented on #809
@jlecomte is reporting this is still occurring with 0.5.1

[2012-12-26 21:12] #846 closed, assigned to nobody

[2012-12-26 21:13] #3 closed, assigned to nobody

[2013-01-02 21:06] rwaldura commented on #533
This issue now superseded by #537 .

[2013-01-02 21:06] #533 closed, assigned to nobody

[2013-01-03 18:21] AndyOfLinux opened #871 "Mojito Quickstart page needs to update node.js requirement"
Currently the Mojito Quickstart page shows requirement of "node.js < .8".  This is incorrect.  Mojito works OK (per github closed issues) with  "v0.8.1" version of node.js.  Docs need to be updated.

[2013-01-03 18:45] rwaldura commented on #871
@zhouyaoji
http://developer.yahoo.com/cocktails/mojito/docs/quickstart/

Thanks @AndyOfLinux for the report. Welcome to Mojito!

Note that you can issue pull requests against the documentation, e.g.
https://github.com/yahoo/mojito/blob/develop/docs/dev_guide/quickstart/index.rst

[2013-01-04 01:17] isao commented on #809
pull #872 prevents color codes being output in test results, when piped to a file (or other non-tty usage).

However, output from other mojito components still send colorized output (lib/app/autoload/perf.server.js, and some Y.log calls).

Closing this, and will track the various other offenders separately.

[2013-01-04 20:04] jenny commented on #351
This is out of scope and unsupported (even if it previously worked). Please clarify if I'm misunderstanding the lack of value of such a feature.

/cc @rwaldura

[2013-01-04 20:04] #351 closed, assigned to nobody

[2013-01-04 21:52] zhouyaoji opened #875 "Mojit-level addons are not recognized by Mojito."
Based on the documentation, you can put addons at the application or mojit level.
See the following: http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_extensions.html#addons

Addons at the application level work as expected, but when addons are at the mojit level, e.g., ({app_name}/mojits/{mojit_name}/addons/ac/{add_on}, Mojito does not find the addon.

The following example has both

[2013-01-07 16:20] drewfish commented on #875
I think that example might be broken.  Compare the YUI module name of the AC addon versus the one that the controller is depending on:
https://github.com/zhouyaoji/Mojito-Apps/blob/master/addon_ex/mojits/myMojit/addons/ac/mojitlevel.common.js
https://github.com/zhouyaoji/Mojito-Apps/blob/master/addon_ex/mojits/myMojit/controller.server.js
The controller is depending on `addon-ac-mojitlevel` yet th

[2013-01-07 18:09] zhouyaoji commented on #875
Thanks, Drew, you're right. I was having an issue using a mojit-level addon when trying to convert Ric Allinson's hybrid app to use Mojito v0.5, so I created my own example to recreate the problem. I recreated the problem, but the real problem was the registered YUI module name of the addon Once I change the registered YUI module name, the mojit-level addon works correctly. I'll have to take anoth

[2013-01-07 18:09] #875 closed, assigned to nobody

[2013-01-07 20:53] diervo opened #879 "problem encoding comboSep param character within yui -> config -> group -> app"
I have this configuration for overriding the combo url with Shaker:
"yui": {
            "config": {
                "groups": {
                    "app":{
                        "base": "http://a.l.yimg.com/",
                        "comboBase": "http://a.l.yimg.com/zz/combo?",
                        "comboSep": "&",
                        "combine": true,
                        "root": ""

[2013-01-07 20:54] drewfish commented on #879
We are guarding against not "cleansing" yui.config.conboSep, but we're not guarding against cleansing yui.config.groups.app.comboSep.

[2013-01-07 21:39] jenny commented on #879
Tracked here: https://trello.com/card/search-gh879-shaker-groups-app-combosep-should-support-just-like-yui-config-combosep/504e5e3b7cd1578456fc430f/307

[2013-01-09 22:33] caridy commented on #879
In develop already, should be available as part of 0.5.2 release.

[2013-01-09 22:33] #879 closed, assigned to nobody

[2013-01-11 10:02] ghost opened #908 "Get error after calling mojitProxy.refreshView() in a composite mojit."
Get the following error on client side after calling MojitProxy.refreshView() in a composite mojit:
<b>Uncaught Error: Cannot read property 'type' of undefined </b>

The composite has a child mojit without binder and mojit_view_id. Then around this line:
https://github.com/yahoo/mojito/blob/develop/lib/app/autoload/mojito-client.client.js#L952
child.viewId is undefined and it finally cause the err

[2013-01-11 17:12] caridy commented on #908
What version of mojito are you using? Can you provide a simple code to reproduce the issue?

[2013-01-11 19:47] caridy commented on #238
PR #905 adds support for multi part application.json by using `applicationConfigFiles` in the master section of application.json to specify relative files that should be parsed. `import_settings` is still pending though.

[2013-01-11 21:21] nonopolarity opened #912 "CSS needs to be mojit's CSS"
In http://developer.yahoo.com/cocktails/mojito/docs/code_exs/calling_yql.html

It is said that

[code]

but since in the application.json, it is specified to use the mojit's CSS:

[code]

So either application.json should change to use the application's CSS file, or the description should say add the CSS code to the mojit's CSS file.

[2013-01-12 08:21] nonopolarity opened #918 "Any YML example of Mojito?"
It is said that Mojito can use JSON or YML as the `application.json` (the config file), but I haven't seen YML examples around?

For example, how to convert:

[code]

to a YML file?

Also, when we use

[code]

can't we specify that we want YML files as default?

---

Details:

I used npm's `yamljs` to convert the file to:

[code]

and it doesn't work.  And I edited it to

[code]

It won't work eit

[2013-01-13 01:11] imalberto opened #919 "[doc] Improve documentation for how to use YAML configuration with Mojito"
This is based from request #918

[2013-01-13 01:12] imalberto opened #920 "When generating default app template (mojito create app xxx), Mojito provide option to generate YAML based configuration."
Based from request #918

[2013-01-13 01:13] imalberto commented on #918
I think the config you want is

[code]

Here is a more complete example of application and routes YAML config:
- https://github.com/imalberto/appyamlexample/blob/master/application.yaml
- https://github.com/imalberto/appyamlexample/blob/master/routes.yaml

[2013-01-13 03:34] nonopolarity commented on #918
It still gives me an error even if I use the code above verbatim...

Can I just use YAML for `application.yml` and use `routes.json` still?

Another thing that is strange is that, in the code above, isn't hello just a string, and type just a string, then why doesn't hello need to be in double quotes but HelloWorldMojit has to be?

[2013-01-13 03:47] nonopolarity commented on #918
what is more is, if I

`git clone https://github.com/imalberto/appyamlexample.git`

and cd into it, and start a server using `mojito start`, it won't work if I go to `http://localhost:8666/`

So I tried again using

`sudo npm install yaml -g`

and started the server again, and it won't work.

This is all done on a Mac.

[2013-01-13 04:23] imalberto commented on #918
What is your mojito version installed ?

The app example works with mojito 0.4.9-2 (https://github.com/imalberto/appyamlexample/blob/master/package.json)

I am guessing you are using a different version.

after you clone the app, do a "npm install", and make sure you start the app with the local installed version.

[2013-01-13 04:32] nonopolarity commented on #918
My `mojito` is 0.5.1 and was installed by `sudo npm install mojito -g`.

1) So you mean, cd into that folder after git clone, and do a `npm install`, and then use `node_modules/mojito/bin/mojito start` to start the server?

2) If I do (1), the website can be accessed... But another question is, then why 0.5.1 cannot handle the simple YAML file `application.yaml` for my own project?  (it is a proje

[2013-01-13 04:35] imalberto commented on #918
Can you please file a bug for this ?

Include your example app, and error messages you get. Thanks !

[2013-01-13 04:39] nonopolarity commented on #918
You mean add an issue on GitHub?  I thought that's what I did at the beginning of this post, including the error message.

So what I can do is just git push my project to GitHub, but it is pretty simple, just the sample app as on http://developer.yahoo.com/cocktails/mojito/docs/getting_started/mojito_getting_started_tutorial.html

I might add that the example works fine as long as it is `applicati

[2013-01-14 02:46] ghost commented on #908
Created a demo of the issue. You can access "/" to reproduce it. https://git.corp.yahoo.com/yiwu/demo-908
My mojito version is 0.5.1.

[2013-01-14 16:21] drewfish commented on #918
Hi jianlin,

Mojito 0.5.0 and 0.5.1 don't support yaml.  We'll restore that functionality in 0.5.2 (specifically via pull request #916).

Drew

[2013-01-15 03:12] nonopolarity commented on #918
yes, I just reintalled Mojito and it is 0.5.2 and it seems to solve the issue... so I asked the question on Friday or Saturday and it just happened to be solved on Monday?  How lucky!

[2013-01-15 16:25] caridy commented on #918
we are that fast @jianlin, heheheh!, closing this.

[2013-01-15 16:25] #918 closed, assigned to nobody

[2013-01-16 09:08] yukinying opened #927 "please document use of meta completely, especially on serialize: 'json'"
Making mojito to speak restful services is extremely useful for real world applications. When I am trying to hack mojito to do that, I dig into the source code and realized it is already there. It is as easy as this:

[code]

I may have mistaken that it has already been documented, but if not, why don't we document that as it is a very good showcase of usage of mojito for building complex applicat

[2013-01-16 16:20] rwaldura commented on #927
@yukinying thanks for the report. Indeed `meta` is a bit a of magic that's somewhat obscure.

[2013-01-16 16:28] rwaldura commented on #927
Let's flesh out http://developer.yahoo.com/cocktails/mojito/api/classes/ActionContext.html#method_done

http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_mvc.html#specifying-the-view
mentions you can specify a view, but it's sparse.

@zhouyaoji I notice the link http://developer.yahoo.com/cocktails/mojito/api/files/node_modules_mojito_lib_app_autoload_action-context.common.js.html#l388

[2013-01-16 17:44] rwaldura opened #928 "Remove Y! copyright from auto-generated code"
According to People Who Know Better (i.e. @gyehuda), the code we auto-generate should not contain the Y! copyright.

This includes the results of `mojito create app` and `mojito create mojit`: the auto-generated mojit controller in particular contains a copyright block at top.

[2013-01-16 17:46] zhouyaoji commented on #927
Thanks for catching that, @rwaldura. I've fixed the problem.

[2013-01-16 20:14] nonopolarity opened #931 "Can Mojito start give a "Port being used" error instead of a "throw arguments[1]; // Unhandled 'error' event"?"
Right now Mojito will report the following if the port is being used:

Can it report "Error: the port is already being used" instead?  This is even more useful when we started the server on a Linux box remotely and ssh into that box and start the mojito app again and get this error and didn't know what was going on.

[code]

[2013-01-16 21:01] rwaldura commented on #931
Good idea, but frankly `Error: listen EADDRINUSE` already says it all.

[2013-01-16 21:50] nonopolarity commented on #931
I see some application programmers asking the same questions else where what is about `EADDRINUSE`... but as of other things in life, maybe it is not about how clear things are.  It is about how unclear things are, and then there can be power over the other people.  Just like lawyers will publish some forms that they know have some loopholes.  So if the landlord use that form, he will run into iss

[2013-01-16 22:10] rwaldura commented on #931
Agreed. Let's have a better error message, e.g.
"Port already in use. Is another Mojito, or another program, already running on this port?"
What do you think? I wish I could tell users how to get rid of this error, but doing so is very OS-specific.

[2013-01-17 07:22] nonopolarity opened #934 "Maybe an explanation of "foo" : { "type" : "foo" } can be explained why "foo" is needed twice?"
Maybe the Quick Start or the Intro doc can add this -- I think this is true but not entirely sure

In `application.json`

[code]

The first `foo` becomes a variable, and is useable in a template, such as HandleBars.  The second `foo` is the Mojit name.  So we can have

[code]

which means the Mojit `foo` will be evaluated and the content assigned to the variable `bar`.  Is this true?  I think the

[2013-01-17 17:19] isao commented on #928
should be in 0.5.3

[2013-01-17 17:19] #928 closed, assigned to nobody

[2013-01-17 17:32] zhouyaoji commented on #934
Hi jianlin,

We call "bar" a mojit instance that can be used to call actions. These actions can be mapped to routing paths. That information is captured in the "Getting Started": http://developer.yahoo.com/cocktails/mojito/docs/getting_started/mojito_getting_started_tutorial.html#create-the-application

The intention of the quickstart is to just have the user install Mojito and then create and run

[2013-01-19 02:26] caridy commented on #908
On Trello for investigation:

https://trello.com/card/client-gh908-get-error-after-calling-mojitproxy-refreshview-in-a-composite-mojit/504e5e3b7cd1578456fc430f/325

[2013-01-23 00:24] kinlum opened #947 "Can we add a class for the body for HTMLFrameMojit ?"
It seems that there was no existing method to add a class / classes for the `body` element if using `HTMLFrameMojit` ?  Is it possible that it is added as a feature?

[2013-01-23 01:01] caridy commented on #947
It will be posible in the next iteration: 0.5.3 coming up in the next few days.

In this new version, creating a custom HTMLFrame will be a breeze, in which case you will have full control over the capabilities of your frame, and we will encourage people to have their own frame rather than using the one shipped with mojito, which btw will become legacy.

More info about this here:
https://github.c

[2013-01-23 01:14] kinlum opened #948 "ac.composite.done() to specify the view to follow the behavior of ac.done()"
If we do a

[code]

but then, if now this Mojit has a child or children, then we need to use `ac.composite` like this:

[code]

So it works, but we can't specify the  `"view": {"name": "detail"}`  part easily.  If `ac.done` and `ac.composite.done` work mostly the same except one has no children and one does, would it be ok if `ac.composite.done` can have the feature to work like the following:

[c

[2013-01-23 01:57] caridy commented on #948
I can take this for 0.5.3, it seems a low-impact change. About the ac.done vs ac.composite.done, that have to be discussed. But basically, adding complexity into the mix is a recipe for failure. They are not the same thing, while composite is way more complex.

[2013-01-23 02:02] zhouyaoji commented on #934
I'm going to close this issue for now because the getting started discusses mojit instances and routing paths. Thanks.

[2013-01-23 02:02] #934 closed, assigned to nobody

[2013-01-23 23:01] zhouyaoji commented on #919
I've added YAML examples to the configuration docs and a link to an npm module for converting JSON to YAML.
See http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_configuring.html.

Thanks for filing this issue!

[2013-01-23 23:01] #919 closed, assigned to nobody

[2013-01-24 21:11] caridy commented on #948
Closing this now that PR #950 was merged. It will be ready in 0.5.3, in the meantime, you can try it using "develop" branch. The details on of syntax is in the PR. Basically ac.done and ac.composite.done are equivalent in terms of API.

[2013-01-24 21:11] #948 closed, assigned to nobody

[2013-01-29 15:57] caridy commented on #865
Adding this to trello, tentative for 0.5.4:

https://trello.com/card/issue-gh865-composite-ac-composite-error-handling-hides-errors-from-parent/504e5e3b7cd1578456fc430f/367

[2013-01-29 16:08] caridy commented on #812
This should be covered in 0.5.3, where mojito keeps track of the version and pkg information to avoid walking similar pkgs. @drewfish can you confirm and close?

[2013-01-29 16:09] caridy commented on #809
Runtime logs are now processed correctly (since 0.5.2). Test, cli and store logs are still having issues with encoding.

[2013-01-29 16:09] caridy commented on #731
@isao can we close this?

[2013-01-29 16:10] caridy commented on #717
Closing this in favor of 0.5.x where we use a completely different approach to load and render ondemand mojits. this should not be an issue there.

[2013-01-29 16:10] #717 closed, assigned to nobody

[2013-01-29 16:12] caridy commented on #665
This should not be an issue in 0.5.x (latest). Closing this. Feel free to re-open if you have any issue with it.

[2013-01-29 16:12] #665 closed, assigned to nobody

[2013-01-29 16:13] caridy commented on #662
@lzhan can we close this? Was this fixed?

[2013-01-29 16:16] caridy commented on #657
@ItsAsbreuk, can you comment or close this? This should be working fine in 0.5.x

[2013-01-29 16:21] caridy commented on #599
Trello card: https://trello.com/card/issue-gh599-expose-attachactioncontextaddonson-actioncontext/504e5e3b7cd1578456fc430f/368

[2013-01-29 16:22] caridy commented on #585
This should be fixed in 0.5.x. Closing this, feel free to reopen if you have any issue with 0.5.2+

[2013-01-29 16:22] #585 closed, assigned to nobody

[2013-01-29 16:23] caridy commented on #571
This was fixed in 0.5.2 by @lzhan

[2013-01-29 16:23] #571 closed, assigned to nobody

[2013-01-29 16:25] caridy commented on #529
@rwaldura can we close this?

[2013-01-29 16:26] caridy commented on #523
@dmorilha, is this still an issue in 0.5.x?

[2013-01-29 16:27] caridy commented on #520
Can we close this @dmorilha?

[2013-01-29 16:28] caridy commented on #487
This is now solved with the new infrastructure in 0.5.x. Closing.

[2013-01-29 16:28] #487 closed, assigned to nobody

[2013-01-29 16:29] caridy commented on #465
This is not longer valid, shaker do not use the action anymore :), closing.

[2013-01-29 16:29] #465 closed, assigned to nobody

[2013-01-29 16:32] caridy commented on #430
#429 was resolved. Can we close this? /cc @rwaldura

[2013-01-29 16:48] caridy commented on #427
This is now fully supported in 0.5.x by using:

[code]

/cc @zhouyaoji @rwaldura @jenny this is potentially an important use-case for people creating corporate apps, should we add it to the documentation somewhere?

Closing this.

[2013-01-29 16:48] #427 closed, assigned to nobody

[2013-01-29 16:50] caridy commented on #413
Closing this after the work on 0.5.x. /cc @drewfish

[2013-01-29 16:50] #413 closed, assigned to drewfish

[2013-01-29 16:52] caridy commented on #263
@zhouyaoji can we close this?

[2013-01-29 16:53] caridy commented on #262
This should not be an issue anymore in 0.5.x since YUI loader will load IE specific bundles when needed. Closing this.  @focuzz, feel free to reopen it.

[2013-01-29 16:53] #262 closed, assigned to nobody

[2013-01-29 16:55] caridy commented on #947
Closing this now that the HTMLFrame refactor is in place in 0.5.3. Reference to the PR #926 for more details.

[2013-01-29 16:55] #947 closed, assigned to nobody

[2013-01-29 16:57] caridy commented on #293
@rwaldura this is still an issue, feel free to create a card in trello for prioritization.

[2013-01-29 17:03] caridy commented on #206
Few notes:
- Yes, with handle bars this is not an issue since internally it is a sync process, but it might be problematic for other view engines like MU.
- Yes, MU will be an alias of HB starting on 0.5.4 (PR already merged), which means we are off the hook for now.
- First byte do not helps at all with this, they are different beasts.
- Partials might help in many use cases (already introduced i

[2013-01-29 17:04] caridy commented on #183
This is one of the primary use-cases in mojito, and it should work. Can you provide more details @trungpham? repro case maybe?

[2013-01-29 17:06] caridy commented on #178
@drewfish isn't this a case for a custom regex? Can you comment and close?

[2013-01-29 17:07] caridy commented on #155
@drewfish is this still an issue?

[2013-01-29 17:07] #129 closed, assigned to nobody

[2013-01-29 17:08] rwaldura commented on #529
Not quite yet.
@zhouyaoji can you create a file CONTRIBUTING.md that merely points to
https://github.com/yahoo/mojito/wiki/Contributing-Code-to-Mojito
Thanks!

[2013-01-29 17:10] caridy commented on #99
[code]

That's the default configuration in dimensions.json. Closing this.

[2013-01-29 17:10] #99 closed, assigned to nobody

[2013-01-29 17:12] caridy commented on #91
This is supported in 0.5.x thru `cache` and `forceUpdate` configurations.

[2013-01-29 17:12] #91 closed, assigned to nobody

[2013-01-29 17:13] rwaldura commented on #430
closing -- we'll track this as a feature request when it comes up

[2013-01-29 17:13] #430 closed, assigned to nobody

[2013-01-29 17:14] caridy commented on #90
This was resolved in 0.5.x as part of the `notFound` feature in `mojito-handler-static` addon.

[2013-01-29 17:14] #90 closed, assigned to nobody

[2013-01-29 17:17] caridy commented on #87
0.5.x static handler relies entirely on the store and the urls produced by the store, anything else is ignored (404).

[2013-01-29 17:17] #87 closed, assigned to nobody

[2013-01-29 17:18] caridy commented on #85
@isao can we close this?

[2013-01-29 17:19] caridy commented on #69
This is not longer an issue in 0.5.x, closing.

[2013-01-29 17:19] #69 closed, assigned to nobody

[2013-01-29 17:20] caridy commented on #67
Fixed as part of 0.5.x, we now use the proper adapter.error when something happen within the dispatch workflow.

[2013-01-29 17:20] #67 closed, assigned to nobody

[2013-01-29 17:21] caridy commented on #64
This is not longer in the realm of mojito, but mojito-shaker. Closing.

[2013-01-29 17:21] #64 closed, assigned to nobody

[2013-01-29 17:22] caridy commented on #63
This is not longer in the realm of mojito, but mojito-shaker. The comboing thing was introduced in 0.5.x. Closing.

[2013-01-29 17:22] #63 closed, assigned to nobody

[2013-01-29 17:24] caridy commented on #60
[code]

In 0.5.x we have that check in place.

[2013-01-29 17:24] #60 closed, assigned to nobody

[2013-01-29 17:24] caridy commented on #57
@isao is this still the case?

[2013-01-29 17:25] caridy commented on #56
This is invalid, each lang bundle should require it's dependencies, including "intl" if it needs to call Y.Inlt.add.

[2013-01-29 17:25] #56 closed, assigned to nobody

[2013-01-29 17:26] caridy commented on #53
Solved by the new loader infrastructure in 0.5.x

[2013-01-29 17:26] #53 closed, assigned to nobody

[2013-01-29 17:26] caridy commented on #52
Not longer an issue with 0.5.x.

[2013-01-29 17:26] #52 closed, assigned to nobody

[2013-01-29 17:28] caridy commented on #48
Let's bump this up @rwaldura, to add it as part of the default frame. Should be easy. /cc @jenny

[2013-01-29 17:29] caridy commented on #31
@isao is this still an issue?

[2013-01-29 17:29] zhouyaoji commented on #529
Sure, done!

[2013-01-29 17:29] #529 closed, assigned to nobody

[2013-01-29 17:31] caridy commented on #25
This is still an issue. Let's bump this up. /cc @rwaldura @jenny

[2013-01-29 17:33] caridy commented on #22
This is covered by the refactor in 0.5.3 to facilitate the creation of new framemojits, and inheriting from the original implementation to only change template and data.

[2013-01-29 17:33] #22 closed, assigned to nobody

[2013-01-29 17:33] caridy commented on #21
solved in 0.5.0.

[2013-01-29 17:33] #21 closed, assigned to nobody

[2013-01-29 17:35] caridy commented on #20
This is related with the composite error handling, issue #25. Once we get that fix, FrameMojit will catch the error and potentially propagated through ac.error which couse the proper error report in the browser.

[2013-01-29 17:35] caridy commented on #18
This is now solved for ac.done and ac.composite.done as well.

[2013-01-29 17:35] #18 closed, assigned to nobody

[2013-01-29 17:38] caridy commented on #9
I don't think this is valid anymore since prod quality apps will probably get assets from CDN, in which case the headers are controlled by the CDN itself (and mojito-shaker). If mojito serves those assets, the current configurations that we have should be good enough. Closing.

[2013-01-29 17:38] #9 closed, assigned to nobody

[2013-01-29 17:39] caridy commented on #1
This is not longer supported in 0.5.x where we use YUI Log instead. Closing.

[2013-01-29 17:39] #1 closed, assigned to nobody

[2013-01-29 17:43] caridy commented on #824
@drewfish can you check this? I'm not familiar with `appLevel` workflow.

[2013-01-29 17:45] caridy commented on #33
Solved in 0.5.x while dispatch does not know about yui modules anymore.

[2013-01-29 17:45] #33 closed, assigned to nobody

[2013-01-29 17:46] #34 closed, assigned to nobody

[2013-01-29 17:49] caridy commented on #36
old issue. closing.

[2013-01-29 17:49] #36 closed, assigned to nobody

[2013-01-29 17:49] caridy commented on #42
@isao is this still an issue?

[2013-01-29 20:34] isao commented on #731
looks like those examples were deleted. closing, thanks @caridy

[2013-01-29 20:34] #731 closed, assigned to nobody

[2013-01-29 20:38] isao commented on #809
@caridy test & cli logging are tty aware. escape codes are coming from code-under-test and elsewhere, right?

[2013-01-29 20:44] isao commented on #85
I'd like to keep it open -- will tackle this once the cli gets moved to it's own package

[2013-01-29 20:49] isao commented on #31
`mojito test` no longer operates on mojito iteself.. thanks for the cleanup, closing.

[2013-01-29 20:49] #31 closed, assigned to nobody

[2013-01-29 20:51] isao commented on #42
I think so..

[2013-01-30 00:16] gvaish commented on #427
This is super awesome!
@caridy - Makes a definite case for documentation / hilite.

[2013-01-30 21:09] ItsAsbreuk commented on #657
Caridy,

Agreed, the problem is solved.
Closing the ticket. Thx!

[2013-01-30 21:09] #657 closed, assigned to nobody

[2013-01-30 21:32] caridy commented on #44
Closing this, should not be a problem in 0.5.x.

[2013-01-30 21:32] #44 closed, assigned to nobody

[2013-01-30 21:33] caridy commented on #43
@drewfish is this still an issue or the msg was corrected?

[2013-01-30 21:54] zhouyaoji commented on #263
For the following examples, you have to go to URL http://localhost:8666/myBase/index to execute the mojit instance of type HTMLFrameMojit, which will deploy the binder code to the client. This information is in the file readme.md of each example.
- simple/part3
- simple/part4
- simple/part5

My guess is that focuzz went directly to http://localhost:8666, which would only render the child mojit ins

[2013-01-30 21:54] #263 closed, assigned to nobody

[2013-01-30 22:01] drewfish commented on #812
Yep, this was fixed in mojito@0.5.3.  Since mojito walks NPM packages breadth-first (all first-level packages are walked before second-level, those before 3rd level, etc), the "shallower" version of mojito, likely the direct dependency of the app, will be used.

[2013-01-30 22:06] drewfish commented on #178
Looking in `lib/app/autoload/route-maker.common.js` it looks like the default regex for `:token` matches is `[^/]+` so I'm surprised it didn't work for you.  Given that, I suspect that a custom regex won't help (though it's worth a try).

[2013-01-30 22:21] drewfish commented on #155
This was fixed in commit 4ff4d43.

[2013-01-30 22:21] #155 closed, assigned to drewfish

[2013-01-30 22:25] drewfish commented on #43
I'm pretty sure this was fixed in commit 8d4ce645 (though that function was later renamed to `validateContext()`).

[2013-01-30 22:25] #43 closed, assigned to nobody

[2013-01-31 22:18] dmorilha opened #963 "array gets concat when specialized into configurations"
We have defaults.json, master section, an array containing default elements to our mojit.

Then we have applications.json, specialized section, mojit config, an array containing more specialized elements to the same mojit (of course in a more specialized way).

We are getting a concatenated array containing first the elements of the generic array before the elements of the most specialized array.

[2013-01-31 22:22] caridy commented on #963
FYI: blend and blend3 are both doing array concat from what I can see in the code. /cc @drewfish

[2013-01-31 22:26] dmorilha commented on #963
code example https://gist.github.com/4687222

[2013-01-31 22:47] dmorilha commented on #963
by the way the problem happened we think that could be a regression on the way mojito handled arrays.

[2013-02-01 19:53] kinlum opened #965 "Better reporting of errors in config files"
This is a possible improvement:  If I start up a Mojito server, but added 1 comment to the file `mojits/hello/defaults.json`:

`"someName" : "someValue"    // TODO: correct this value later
`

which is illegal in a `.json` file but is an easy mistake to make.

and then did something else, such as update my package dependencies, and some code changes, and so forth, and I restart the server, then wh

[2013-02-01 21:17] caridy commented on #965
We can definitely improve error messages when it comes to invalid files and syntax errors.

In the case of the comments, you can get use to use .yaml files instead of .json to be able to add comments (supported in 0.5.x). You don't need to rework the content, u just need to rename and add your yaml comments.

[2013-02-02 17:06] rwaldura commented on #965
@kinlum Agreed! Thanks for reporting this.

[2013-02-03 22:10] ItsAsbreuk opened #966 "Promises in Mojito"
Hi,

Mojito uses callbacks for its asynchronous methods (for example in mojito.models.getData() and MojitProxy.invoke()).

I know YUI is developing Y.Promise and Y.Deferred at the moment (following the Promises/A spec). Could you consider doing the same for future releases? I know it involves rewriting a lot of code, but it makes mojito-projects structured in a much better way.

Thx,
Marco

[2013-02-03 22:46] ItsAsbreuk commented on #966
Sorry, its not an issue,
I should have post in on the Mojito-forum.

Have done so.
Marco.

[2013-02-03 22:46] #966 closed, assigned to nobody

[2013-02-05 16:43] caridy commented on #49
`mojito-cookie-addon` for the client side is already using Y.Cookie for all these methods:

[code]

We just need to get to feature parity for the server side implementation.

[2013-02-06 01:48] rwaldura commented on #17
doesn't appear to be too much of a problem...

[2013-02-06 01:48] #17 closed, assigned to nobody

[2013-02-07 00:09] jlecomte opened #968 "Need some documentation on Resource Store internal data structures"
It would be EXTREMELY useful to have some documentation on the format of the various internal data structures manipulated by the Resource Store and how those data structures are modified during preload, etc.

[2013-02-07 00:53] nonopolarity opened #970 "Is the search box not working currently?"
Right now, say, if I go to

http://developer.yahoo.com/cocktails/mojito/docs/intro/

and at the top left corner of the page, there is a search box, let's say I type in AJAX, and press Enter or click the Search icon, nothing happens?

[2013-02-07 22:31] isao commented on #968
check out the docs at http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_resource_store.html and the tests https://github.com/yahoo/mojito/blob/develop/tests/unit/lib/app/autoload/test-store.server.js etc

as you know, the team is in the process of changing structures and apis though

[2013-02-08 01:01] isao commented on #968
@jlecomte after checking the docs, you can try some forensics with your app and this patch https://github.com/isao/mojito/commit/8fbac40f7 (or just `npm i mojito@git://github.com/isao/mojito.git#issue968` in your app dir)

in your app, do `mojito start` and you'll get a dump of some files in /tmp containing the app and mojit data structures. I'm doing similar, @drewfish can explain more...

[2013-02-08 14:46] bigfatsea commented on #352
I'm getting this error again. (osx 10.8, nodejs 0.8.16, npm 1.1.69)

/usr/local/lib/node_modules/mojito/lib/app/autoload/store.server.js:1480
            posls = this.selector.getAllPOSLs();
                                  ^
TypeError: Cannot call method 'getAllPOSLs' of undefined
    at ResourceStore.YUI.add.Y.extend.resolveResourceVersions (/usr/local/lib/node_modules/mojito/lib/app/autoload/s

[2013-02-08 20:12] caridy commented on #352
@bigfatsea, this is a very old issue that was closed a while ago. Can you create a new issue and provide more data? including mojito version, repro case, etc.

[2013-02-10 00:58] trungpham opened #976 "move yui javascript files out of the <head> tag"
When using HTMLFrame and deploy=true. Mojito includes the following script tag in the head.

<script type="text/javascript" src="/combo~/static/yui/yui-base/yui-base-min.js~/static/yui/loader-base/loader-base-min.js~/static/yui/loader-yui3/loader-yui3-min.js~/static/loader-app.js~/static/loader-app-base.js"></script>

Can we move this seed tag to the bottom of the page so it won't block the page f

[2013-02-11 17:09] caridy commented on #976
Started on 0.5.3, we are encouraging people to implement their own frame mojit. we did the provision for this by simplifying everything, so it becomes easy for anyone to set any mojit as a frame mojit, in which case you will control the view and the position of the elements at your convenience.

@zhouyaoji is working on the documentation, in the meantime, you can check this example:

https://githu

[2013-02-11 17:09] #976 closed, assigned to nobody

[2013-02-11 23:08] rwaldura commented on #865
see also issue #25

[2013-02-12 02:42] rmadhuram opened #977 "Incorrect addon name"
http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_data.html

Documentation says "mojito-cookies-addon". It is actually "mojito-cookie-addon"

Thanks,
Raj

[2013-02-12 21:04] caridy commented on #977
/cc @zhouyaoji

[2013-02-12 23:00] zhouyaoji commented on #977
Thanks, Raj! The issue has been corrected.

[2013-02-12 23:00] #977 closed, assigned to nobody

[2013-02-12 23:39] rmadhuram commented on #977
Thanks!

[2013-02-13 22:03] aljimenez opened #979 "Can the tunnel path be modified and can parameters be appended?"
Currently the /tunnel call's path cannot be modified. We need to be able to modify the path and add URL parameters.

[2013-02-13 22:42] rwaldura commented on #979
tunnelPrefix lets you change the URL.
http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_configuring.html

Where/when would parameters get appended? On every call?

[2013-02-13 22:44] drewfish commented on #979
What kind of parameters do you want to add?  Are they fixed values, or do they come from code?

Basically, what is the high-level reason for these parameters?

(I'm open to the idea, but want to understand the underlying usecase/reason/issue.)

[2013-02-14 01:33] aljimenez commented on #979
We need to be able to modify the tunnel path and add parameters every time that mojitProxy.invoke is called. This is important to us specifically because we append tokens to the path for tracking purposes and need to distinguish between bucket tests using parameters. And so if we could modify /tunnel to something like /mytunnel;trackId=123?bucket=abc, we would be able to track the request and make

[2013-02-14 02:05] caridy commented on #979
for the trackId, either regular ult or "pageview-candidate" (a la comscore) makes sense because they will be consumed by external platforms during or after the requests gets to mojito, so I agree with adding support for that. For the bucket, I'm not so sure this is the right place. A tunnel is a POST request with a big payload, and adding parameters to it can complicate things, on top of that, the

[2013-02-14 11:57] gvaish opened #982 "combo~ URL returning 404 in HTML5App"
I am working on `todomvc` (https://github.com/addyosmani/todomvc) using Mojito.

The code is available at https://github.com/gvaish/todomvc-mojito/tree/master/todomvc-mojito-pure using `controller` with `common` affinity.
It works great.

However, after html5app build, the `index.html` has the combo URL as https://github.com/gvaish/todomvc-mojito/blob/gh-pages/pure/index.html#L18

This returns a 4

[2013-02-14 14:24] gvaish commented on #982
btw, I've used the following config:

[code]

[2013-02-14 18:07] caridy commented on #982
@gvaish I think we will have to revisit this use-case, specially the use of relative paths. In general, a combo is just an artifact to support your app that it happens to be part of the app itself, and it should not get affected by `forceRelativePaths` since it will not work in a pure html5 type of app.

So, change number one: disable combo for your app:

[code]

Change number two: if you want to

[2013-02-15 02:11] trungpham opened #986 "swapping out YUI Test"
Is there any documentation around 'mojito test' command?

I would like to be able to replace YUITest with JasmineJS.

[2013-02-15 08:42] gvaish commented on #982
@caridy Thanks.
`yui.config.combine=false` works great.

However, cannot get `base` or `root` working... I want to serve YUI from Yahoo-CDN. How do I do that?
Nor is `comboBase` working.

All in all, it's only combine or don't. Can't use YUI served from URL like http://yui.yahooapis.com/3.8.1/build/

[2013-02-15 11:12] gvaish commented on #982
Tried lot of hands... but failed to get `html5app` use relative `./static` path in `loader-app-base.js` that gets generated.  :-(

[2013-02-15 15:39] caridy commented on #982
@gvaish you're facing a configuration issue. @zhouyaoji  and myself are working on a very extensive piece of doc about yui configuration in mojito, still preliminar (https://github.com/zhouyaoji/mojito/blob/docs_yui_seed_update/docs/dev_guide/topics/mojito_yui_config.rst#getting-yui-to-your-application)

In general, I tried the app using `mojito start` and it works just fine with `combine: false`,

[2013-02-15 15:47] gvaish commented on #982
@caridy Thanks. Will wait for the PR.

pure, I guess is a misnomer. I should rather call is affinity-common and may be rename server to affinity-server in the same spirit.

I wanted to demonstrate few innovative and interesting things for Mojito:
1. Common affinity for controller and how it works. How `proxy.invoke` can be used to wire binder and controller. Do not use any other framework other th

[2013-02-15 16:37] caridy commented on #982
Ok, no PR today. I just noticed that you are running on a very edge case where assets with relative paths gets messed up with this condition in assets addon:

[code]

I need more investigation on this. Adding it to trello in the meantime.

[2013-02-15 16:44] gvaish commented on #982
Bingo. I did not dig deep into the code but I thought something like this... bleeding edge of the edge! :-)

[2013-02-17 22:06] emersonmatsumoto opened #991 "[doc] missing comma between null NAME"
http://developer.yahoo.com/cocktails/mojito/docs/code_exs/simple_logging.html

3 Modify your controller so that one log message uses the default log level and one log message has the log level set by Y.log by replacing the code in controller.server.js with the following:

missing comma:
Y.log('[CONTROLLER]: Default log-level message with date: ' + new Date(), null NAME);

[2013-02-18 08:56] nottoseethesun commented on #823
Agree on the doc being okay.  Thank you.  The error message issue should be fixed though.

[2013-02-18 16:46] swamib opened #992 "[bz6101664] Mojito tunnel requests as GET to aid caching"
All the mojito invoke tunnel requests is using POST which does not facilitate caching at YTS / Edge layer. Allowing ability to use GET requests (making it configurable) and setting cache header for it would help the requests being served from Edge cache and reduce page latency.

[2013-02-19 00:29] caridy commented on #991
@zhouyaoji will be great if we can fix this and also replace all the `null` with `"info"` or `"debug"`, which is the right thing to do.

[2013-02-19 06:45] zhouyaoji commented on #991
@caridy The example is supposed to show that if you don't specify the log level in `Y.log`, the default ("info" in this example) defined in `application.json` is used.  Thus, explicitly specifying `info` or `debug` is counter to what that particular `Y.log` statement is trying to show. I'll fix the typo right right now.

[2013-02-19 15:03] caridy commented on #991
Got it! thanks @zhouyaoji

[2013-02-19 17:41] zhouyaoji commented on #991
Thanks, emersonmatsumoto! I've corrected the documentation.

[2013-02-19 17:41] #991 closed, assigned to nobody

[2013-02-20 19:37] caridy commented on #25
will be available in mojito@0.5.5 scheduled for next week.

[2013-02-20 19:37] #25 closed, assigned to nobody

[2013-02-20 19:37] caridy commented on #865
will be available in mojito@0.5.5 scheduled for next week.

[2013-02-20 19:37] #865 closed, assigned to caridy

[2013-02-21 20:14] #159 closed, assigned to nobody

[2013-02-21 20:21] rwaldura commented on #293
Workaround is to pass the parent's action context to the child mojit.

[2013-02-21 20:39] redonkulus commented on #159
@rwaldura why was this closed? Its a bug. In my examples above, the URL I want is never actually rendered correctly.

[2013-02-21 20:42] rwaldura commented on #159
Why are you trying to generate URLs based on dynamic urls with regex and wildcards?
What's the use-case?

[2013-02-21 20:48] redonkulus commented on #159
@rwaldura I'm passing in a variable to url.make() so that the URL is generated dynamically.  Based on the route the following:

url.make('page', 'index', '', 'GET', { interestId: 'Barack_Obama'});

Should produce /Barack_Obama

However, the 3rd rule always matches since all the routes share the same controller/action call. We should be able to use the same controller/action call for different rout

[2013-02-21 23:51] caridy commented on #293
Mixing "ac" from parent to child chould be problematic. I think the solution for this is also related to the work I have done on error propagation from child to parents, etc. I will think more about this.

[2013-02-22 00:10] caridy commented on #159
-1

This might be VERY problematic.

[2013-02-22 00:16] redonkulus commented on #159
@caridy are you saying the above pattern would not be recommended in the routes file? I would have to have a different action to support each route? Seems convoluted.

[2013-02-22 03:36] caridy commented on #159
I'm saying we need a better way to define routes. Here is what I will like to see:

1- a way to identify routes
2- using the route identifier from mojits and from shared mojits controller to produce urls
3- using the route identifier from a template's helper in the client and server to produce urls

After few weeks analyzing this problem as part of a separate effort (YAF integration), I came to th

[2013-02-22 19:07] sqawasmi commented on #293
seems this related to an issue i have, ac.http.redirect is not working in HTMLFrameMojit child, this was working fine in 0.5.2 but got broken by 0.5.3

[2013-02-22 22:05] caridy commented on #293
@sqawasmi can you provide an repro case?

[2013-02-22 23:07] sqawasmi commented on #293
the following is a sample repo:
https://github.com/sqawasmi/htmlframe_mojit_mojito_issue_293.git

in mojito 0.5.2, requesting the following link:
http://127.0.0.1:8666/
will redirect you to http://127.0.0.1:8666/index

however, running the same application using mojito 0.5.3 will give HTTP/1.1 200 OK with "null" in the body.

[2013-02-23 00:16] caridy commented on #293
That's all I need, thanks @sqawasmi. I will try to get this fix for `0.5.5` on monday.

[2013-02-23 01:22] #982 closed, assigned to nobody

[2013-02-23 09:10] gvaish commented on #982
@caridy / @isao - The code is not yet pushed to npm, right?

[2013-02-25 02:55] caridy commented on #982
No, it is not. You can get it from "develop" branch, or wait until we push to NPM in a couple of days.

[2013-02-25 16:54] isao opened #1006 "build hybrid app regression"
from Ji liang 2/24:

DP-Integration-Test is failing on mojito 0.5.4-133-g443bf5e

To reproduce this:
1.install latest IDE plugins from here:
http://<redacted>/update,
 download the latest Mojito, CRT by IDE download manager.
2. Create new mojito project,right click the project ->content menu->run
as -> ipad app on simulator
3. Then index rendered was not right, and expand the
app/artifacts/builds/

[2013-02-25 17:15] caridy commented on #1006
It might be related to PR #997 and the upcoming fix #1007

[2013-02-25 22:11] rwaldura commented on #979
@aljimenez any comments, or update?

[2013-02-25 23:53] caridy commented on #293
This fix will be included in tomorrow's release!

[2013-02-25 23:53] #293 closed, assigned to caridy

[2013-02-26 20:35] isao commented on #1006
fix confirmed by Ji Liang

[2013-02-26 20:36] #1006 closed, assigned to nobody

[2013-02-26 22:00] jlecomte commented on #979
Just reiterating what we need: on each mojitProxy.invoke calls, we want to be able to _programmatically_ (i.e. using dynamic values) set the entire URI used in the /tunnel call. Just as an example, in our specific case, a call could look like:

/tunnel;_ylt=A0oGdV8GMC1RcBgAQNhXNyoA;_ylu=X3oDMTE5aWhtbjdhBHNlYwNvdi10b3AEY29sbwNzazEEdnRpZANTTUUwNDFfMTU0BHBvcwMx?tmpl=USN002

The next /tunnel call woul

[2013-02-26 22:06] caridy commented on #979
Yeah, that part is clear, but it does not answer my previous question. Why do we need `tmpl`? it is the same in both requests, which makes me think it belongs to the context rather than just a querystring parameter.

[2013-02-26 22:44] jlecomte commented on #979
The exact reason of why we need that parameter is complicated to explain and not very relevant to this discussion. I can explain it to you offline. It has to do mostly with other parts of our infrastructure.

[2013-02-27 00:22] jenny commented on #979
https://trello.com/card/gh979-search-tunnel-params-mid-march/504e5e3b7cd1578456fc430f/415

[2013-02-27 01:57] akshar100 opened #1014 "Getting rid of the Foo"
Whenever we run 'mojito create mojit SomeMojit' it generates a lot of code for us. However I do not see any point in appending the Model names with "Foo". It gets very irritating once you create multiple mojits and have to modify all the files were there are references to "SomeMojitModelFoo".

[2013-02-28 01:59] zhouyaoji opened #1015 "Setting `staticHandling.prefix=""` does not allow you to remove the prefix to the static URL"
The Store allows you to use an empty string to configure your app _not_ to have a prefix for static URLs:

`mojito/lib/app/autoload/store.client.js`

[code]

Unfortunately, the Resource Store, however, seems to override this behavior:

mojito/lib/app/addons/rs/url.js

[code]

I've actually played around with both files and changing the value in
`rs/url.js`, allowing you to define the default prefi

[2013-02-28 05:56] rwaldura commented on #1015
All right Joe! Nice work.
We’re going to make a developer out of you ☺

From: Joe Catera [mailto:notifications@github.com]
Sent: Wednesday, February 27, 2013 6:00 PM
To: yahoo/mojito
Subject: [mojito] Setting `staticHandling.prefix=""` does not allow you to remove the prefix to the static URL (#1015)

The Store allows you to use an empty string to configure your app not to have a prefix for static

[2013-02-28 18:04] jlecomte commented on #812
I am still seeing this issue with mojito 0.5.4 when linking a package that requires mojito 0.5.x.

[2013-03-01 04:25] gotwarlost opened #1017 "Putting a README.md in the mojits/ directory causes mojito to not load"
[code]

Not a big deal but a bug all the same.

[2013-03-01 04:26] gotwarlost commented on #1017
Note how it thinks that `README.md` is a directory. If this is common code, this bug may have other subtler manifestations.

[2013-03-01 16:24] caridy commented on #1017
/ping @drewfish

[2013-03-04 16:31] drewfish commented on #1017
Looks like a bug in the resource store.

[2013-03-04 18:12] rmadhuram opened #1020 "Typo"
Says "Mojito mayor version"

[2013-03-04 19:33] drewfish commented on #1020
Where are you seeing this?  I couldn't find "mayor" when I grepped through the source code.

[2013-03-04 19:36] rmadhuram commented on #1020
Sorry the context is not carried over when I click on "Report a bug"
It is on this page:http://developer.yahoo.com/cocktails/shaker/shaker_starting.html#running-shaker
"Nontherless here a table where you can find the most stable version of Shaker for each mojito mayor version:"

[2013-03-05 00:46] zhouyaoji commented on #1020
Hi rmadhuram, I've updated the Shaker docs for you, but if you see issues with the Shaker docs in the future, please file an issue in the yahoo-shaker GH repository: https://github.com/yahoo/mojito-shaker/issues

Thanks again for helping to improve the documentation.

[2013-03-05 00:46] #1020 closed, assigned to nobody

[2013-03-05 18:49] rmadhuram commented on #1020
Thanks Joe.

[2013-03-05 19:36] drewfish commented on #812
Hi @jlecomte, could you give more details?  The output of `npm ls` would be a good start.

[2013-03-05 22:59] jlecomte commented on #812
$ ynpm ls
search-apps-news@0.0.1 /git-data/apps/search-apps-news
├─┬ jsdom@0.2.1
│ ├── cssom@0.2.5
│ ├── htmlparser@1.7.6
│ └─┬ request@2.14.0
│   ├─┬ form-data@0.0.7
│   │ ├── async@0.1.22
│   │ └─┬ combined-stream@0.0.4
│   │   └── delayed-stream@0.0.5
│   └── mime@1.2.9
├── mockery@1.4.0
├─┬ mojito@0.5.4
│ ├── colors@0.6.0-1
│ ├─┬ express@2.5.10
│ │ ├─┬ connect@1.9.2
│ │ │ └── formidable@1.0.12

[2013-03-05 23:00] jlecomte commented on #812
yahoo-mojits-search-core is a linked package that contains another mojito instance with a different version. Here is the error I get:

[ERROR][Cosmo:Registry] Could not load application i1362524287 due to exception TypeError: Object #<ResourceStore> has no method 'makeStaticHandlerDetails'
    at process (/git-data/apps/search-apps-news/node_modules/yahoo-mojits-search-core/node_modules/mojito/lib

[2013-03-05 23:24] drewfish commented on #812
OK, thanks, I'll dig into it.

Does yahoo-mojits-search-core _need_ to be linked?

[2013-03-06 00:43] jlecomte commented on #812
That mojit is linked during development. It does not have to be, but it is useful to be able to do so.

[2013-03-06 19:53] drewfish commented on #812
I'm able to reproduce, in all of the following: `./dev`, `./node_modules/.bin/mojito-shaker shake`, and `./node_modules/.bin/mojito start`.

I don't think the link is related to the problem at all.

[2013-03-06 21:32] drewfish commented on #812
Hmmm... this is a tricky problem.  You have two versions of mojito installed in your app:  mojito@0.5.4 is shallow in the dependency tree, and mojito@0.5.5 is deep in the dependency tree.

We can only use one version of mojito.  Which should we use?  One the one hand, we should use the "shallowest" since it represents a more specific/tighter dependency.  This is especially true if it is a direct d

[2013-03-07 01:00] drewfish commented on #812
After talking with Caridy, the consensus is that we should be using the shallow version of mojito.  This is what is used today.  So, mojito just needs to skip other versions of mojito.

[2013-03-07 17:23] drewfish commented on #812
This should be fixed by PR #1023 (which was just merged).  It'll be in the next release of mojito (after 0.5.5).

[2013-03-07 17:23] #812 closed, assigned to nobody

[2013-03-07 22:01] dmorilha commented on #523
@caridy  @jimenez yes, still an issue on 0.5.4. Sorry for the huge delay, I usually don't see public github notifications.

[2013-03-07 22:48] caridy commented on #523
Yes, and it makes sense. The reason for this behavior is the instance expansion process. `_dispatch` (which is an internal API that you should not be using) will use `dispatcher.dispatch` under the hood, which uses `store.expandInstance(command.instance, command.context, callbackWhenInstanceIsReady)`. And the `expandInstance` method could be async or sync depending on the state of the internal cac

[2013-03-07 22:48] #523 closed, assigned to nobody

[2013-03-11 15:02] lexander opened #1025 "Documentation for logging doesn't specify where logs are stored"
Not very useful to have logging if you don't tell people where to view the log files.

[2013-03-11 15:46] rwaldura commented on #1025
@zhouyaoji
@lexander thanks for the report. Where should the log location be specified? Which section of the doc is it missing from?

[2013-03-11 16:54] rwaldura opened #1026 "Compatibility with Node.js 0.10"
@gotwarlost says:

Looks like the Mojito team may have some work. I installed v0.10.0 to test istanbul and then started a mojito app. This app starts up correctly with node v0.8.x.

[code]

[2013-03-11 17:34] isao commented on #1026
error occurs here when res.url is null: https://github.com/yahoo/mojito/blob/develop/lib/app/autoload/store.server.js#L712

in node 0.8:

[code]

in node 0.9+

[code]

[2013-03-11 17:46] isao commented on #1026
pull #1028 fixes the exception above, and mojito starts with newsboxes.. there may be other errors related to path.join(null) on node 0.9/0.10

[2013-03-11 17:47] caridy commented on #1026
Weird, `this._libs.path.join(this._appConfigStatic.pathToRoot || '', res.url)` seems to be ok, unless that there is no `url` for the `res`, which is even more weird. /cc @drewfish

[2013-03-11 19:05] lexander commented on #1025
d'oh, I thought that the link to "Report an issue on this page" would include the location from which I came as a parameter.

Here's the page where I'd expect to find documentation on default log locations and how to configure those locations - http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_logging.html

[2013-03-12 21:04] caridy commented on #1026
Solved in mojito@0.5.6

[2013-03-12 21:04] #1026 closed, assigned to nobody

[2013-03-12 22:05] caridy commented on #979
@jlecomte one last question: Does this custom tunnel url is defined per req? per page? per mojit?

In the current implementation, the tunnel req url is defined per app, which means it is static, all requests and pages and mojits will use the same thing, but it seems to me that the tracking information you want to add is per mojit (the _ylt section) and per page (the tmpl section). Can you clarify?

[2013-03-14 18:34] rmadhuram opened #1033 "Invalid link in Shaker document"
In http://developer.yahoo.com/cocktails/shaker/shaker_starting.html,
Clicking on the "Shaker: Example" link gives a 404.

Raj

[2013-03-15 20:33] rmadhuram commented on #1014
+1

[2013-03-20 15:06] kevinhasslinger opened #1039 "Firefox loads wrong page from cache."
A Mojito based Webpage which contains several subpages: a, b, c etc..
Sometimes I get randomly the problem in firefox, that firefox requests page 'a', but mojito delivers 'b'. After clearing the cached web content, this problem is solved for some time.
Never had this problem in Chrome.

There is no problem with routing in my mojito application, i clearly see that mojito thinks 'b' is requested.
No

[2013-03-20 16:32] rwaldura commented on #1039
Ooooh very strange! @kevinhasslinger we're going to need your help debugging this one, because it sounds very very peculiar. Could you generate some automated traffic against your app, and identify a reproducible test case? That would really help narrow down the problem.

[2013-03-20 18:25] caridy commented on #1039
@kevinhasslinger when that happens, do you see the request for "a" in the access logs while mojito responds with "b"? I wonder if the problem is happening before the request gets to mojito.

[2013-03-21 01:31] kevinhasslinger commented on #1039
mojito shows 'b' in access log (="thinks" from original post) is requested and delivers 'b'. Which means this is either a bug in firefox, or deep down in mojito/express?
Maybe a tool like wireshark can tell me what url firefox is really requesting, or is there a more pleasant way to do that?
mojito current version 0.5.6 by the way.

[2013-03-21 14:33] rwaldura commented on #1039
Wireshark is cool, and will certainely show exactly what's happening on the wire.
But I'd start with Firebug, see what the "Net" panel says.

[2013-03-21 21:37] jlecomte opened #1042 "Cannot run mojito-perf if I don't use the mojito CLI"
I start Mojito without using the CLI (mojito start) and it seems like a recent regression prevents me from running mojito-perf that way. Indeed, I set the following in my config:

"settings": ["master"],

"perf": {
    "logFile": "/tmp/mojito-search-apps-news-perf.log",
    "timeline": true,
    "mark": true
}

The logFile setting is not used because of this line:

https://github.com/yahoo/mojito/

[2013-03-21 22:23] caridy commented on #1033
/ping @zhouyaoji

[2013-03-21 22:35] caridy commented on #1025
@lexander mojito does not write logs into a file, that's not something the framework will do, but the underlaying infrastructure, in this case node.js. Mojito simply writes into the node.js console, whatever node.js does with the logs, dumping them into a file, or transmit them into an aggregated hub for multiple cores, or whatever other crazy idea people decide to implement has very little to do

[2013-03-21 22:35] #1025 closed, assigned to nobody

[2013-03-21 22:36] caridy commented on #992
/ping @ekashida

[2013-03-21 22:37] caridy commented on #986
/ping @isao

[2013-03-21 22:38] caridy commented on #970
/ping @zhouyaoji

For the record, it works just fine for me.

[2013-03-21 22:44] drewfish commented on #1017
I think the fix entails added a check in lib/app/autoload/store.server.js _preloadDirMojit() to make sure that the `dir` argument is actually a directory (and just return if it isn't).

[2013-03-21 22:57] rwaldura opened #1043 "Mojito started on http://127.0.0.1:8666/"
See http://developer.yahoo.com/forum/Yahoo-Mojito/Binding-Mojito-to-another-address/1363299307784-f3079bf9-e416-4796-9621-63ecf246166a

The CLI message is wrong; in reality the process is bound to 0.0.0.0.

[2013-03-21 22:57] caridy commented on #1042
@jlecomte `logFile` was never intended to be defined in application.json, it is a cli only option. In order to collect perf information you need two things:
- perf config in `application.json` (to enable `timeline`, `mark`, etc.)
- `mojito start --perf` or `mojito start --perf something.log` or `mojito start --perf each{req}.log`

aside from that, remember to use the profiler to generate the nice

[2013-03-21 22:57] #1042 closed, assigned to caridy

[2013-03-21 23:13] zhouyaoji commented on #1033
Thanks, Raj. I've fixed the link. Sorry if I asked this before, but for Shaker doc issues, can you file the issue in the Shaker GH repo (https://github.com/yahoo/mojito-shaker).

[2013-03-21 23:13] #1033 closed, assigned to nobody

[2013-03-21 23:15] rmadhuram commented on #1033
Thanks Joe. Sure. I'll do it from next time onwards.

Raj

[2013-03-21 23:17] zhouyaoji commented on #1033
Great, thanks!

[2013-03-21 23:51] nonopolarity commented on #970
Later on, I found out when there is any search result, the result is shown, but if there is no result, there is not message on the page.  It simply stay the same as it was, giving the impression that nothing is happening.  Try entering `foobar` and do a search and it will show.

[2013-03-22 15:05] lexander commented on #1025
Ah, well then perhaps the documentation (this bug wasn't about what Mojito does or does-not do) should call that out. Here's a pull request with the change https://github.com/yahoo/mojito/pull/1045

[2013-03-23 00:52] denchen opened #1046 "mojitProxy.config not being updated after mojtiProxy.refreshView"
When setting ac.instance.config.<some variable> after a call to mojitProxy.refreshView(), mojitProxy.config does not get updated to reflect new variable.

The relevant portions of my test code:

=== CONTROLLER ===

[code]

=== BINDER ===

[code]

=== VIEW ===

[code]

[2013-03-23 02:25] caridy commented on #1046
Workaround, from Yi:

[code]

[2013-03-25 16:33] rwaldura commented on #927
resolved fixed

[2013-03-25 16:33] #927 closed, assigned to nobody

[2013-03-25 21:20] #86 closed, assigned to nobody

[2013-03-25 21:27] rwaldura commented on #1043
@isao who's working on the CLI

[2013-03-28 06:03] gvaish opened #1050 "HTML5App looking for "POST /tunnel""
Wonder if `HTML5App` should look for "/tunnel" even if there are no components with any `server` affinity?

[2013-03-28 14:31] caridy commented on #1050
Can you elaborate more? Tunnel will not work with an offline app.

[2013-03-28 14:41] gvaish commented on #1050
@caridy Bingo. I assumed/expected the same :-)

Basically, what I was looking at is - if I have mojits that have either common or client affinity controllers only, can Mojito work without making a call to "/tunnel" to fetch the components (views, model, controller etc).

I guess it doesn't make too much sense for this case...

[2013-03-28 14:42] gvaish commented on #1050
Well, the "referenced issue" is - https://github.com/addyosmani/todomvc/pull/507

[2013-03-28 14:53] caridy commented on #1050
I'm not so sure I follow. Views, Models and Controllers are just YUI modules setting in the `static` folder when producing an offline app. They will be loaded when needed without any hazard. Aside from that, the definition/spec will be loaded from local as well since they will be precomputed and stored in disk. In other words, on demand mojits will/should work just fine. What will not work is the

[2013-03-28 21:25] isao commented on #809
as mentioned there are some color codes output when running `mojito test` but they do not come from the cli. The actual test output is tty aware. i.e. the following have no colors when piped to a file or `cat`, etc:

[code]

[2013-03-28 21:25] #809 closed, assigned to nobody

[2013-03-28 21:49] isao commented on #979
closed by pull #1044 (see also https://github.com/yahoo/mojito/wiki/ReleaseNotes0_5_7)

[2013-03-28 21:51] #979 closed, assigned to nobody

[2013-03-28 22:55] ekashida commented on #979
@aljimenez, feel free to ping me if you need more details around how to configure and handle custom tunnel URLs.

[2013-03-31 11:24] gvaish commented on #1050
@caridy The issue that I am seeing is that even though all components have "common" affinity (controller + model), the `html5app` code generated makes a call to `/tunnel`.

btw, the application is live at http://gvaish.github.com/todomvc-mojito/common/
Keep the firebug open and you'll notice two calls:
1. `/static/TodoMojit/definition.json?runtime=client&site=&device=&lang=en&langs=en%2Cen&region=

[2013-04-01 15:38] caridy commented on #1050
@gvaish few comments:
- `/static/TodoMojit/definition.json?***` is just fine. Those querystring parameters will not play a role because that definition.json was already generated when you did `mojito build html5app path/ --context whatver:something`, so, they will be effectively ignored.
- `/tunnel` calls should not be made under those conditions unless that a particular mojit is forcing controlle

[2013-04-01 16:09] caridy commented on #1050
@gvaish I was able to reproduce the issue, and I found a couple of bugs in store-client that prevent the use of relative paths in HTML5 apps, I plan to fix it asap. I will commit against this issue.

[2013-04-01 16:10] caridy commented on #1050
Trello card: https://trello.com/card/todomvc-gh1050-store-client-does-not-play-nicely-with-relative-static-handling-prefix/504e5e3b7cd1578456fc430f/474

[2013-04-01 16:14] gvaish commented on #1050
@caridy Cool. So, it seems the `todomvc` app has really served Mojito dev well :smile:

Will await the updates. Take your time!

[2013-04-01 23:45] isao opened #1053 "path.join() errors in node 0.10"
see [trello card #453](https://trello.com/card/fix-non-string-param-errors-from-path-join-on-node-0-9-0-10/504e5e3b7cd1578456fc430f/453)

[2013-04-03 16:56] zhouyaoji commented on #970
It worked fine for me, and when I search for a term that had no results such as "zzzzzz", the search page says that there were no results found. Closing bug. Thanks!

[2013-04-03 16:56] #970 closed, assigned to nobody

[2013-04-04 22:19] rwaldura opened #1060 "MQSG tweaks"
- Include a Y! copyright at bottom: _Copyright (c) 2011-2013, Yahoo! Inc.  All rights reserved._
- Drop the Cocktails logo, use Mojito logo instead, and link to http://developer.yahoo.com/cocktails/mojito/
- Replace _Interested in how this web app is built? Please visit our git project page for more info._ at bottom with: [Learn more about this application.](https://github.com/yahoo/mojito/tree/de

[2013-04-04 22:25] rwaldura commented on #1060
![mojito-logo-white-bkg](https://f.cloud.github.com/assets/504234/341641/924da8ac-9d76-11e2-969b-0b620e19beaf.png)

Logo to use

[2013-04-04 23:41] isao commented on #1043
mojito's underlying express/connect/node http server is started without specifying a host, and afaict mojito ends up listening to "connections directed to any IPv4 address (INADDR_ANY)." [link](http://nodejs.org/api/http.html#http_server_listen_port_hostname_backlog_callback)

OMM:

[code]

... bout http://0.0.0.0:8666 also works

[2013-04-05 00:36] isao commented on #986
@trungpham sorry unfortunately no docs beyond the code, which is due for refactoring after we move the cli commands into mojito-cli.

[2013-04-05 00:37] #1053 closed, assigned to nobody

[2013-04-05 17:21] rwaldura commented on #1043
@isao you're entirely correct.
Let's change the startup message to "Mojito started on on port 8666" because that's what it does.

[2013-04-05 18:11] rwaldura commented on #1060
@luchenghan

[2013-04-05 20:36] dormfood commented on #1060
Instead of replacing Cocktails logo, mojito logo is used at the top as title.
Please see http://y.ahoo.it/mqsg
Thanks.

[2013-04-05 21:31] isao commented on #968
i'm deleting the branch with the patch above, moved patch to https://gist.github.com/isao/5314079

[2013-04-05 22:54] ekashida opened #1063 "Should not use require('path').normalize() for URL paths"
https://github.com/yahoo/mojito/commit/ea75f3aa8027e5000e7e75ebe0dde7e704ef047a#lib/app/middleware/mojito-handler-tunnel-parser.js
This will cause problems in the Windows version of node since Windows uses backslashes in file system paths.

[2013-04-05 23:28] isao commented on #1063
that diff looks ok, the docs [say](http://nodejs.org/api/path.html#path_path_normalize_p) "On Windows backslashes are used.". and those paths are for middleware/uri's seems.

but I'm sure there are other places where this issue does apply.

[2013-04-06 04:22] #1043 closed, assigned to nobody

[2013-04-08 18:36] isao opened #1065 "remove special-case hybridapp resources and code"
"hybridapp" code and resources were purpose built for use with other cocktails components outside mojito. They were never completely documented, defined, or stable. Their development has recently stopped.
- [x] rm archetype `mojito create app hybrid`
- [x] rm code for `mojito build hybridapp`
- [x] rm archetype, code for mojito-create (mojito-cli) package
- [x] update tests
- [x] update HISTORY.md

[2013-04-08 19:52] #1065 closed, assigned to isao

[2013-04-09 03:05] gvaish commented on #1050
@caridy Is the Trello task done? I saw a notification

But then the card went missing... Got curious.

[2013-04-09 06:31] nccuMis opened #1070 ""Mojito: Tale of Two Runtimes" incorrect"
"Mojito: Tale of Two Runtimes" points to incorrect page.

[2013-04-09 07:08] caridy commented on #1050
@gvaish we discussed the card today during a meeting, and we have decided to move it into another board where we are reworking mojito-next which is the next big iteration on mojito and its underlaying components. The reason why we moved there is because I have found some issues with the current implementation and fixing it might take longer that I was expecting which aligns better with the refacto

[2013-04-09 07:09] caridy commented on #1070
/ping @zhouyaoji

[2013-04-09 18:41] zhouyaoji commented on #1070
Thanks, I've updated the link!

[2013-04-09 18:41] #1070 closed, assigned to nobody

[2013-04-09 18:42] zhouyaoji commented on #871
Thanks, I've updated the range of versions of Node.js that Mojito can run on.

[2013-04-09 18:42] #871 closed, assigned to nobody

[2013-04-10 01:12] nccuMis commented on #1070
very responsive.

2013/4/10 Joe Catera notifications@github.com

[2013-04-10 17:18] rwaldura commented on #1060
I'm sorry, there was some confusion: please replace the "Powered by Cocktails" logo with a Mojito logo.
@luchenghan
The title should be all text.

[2013-04-10 18:53] imalberto opened #1074 "Replace with higher quality images on the document examples."
Here is [one](http://developer.yahoo.com/cocktails/mojito/docs/code_exs/scroll_views.html) example.

The other examples also could use improve images.

[2013-04-10 23:17] jlecomte commented on #523
A method should not be sometimes synchronous and sometimes asynchronous if it does not support a callback function as a parameter. That is the only way to abstract the nature of the execution of a routine.

Yes, we are calling an internal API and there are good reasons why we are doing that. We would like to have the _dispatch method support a callback function as argument so that our code will wo

[2013-04-10 23:41] caridy commented on #523
@jlecomte let me rephrase my initial statement "`And the expandInstance method could be async or sync depending on the state of the internal cache.`", I should have said "`And the expandInstance method will call the callback method in an async or sync way, depending on the state of the internal cache.`"

I'm not very familiar with the reasons why ac._dispatch, and the subsequence processes were de

[2013-04-11 17:45] dormfood commented on #1060
Done. Please visit http://y.ahoo.it/mqsg
PR issued, waiting for merge.
Thanks.

[2013-04-12 23:45] zhouyaoji commented on #1074
I've updated the images to be more consistent and of better quality. Thanks for your feedback! @lmalberto

[2013-04-12 23:45] #1074 closed, assigned to nobody

[2013-04-13 19:31] gvaish commented on #1050
@caridy Will ping you directly.

[2013-04-15 18:55] #1060 closed, assigned to nobody

[2013-04-25 14:02] kevinhasslinger commented on #1039
I know this report is a month old, but until today I didn't got this weird behavior again.
It's definitely a problem with Firefox: in Wireshark I can see that Firefox is requesting /b and mojito delivers that correctly. Even if I call localhost:8666/a directly in FF from Adress bar, FF still asks for localhost:8666/b.

Sorry for bothering mojito as the reason for this.

[2013-04-25 14:02] #1039 closed, assigned to nobody

[2013-04-25 16:30] rwaldura commented on #1039
Thanks for following up!

[2013-05-02 18:53] dormfood opened #1091 "Better way to disable Zombie timer at mojit level"
It may come to a situation where the developers want to handle the http response by themselves, and calling actionContext.done will be a problem.
Per discussion with Caridy, currently there is no good way to disable the zombie detection in mojit level except for hacking action context. Maybe this can be done in a cleaner api call.

Please help label this as an "enhancement"

Thanks,
Steven

[2013-05-03 15:53] caridy commented on #1091
Though: "The enhancement here is really about been able to call ac.done with a noop signal when the output has been sent thru another channel."

[2013-05-06 12:53] lazybean opened #1096 "DOC: Frame Mojit chapter: broken link for Custom Frame example full code"
Hi,

There is a broken link in the doc: https://github.com/yahoo/mojito/blob/develop/docs/dev_guide/topics/mojito_frame_mojits.rst#example-1

This  "see `frame_app <https://raw.github.com/caridy/Mojito-Apps/master/frame_app>`_." goes to a 404 page.

Take care

[2013-05-06 14:58] caridy opened #1097 "`mojito start` fails on windows 8"
[code]

If fails with: "Cannot call method `getAllPOSLs` of undefined` in store.server.js 1504"

The same is affecting `mojito test`, and probably any other command that uses the store.

[2013-05-06 15:13] caridy commented on #1097
/ping @drewfish

[2013-05-06 15:16] caridy commented on #1096
/ping @zhouyaoji

[2013-05-06 16:51] zhouyaoji commented on #1096
Thanks, @lazybean. I've corrected the link.

[2013-05-06 16:51] #1096 closed, assigned to nobody

[2013-05-06 18:25] jlecomte opened #1099 "ac.partial.render is the source of log spam"
When ac.partial.render() is called, the following line is output into the logs:

`warn: (mojito-hb): [view] argument in [render] method should be an object`

For us, this happens over and over and over, creating much unneeded log spam... Apparently, `partial.common.js` was not updated to use the new view format.

[2013-05-06 18:54] #1099 closed, assigned to caridy

[2013-05-07 07:33] lazybean commented on #1096
Thanks a lot!

[2013-05-10 05:42] Pridesama opened #1106 "Invalid value from ac.params.getFromUrl(key)"
for a url like
<code>[hostname]/[path]?key=value#hash=my_hash</code>

ac.params.getFromUrl('key') will return   <code>key=value#hash=my_hash</code> not <code>key=value</code>

[2013-05-10 17:18] drewfish commented on #1014
The trick is that you can have more than one model in each mojit.  In that case you'll need a way to distinguish them.  So, giving your models an explicit name (in the YUI module name) is considered a good practice, to make room for the future.

[2013-05-10 17:19] drewfish commented on #824
+1.  Good description of problem, and good solution.

[2013-05-10 17:22] drewfish commented on #249
Check out the new `mojito-data-addon` available in 0.5.9pr1.  It can expose data as either `ac.data.set(name,value)` or `ac.pageData.set(name, value)`.  For pageData, that info is available to all controllers in the request (once set) and is available to all binders on the resulting page (as `mojitProxy.pageData.get(name)`).

[2013-05-10 17:24] drewfish commented on #111
This was an internal code factoring task, and the associated bug (4647457) has expired.

[2013-05-10 17:24] #111 closed, assigned to nobody

[2013-05-10 17:29] drewfish commented on #80
Closing, since the latest thinking is to build mojito _more_ on express.

[2013-05-10 17:29] #80 closed, assigned to nobody

[2013-05-10 18:11] drewfish opened #1107 "collision detection for resource versions is naive -- wrong choice for YUI modules"
The resource store detects when a resource version is provided by multiple packages, and tries to use the one in the "lowest" package (one closest to app, possibly the app itself).  That part works fine.

However, `rs.yui.getModulesConfig()` ignores this resolution, and ends up using the code in the highest/last package, contrary to the intentions of the store.

Reproduction case: https://github.c

[2013-05-11 18:41] nottoseethesun commented on #824
Thanks Drew!

[2013-05-13 06:04] gvaish commented on #249
This is really cool! Thanks @drewfish!

[2013-05-16 00:22] #1107 closed, assigned to nobody

[2013-05-16 22:26] aljimenez opened #1121 "route-maker JS Error on IE6 and IE7"
The array returned by String.match is being iterated through a forin and, as a result, non-string properties such as index are evaluated and substr fails with the error below. Check the [match method on IE](http://msdn.microsoft.com/en-us/library/7df7sf4x.aspx).

Line 121: Object doesn't support property or method 'substr'

[code]

[2013-05-17 00:57] #264 closed, assigned to nobody

[2013-05-17 00:59] caridy commented on #1097
Closing after merging #1103

[2013-05-17 00:59] #1097 closed, assigned to nobody

[2013-05-17 00:59] caridy commented on #1063
Closing after merging #1103

[2013-05-17 00:59] #1063 closed, assigned to nobody

[2013-05-17 01:21] caridy commented on #1015
We will remove the ability to use a prefix due the fact that static assets should not be coming from the app origin, but from CDN, and for development we will use a "fixed" path, same for html5 apps. Closing this.

[2013-05-17 01:21] #1015 closed, assigned to caridy

[2013-05-17 01:22] caridy commented on #986
@isao can we move this ticket to the mojito-cli-test pkg?

[2013-05-17 01:24] caridy commented on #931
@isao can we solve this at the cli level? In production, in `0.6.x` we don't want to have a fancy error, only when running thru `mojito start`, in which case I think this belongs to the cli.

[2013-05-17 01:24] caridy commented on #920
@isao this should be moved to `mojito-cli-create`.

[2013-05-17 01:26] caridy commented on #912
/ping @zhouyaoji

[2013-05-17 01:44] caridy commented on #57
/ping @isao

[2013-05-17 01:48] caridy commented on #62
`ac.pageData.set('foo', 'some value here')` does this, just remember to require `mojito-data-addon`. This data is also available in all templates rendered under the same request/page thru `{{page}}` object.

[2013-05-17 01:48] #62 closed, assigned to nobody

[2013-05-17 01:50] caridy commented on #82
In 0.5 `mojito-handler-error` middleware was introduced. In 0.6 you will be able to handle this in express directly.

[2013-05-17 01:50] #82 closed, assigned to nobody

[2013-05-17 01:50] caridy commented on #85
/ping @isao, can you move this to `mojito-cli-lint`?

[2013-05-17 01:51] caridy commented on #96
In 0.6 you should be able to do this thru express directly.

[2013-05-17 01:51] #96 closed, assigned to nobody

[2013-05-17 01:54] caridy commented on #206
We are moving toward synchronous template resolution and rendering, in which case this is not going to be an issue in 0.6.x, I will like to keep this around until we get there.

[2013-05-17 02:00] caridy commented on #229
This was solved a while ago when ac.done() and ac.composite.done() become equivalents in term of api. Check `HISTORY.md` for more details.

[2013-05-17 02:00] #229 closed, assigned to nobody

[2013-05-17 02:02] caridy commented on #230
Closing this now that we have the infrastructure to facilitate the creating of new frame mojits, which is what we want people to do.

[2013-05-17 02:02] #230 closed, assigned to nobody

[2013-05-17 02:03] caridy commented on #249
Closing this now that `ac.pageData` is in place.

[2013-05-17 02:03] #249 closed, assigned to nobody

[2013-05-17 02:08] caridy commented on #260
This is not longer relevant in 0.6, closing.

[2013-05-17 02:08] #260 closed, assigned to nobody

[2013-05-17 02:10] caridy commented on #288
This is going to be addressed in 0.6 thru `express-state`. I will keep this around for reference. In the current mojito, only stuff set thru `ac.pageData.set()` and `ac.data.set()` will be serialized and rehydrated in the client side.

[2013-05-17 02:11] caridy commented on #417
This will be supported thru locator plugins in 0.6

[2013-05-17 02:12] caridy commented on #454
In 0.6 we are moving toward synchronous template resolution and rendering, which means that this is not going to be a problem. I will keep this around as a reference.

[2013-05-17 02:13] #520 closed, assigned to nobody

[2013-05-17 02:13] caridy commented on #537
@isao should we move this to cli?

[2013-05-17 02:16] caridy commented on #642
@ItsAsbreuk can we close this?

[2013-05-17 02:18] caridy commented on #699
Better error control will be introduced in 0.6, stay tunned.

[2013-05-17 02:19] caridy commented on #823
/ping @zhouyaoji, can we close this?

[2013-05-17 02:23] caridy commented on #48
Closing this since we want people to have their own FrameMojit.

[2013-05-17 02:23] #48 closed, assigned to caridy

[2013-05-17 02:25] caridy commented on #16
/ping @imalberto, let's keep this around just for reference until we land the 0.6 refacfor where they will be able to control middleware thru express directly.

[2013-05-17 02:27] caridy commented on #20
You can now create your own frame mojit and control errors in the `child`, or you can rely on the express middleware to manage the errors.

[2013-05-17 02:27] #20 closed, assigned to nobody

[2013-05-17 02:28] #30 closed, assigned to nobody

[2013-05-17 02:29] caridy commented on #47
compile command is gone.

[2013-05-17 02:29] #47 closed, assigned to nobody

[2013-05-17 05:36] ItsAsbreuk commented on #642
Yeah, sorry.

closed!

[2013-05-17 05:36] #642 closed, assigned to nobody

[2013-05-17 13:35] lazybean opened #1124 "Doc: Multiple Mojits: Confusing routes.json"
Thanks for mojito.

In the example for multiple mojits , http://developer.yahoo.com/cocktails/mojito/docs/code_exs/multiple_mojits.html

The 'routes.json' is quite puzzling.
Why do we need routes for the children mojit(header, footer, body)?
I you try to get those path, you'll have an error.
Having only the "root" route is fine. No?

[code]

This should be enough.

[code]

Or do I miss the point?

[2013-05-17 16:30] caridy commented on #1124
@lazybean I'm with you on this one, it should be a single route.

/ping @zhouyaoji

[2013-05-17 21:16] aljimenez opened #1126 "Sharable Addons Proposal"
Addon instantiation time can add up in large applications. Perhaps we can share certain addons per request and even across requests. Addons would have a property that it can use to indicate whether it can be shared per requests or for all requests. By doing this certain addons such as the cookies addon can indicate that it can be shared per request and would only be instantiated once per request.

[2013-05-19 15:39] caridy commented on #1091
Workaround to signal the end of the process:

[code]

[2013-05-20 03:14] saich opened #1127 "Allow YUI way of adding Handlebars helpers"
As per http://yuilibrary.com/yui/docs/handlebars/#defining-custom-helpers, the Handlebars helpers are defined using `Y.Handlebars.registerHelper`.

However, any helper registered using the above way are not available while generating views from hb templates on server.

Use case: Adding set of global handlebar helpers that works on both client and server. (helpers like pluralize, lowercase, upperca

[2013-05-20 16:26] drewfish commented on #1126
This is an interesting idea.  At the very least I think it's worth doing some experiments to see how much of a benefit it might have.

[2013-05-20 21:08] isao commented on #920
thanks @imalberto, moving this feature request to yahoo/mojito-cli-create/#11

[2013-05-20 21:08] #920 closed, assigned to nobody

[2013-05-20 21:14] isao commented on #85
@caridy yes I'll include this issue or completed feature in mojito-cli-jslint after I create org repo for it

[2013-05-21 00:11] isao commented on #986
@trungpham I think this is a bit involved for the existing mojito test cli command, but definitely want to look into this. Closing here and tracking at yahoo/mojito-cli-test#1

[2013-05-21 00:11] #986 closed, assigned to nobody

[2013-05-21 00:12] isao commented on #931
@caridy yes, this should be handled by mojito-cli(-start). I'll migrate this issue once the org-repo is created

[2013-05-21 00:16] isao commented on #57
yes still a bug I think. I don't see any related test.js code changes. closing here and tracking at yahoo/mojito-cli-test#2

[2013-05-21 00:16] #57 closed, assigned to nobody

[2013-05-21 00:16] isao commented on #42
yes still a bug I think. I don't see any related test.js code changes. closing here and tracking at yahoo/mojito-cli-test#3

[2013-05-21 00:16] #42 closed, assigned to nobody

[2013-05-21 00:22] isao commented on #537
moved yahoo/mojito-cli/issues/21

[2013-05-21 00:22] #537 closed, assigned to nobody

[2013-05-21 00:23] isao commented on #85
yes, I'd generally like to act on individual files for jslint as well as the other commands where possible. I'm closing this but tracking for the general case here: yahoo/mojito-cli/issues/21 thanks!

[2013-05-21 00:23] #85 closed, assigned to nobody

[2013-05-21 00:28] isao commented on #1014
I agree the "full" archetypes have their quirks. closing here, tracking at yahoo/mojito-cli-create#12

[2013-05-21 00:28] #1014 closed, assigned to nobody

[2013-05-21 20:14] drewfish opened #1133 "quickstart guide says to install mojito globally"
http://developer.yahoo.com/cocktails/mojito/docs/getting_started/quickstart.html

[2013-05-21 21:34] isao commented on #1133
@zhouyaoji you can use this as the basis http://git.io/qaSSdw .. I will make those trello cards I promised later today, thanks!

[2013-05-22 18:20] lazybean opened #1135 "In a mojit controller the config is lost when the binder refreshView."
version affected: 0.6.0 and 0.5.9pr1
No problem on 0.5.8

See the Example code in the gist.
https://gist.github.com/lazybean/5628695

When you load the page a first time. config will contain "foo":42.
When you click on the mojit (triggers a refreshView) config is empty.

Workaround is to use an instance mojit as a base. As shown it @caridy 's gist.
https://gist.github.com/caridy/5628753

[2013-05-22 18:36] caridy commented on #1135
A note was added into the release note. This is a regression that will be patched soon.

[2013-05-22 19:17] caridy commented on #1126
The global structures that you're reference here ARE NOT action context, they need to be something else. `ActionContext` addons are tied to an action executed on a mojit instance by definition, which means they will never be global. But I could not agree more that today people are using addons to mitigate a bigger problem, the lack of page-level structures that can be used by any mojit instance in

[2013-05-24 17:59] imalberto opened #1139 "Incorrect default value for the `tunnelTimeout` app configuration"
URL: http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_configuring.html
See section "Configuration Object"

Default value should be`10000`.

[2013-05-24 17:59] imalberto commented on #1139
/ping @zhouyaoji

[2013-05-29 19:14] houyhnhnm opened #1145 "An error on a coding example for running Mojito on windows"
An error occured when i made the adding_view_engines code example. the Mojit default worked fine in views/default_ve.hb.html but the ejs views/added_ve.ejs.html returns an error.
I am using Mojito 0.6.0

Error: ENOENT, no such file or directory 'C:\MyComp\mojito\project\adding_view_engines[object Object]' It is the only example that didnt work out as it was supposed to for me.

I assume the ejs mo

[2013-05-29 20:36] isao opened #1146 "allow perf.logFile config without cli flag"
@jlecomte asks:

[code]

[2013-05-29 23:06] imalberto opened #1148 "[documentation] Incorrect context name"
Link: http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_using_contexts.html#context-configs-custom

See section "How Does Mojito Resolve Context Configurations?"

Bullet listed 4: "env:prod" should be instead "environment:prod"

[2013-05-29 23:07] imalberto commented on #1148
/ping @zhouyaoji

[2013-05-29 23:58] imalberto opened #1149 "Malformed markup showing up in the doc"
The paragraph below has incorrect / malformed markup showing up on the doc site.

Link: http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_using_contexts.html#context-configs-custom

See section "Creating Custom Contexts"

The Mojito framework defines default contexts that developers can map configurations to. These default contexts are defined in the file dimensions.json https://githu

[2013-05-29 23:58] imalberto commented on #1149
/ping @zhouyaoji

[2013-05-30 00:13] zhouyaoji commented on #1139
Thanks, fixed!

[2013-05-30 00:13] #1139 closed, assigned to nobody

[2013-05-30 00:13] zhouyaoji commented on #1148
Thanks, fixed!

[2013-05-30 00:13] #1148 closed, assigned to nobody

[2013-05-30 00:32] zhouyaoji commented on #1149
Fixed, thanks!

[2013-05-30 00:32] #1149 closed, assigned to nobody

[2013-05-30 00:35] zhouyaoji commented on #1133
I've updated the quickstart with instructions to install mojito-cli.

[2013-05-30 00:35] #1133 closed, assigned to nobody

[2013-05-30 23:01] isao commented on #1146
will be in 0.6.1 (or next release after 0.6.0)

[2013-05-30 23:01] #1146 closed, assigned to nobody

[2013-06-03 19:01] chetanankola opened #1151 "No Sanity Check in route-maker.common.js causing error on client side in IE-7 IE-8"
https://github.com/yahoo/mojito/blob/develop/lib/app/autoload/route-maker.common.js#L124

route.requires[matches[i].substr(1)] = '[^&]+';

fails when matches[i] is a number!

This is urgent for us since its breaking our app on ie 6 and greater!

[2013-06-03 19:14] isao commented on #1151
@chetanankola can you provide a repro, or gist of the routes.json?

[2013-06-04 17:18] caridy commented on #1151
@isao can we close this?

[2013-06-04 17:48] #1151 closed, assigned to nobody

[2013-06-04 17:48] jenny commented on #1151
Will be avail in 0.6.1 this week!

[2013-06-04 21:27] isao commented on #931
Hi @jianlin, @caridy, I put in a fix for this in mojito yahoo/mojito#1150

`mojito-cli`'s start command takes advantage of that patch and [this one](https://github.com/yahoo/mojito-cli-start/commit/56b2dbc6c8) to make a nicer "Port %d already in use." error.

Changes reflected in mojito@0.6.1 (just released) and mojito-cli@0.0.4 (latter to be published very soon)

[2013-06-04 21:27] #931 closed, assigned to nobody

[2013-06-04 21:31] isao commented on #1121
fixed by #1152

[2013-06-04 21:31] #1121 closed, assigned to nobody

[2013-06-04 21:32] isao commented on #1121
fyi fix included in mojito@0.6.1 which was just published earlier today.

[2013-06-04 21:34] isao commented on #1121
@aljimenez sorry I didn't realize you reported this too, so much earlier. Thanks for the report and apologies for delay!

[2013-06-04 21:37] isao commented on #662
That entire readme is woefully out of date

we should replace it with something simple like: "to run mojito's unit tests: `cd path/to/mojito && npm test`".. etc.

[2013-06-04 21:38] isao commented on #662
..now that @lzhan hooked up the npm scripts (mojito@>=0.6.1). and/or link to @zhouyaoji arrow docs

[2013-06-05 17:37] yukinying commented on #927
Just taking some time digging out what is fixed. The use of meta with serialize:json is still not appearing in documentation. Maybe I have overlooking something?

[2013-06-05 17:47] caridy commented on #927
/ping @zhouyaoji

[2013-06-08 05:26] ghost opened #1159 "not able to use mojito-data-addon if the mojit is lazy loaded via mojitProxy.invoke"
In my mojit I have two actions: "index" and "lazy", where "index" will invoke "lazy" from binder. The mojito-data-addon is included but in "lazy" action, when calling ac.data.set(), there is an error:

TypeError: Object #<Object> has no method 'set'

Apparently it is because mojito passing a `data` property in invoke command, and it make data addon failed to init itself.
https://github.com/yahoo/m

[2013-06-10 16:04] caridy commented on #1159
I was able to reproduce this. thanks for the repro case, I will try to land a fix asap.

[2013-06-11 16:57] #1159 closed, assigned to caridy

[2013-06-19 15:39] oyving opened #1176 "Sometimes viewing documentation results in 404."
Reproduce by going to http://developer.yahoo.com/cocktails/mojito/docs/quickstart/ and refresh a few times. Sometimes you will get a 404.

[2013-06-19 15:50] caridy commented on #1176
/ping @zhouyaoji @jenny

[2013-06-19 15:54] zhouyaoji commented on #1176
The quickstart was moved a while ago to the "Getting Started" chapter, but YDN just recently pulled the old quickstart from the site. You can view the quickstart at the following URL: http://developer.yahoo.com/cocktails/mojito/docs/getting_started/quickstart.html

[2013-06-19 15:54] #1176 closed, assigned to nobody

[2013-06-19 20:34] oyving commented on #1176
That may be, but then the "Get Started" link at http://developer.yahoo.com/cocktails/mojito/ is pointing to the wrong resource.

[2013-06-20 04:49] imalberto opened #1178 "[doc] incorrect property name in routing configuration snippet"
1. go to "http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_data.html"
2. scroll down to section "Setting Routing Parameters"
3. see the code section

The name of the property "param" is incorrect. The correct name is "params".

[2013-06-20 12:46] oyving opened #1179 "Mojito page Get Started link points to wrong URL"
The "Get Started" link at http://developer.yahoo.com/cocktails/mojito/ points to the wrong page. It points to  http://developer.yahoo.com/cocktails/mojito/docs/quickstart/, but according to issue #1176 it is no longer valid and should point to http://developer.yahoo.com/cocktails/mojito/docs/getting_started/quickstart.html

[2013-06-20 14:05] caridy commented on #1179
/ping @zhouyaoji

[2013-06-20 14:06] caridy commented on #1178
/ping @zhouyaoji

[2013-06-20 16:52] zhouyaoji commented on #1179
Thanks, @oyving. I've updated the link in the page. Sorry about the confusion. The quickstart was a separate document at one point, then later folded into the Getting Started chapter. After the quickstart was published to a different URL, the original quickstart was not deleted from the server, and the links, which weren't broken because of the errant page), were not updated. The problem is hopefu

[2013-06-20 16:52] #1179 closed, assigned to nobody

[2013-06-20 16:57] zhouyaoji commented on #1178
@imalberto Thanks, the typo has been corrected.

[2013-06-20 16:57] #1178 closed, assigned to nobody

[2013-06-25 00:59] jlecomte opened #1183 "Invalid context dimension should return HTTP 4xx error"
Currently, mojito returns HTTP 5xx error with a string "Internal Server Error". Instead, it should return HTTP 4xx error with a string "Bad Request".

[2013-06-25 03:25] caridy commented on #1183
makes sense!

[2013-07-12 00:09] #1124 closed, assigned to nobody

[2013-07-12 18:18] zhouyaoji opened #1192 "Document the API methods for the Data addon (Data.common class)."
The API documentation for the Data.common class says that this class  doesn't provide any methods, properties, attributes, or events. The general documentation covers how to use the Data addon, but developers need to be able to refer to the API docs. It's simply a matter of adding the YUIDoc tags and descriptions to the source code.

[2013-07-12 18:27] zhouyaoji opened #1193 "Mojito doesn't catch syntax errors in `routes.json`."
If the `routes.json` has malformed JSON, the Mojito application does not throw an error, and when a request is made to one of the defined routing paths, the response body (shown on the page) is the string "OK", which isn't okay.

[2013-07-12 20:41] mazandaran opened #1194 "Botrain"

[2013-07-12 21:08] mridgway commented on #1194
:-1:

[2013-07-12 21:52] #1194 closed, assigned to nobody

[2013-07-15 12:46] caridy commented on #1193
Hmm, this is probably affecting any JSON file, not only routes.json.

[2013-07-17 09:41] 0cv opened #1199 "Example: Binding Event - small error"
In the binding event example (http://developer.yahoo.com/cocktails/mojito/docs/code_exs/binding_events.html) in the section "Setting Up this Example" point 8, you should remove line 2 "var API_KEY = '{your_flickr_api_key}';" because it's a duplicate of line 17.

Great example otherwise, keep up the good work!!

[2013-07-22 17:28] #1017 closed, assigned to nobody

[2013-07-24 23:45] zhouyaoji commented on #1192
Looks good, but I think we also need to document that the methods accessed through the `data` and `pageData` namespaces are available from the `mojitProxy` object.
- http://developer.yahoo.com/cocktails/mojito/api/classes/MojitProxy.html#property_data
- http://developer.yahoo.com/cocktails/mojito/api/classes/MojitProxy.html#property_pageData

[2013-07-25 17:26] isao commented on #1192
I added get/set `@method` tags for mp.data and mp.pageData, and changed mp.data and mp.pageData `@type` from Object to Model.Vanilla so class docs are linked. Also added link to Y.Model.

The structure is a bit deep/awkward, but it is hopefully more helpful. See yahoo/mojito#1201

[2013-07-25 20:55] #1192 closed, assigned to caridy

[2013-07-26 14:07] ooskapenaar commented on #1091
+1

Jbtw: That workaround does not seem to work in arbitrary child controllers 0.5.x, 0.7.1 (i.e. all our controllers are under HTMLFrameMojit, and there this call does not help, working with clones, or something?).

[2013-07-26 14:15] ooskapenaar opened #1206 "Config info leaked in HTML"
https://github.com/yahoo/mojito/wiki/ReleaseNotes0_6_0  suggests that deeply embedded mojits config are not passed to the client. See comments: "// this config is not passed to the client".  This is misleading. While the mojitProxy may not have access to this info it is still leaked to the client!!

To reproduce use the https://github.com/yahoo/mojito/tree/develop/examples/developer-guide/binding_

[2013-07-26 17:32] caridy commented on #1206
thanks @ooskapenaar, we will look into it. /cc @drewfish

[2013-08-09 15:04] lazybean opened #1212 "Doc: Refreshing View does not mention onRefreshView"
Hi,

There http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_binders.html#mojito-binders-refresh-views , there is no word about onRefreshView.

It is not mentioned that the binder's onRefreshView function will be called after refreshed, and that is can/should be used to detach/reattach event.

It can be confusing.

[2013-08-09 16:39] caridy commented on #1212
/cc @zhouyaoji

[2013-08-09 22:37] zhouyaoji commented on #1212
Thanks, @lazybean. @caridy can you take a look at my updated draft? I added short explanation and a code snippet using `onRefreshView`. Thanks!

https://github.com/zhouyaoji/mojito/blob/docs_onRefreshView/docs/dev_guide/intro/mojito_binders.rst#refreshing-views

[2013-08-10 11:08] lazybean commented on #1212
Thanks à lot @zhouyaoji ! Updated version looks good.

[2013-08-12 16:14] caridy opened #1215 "[regression] lang collection in metas is missing for controller"
Reported by @ft thru the forum: http://developer.yahoo.com/forum/Yahoo-Mojito/Internationalization-on-client-side/1376040501301-15e8a4da-ac8c-4391-985f-093001c8b477/1376293135175

It seems like the list of supported langs for each controlled is not added correctly to the meta, so, for mojits running on the client side it will never load the corresponding lang bundle. Here is an example of the meta

[2013-08-12 20:57] zhouyaoji commented on #1212
Great, I've updated the documentation on YDN as well. Thank you!

http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_binders.html#refreshing-views

[2013-08-12 20:57] #1212 closed, assigned to nobody

[2013-08-14 04:10] ftliou opened #1219 "npm link shared mojits failed on 0.7.2"
Please refer to:
http://developer.yahoo.com/forum/Yahoo-Mojito/npm-link-shared-mojits-failed-on/1376445752796-c287e870-fd51-473e-ac9a-557335d087a3

In mojito/lib/app/autoload/store.server.js

[code]

This block of code stops npm linked shared mojits from being loaded.

[2013-08-14 14:14] caridy commented on #1219
regression introduced by fix for issue #1017 /cc @lzhan @isao

[2013-08-15 13:57] tc opened #1222 "Tutorial page has dead link for Quickstart"
http://developer.yahoo.com/cocktails/mojito/docs/getting_started/mojito_getting_started_tutorial.html

The Quickstart link in the body points to
http://developer.yahoo.com/cocktails/mojito/docs/quickstart

The right link is
http://developer.yahoo.com/cocktails/mojito/docs/getting_started/quickstart.html

[2013-08-15 14:58] caridy commented on #1222
/ping @zhouyaoji

[2013-08-15 15:28] zhouyaoji commented on #1222
Thanks, the link has been corrected!

[2013-08-15 15:28] #1222 closed, assigned to nobody

[2013-08-24 21:19] 4score opened #1229 "Tutorial example doesn't work"
On the very first tutorial. Here's the link:

http://developer.yahoo.com/cocktails/mojito/docs/getting_started/mojito_getting_started_tutorial.html

Quite possibly the most pathetic tutorial attempt ever.

[2013-08-29 02:01] lazybean opened #1234 "pageData not updated after mojitProxy.invoke"
Hi !

I'm not sure wether it is a bug or just me doing something weird.

In my controller I use both data and pageData to store current date.
At the first load, everything is fine.

But when in my binder , I use mojitProxy.invoke to invoke the same index action, the pageData is not updated, where data is.

Here is an exemple :  https://gist.github.com/lazybean/6148cbb6fa8f721c988c

mojito version

[2013-08-29 14:11] caridy commented on #1234
`pageData` is not going to be preserved under a RPC call, which means that we don't pass the pageData back and forward when making tunnel requests. This is a limitation because we can't not predict the size of the pageData, and we can't, at the moment, resolve conflicts between what comes back from a tunnel request and what was potentially changed in the client side at the page level. For that you

[2013-08-29 14:38] lazybean commented on #1234
Thanks à lot for the explanation.
I understand the limitation and will deal with it as you advise.

I agree it would be worth to mention this in the documentation.

[2013-09-05 23:24] jlecomte opened #1238 "Please lower RS log messages for duplicate resources from "info" to "debug""
Currently, when starting our app, we are getting tons of lines like the following:

info: (mojito-resource-store):
skipping duplicate package yahoo-utils-url
skipping  /git-data/apps/search-apps-news/node_modules/yahoo-mojits-search-time-filter/node_modules/yahoo-utils-url
prev used /git-data/apps/search-apps-news/node_modules/yahoo-mojits-search-bread-crumb/node_modules/yahoo-utils-url

Nobody ca

[2013-09-06 17:25] caridy commented on #1238
Makes sense! I will add it to trello.

[2013-09-09 23:18] zhouyaoji commented on #1229
Thanks, the module name in the boilerplate code created for model changed, so the tutorial should have been updated but wasn't. I'm in the process of updating the tutorial now. I apologize for the error. I'll have the updated documentation published as soon as possible. Aside from the error, please let me know if you have other feedback.

[2013-09-12 04:19] #1229 closed, assigned to nobody

[2013-09-18 19:24] drewfish opened #1244 "provide a way for middleware to populate page data"
Our current "page" data object is unique to each request, and is a great place to store request-specific objects/data. However, there's no way for middleware to put objects/data into it.

[2013-09-18 22:04] caridy commented on #1244
Since the page obj is probably going to have contextualized stuff (don't know), I will suggest to allow requests to attach a page object into the request object (or potentially req.locals, which is the standard way of doing it in express 3) and then getting `mojito.js` to augment that object with more stuff if it exists, or just create a new object.

[2013-09-18 23:30] drewfish commented on #1244
Well the middleware is actually just as request-specific as the page object (including contextualization).

I'm looking at line 33 of `lib/output-handler.server.js`, which is where the page object is created. Right after creating it we could also merge in `req.page` (or `req.locals` or whatever we want to call it).

[2013-09-18 23:33] drewfish commented on #1244
Oh hmm... I see what you mean, `mojito.js` is pushing data into the page object. That's a little dirty and is being done that way because the output handler doesn't have direct access to the store. However, the output handler _does_ have direct access to the request object, so I argue that the output handler ctor should be responsible (instead of mojito.js) for moving data from req.page[1] to the

[2013-09-19 15:18] drewfish opened #1245 "child mojit redirect is sometimes lost"
I have a parent mojit with two children. One child calls `ac.http.redirect()`. During the bubble/merge of the `meta` the `meta.http.code` of the non-redirect child clobbers the `meta.http.code` of the redirect child. (The order that the children merge is undefined.) The end result is that the page _does_ have a `Location` header, however since the code is 200 the browser (Chrome29) doesn't honor t

[2013-09-21 02:40] nccuMis opened #1246 "a left curly brace is missing"
In the example of the basic structure of Controller in http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_mvc.html
,
it seems that a left curly brace is missing:
YUI.add('{mojit_name}', function(Y, NAME) "{"

[2013-09-21 12:49] caridy commented on #1246
/ping @zhouyaoji

[2013-09-24 18:39] imalberto opened #1249 "[tests] Remove the Dashboard "mini" apps and disable "Trib" app for functional tests for now"
Longer term:
- Need to fix Trib example app to handle error conditions
- Come up with solution to have example apps be also used for functional tests

[2013-09-25 00:04] drewfish opened #1251 "easy way to get contextualized models"
The current `ac.models.get()` takes the YUI module name as the argument. This means that I (as an app developer) need to know ahead of time which YUI module to use for a model.

The feature request is to augment `ac.models.get()` to take the model name (for example, `foo` for `models/foo.server.js`) and to use the correct model for the current context.

[2013-09-25 00:06] drewfish commented on #1251
As it turns out, the mojit resolution process already has this exact mapping. (It can be found at `ac.command.instance.models`.)

For backwards compatibility we should probably first look in `Y.mojito.models[name]` then fallback to `Y.mojito.models[instance.models[name]]` which implements this feature. (Plus good error checking of course.)

[2013-09-25 14:58] caridy commented on #1215
+mojito@0.7.5

[2013-09-25 14:58] #1215 closed, assigned to nobody

[2013-09-25 21:39] caridy commented on #1251
Sounds good to me!

[2013-09-26 18:47] zhouyaoji opened #1253 "[trib app] The app does not check or handle the case where no results are returned from a Web service."

[2013-09-26 20:18] jlecomte opened #1254 "Allow the same context to be used multiple times in configuration"
Our application configuration is spread across multiple files (we use the "applicationConfigFiles" directive to include additional configuration files into our main application.yaml...) Unfortunately, when the same context is specified multiple times, e.g. "runtime:server,lang:fr-FR", mojito throws an error:

[code]

Because the order matters in the "applicationConfigFiles" directive, we should be

[2013-09-26 20:45] drewfish commented on #1254
Should the last one take precedence, or merge over an earlier one?  The merge allows a particular context to be "built up" from multiple files.  (Alas, merging arrays is problematic.)

[2013-09-26 23:15] jlecomte commented on #1254
merge over = take precedence. I don't see the difference...

[2013-09-27 00:15] drewfish commented on #1254
I guess I was trying to make a distinction between "replace" and "merge".  You seem to have been thinking of "merge" too, so I think we have the same idea :smile:.

[2013-10-01 19:56] spsDrop opened #1257 "Encoding problem with complex URLs in YUI fullpath"
So I have a YUI config in my mojito config for vendor scripts mostly. It looks like this:

[code]

The buzzfeed url is parameterized and when it gets requested client side the url is like this:
http://ct.buzzfeed.com/wd/UserWidget?u=xxxxx.com\u0026to=1\u0026or=vb\u0026wid=1\u0026cb=1332869026943

I have also run this exact same url through YUI stand alone with out a problem.

[2013-10-07 20:59] lzhan opened #1259 ""environment" is not set in mojito-contextualizer."

[2013-10-07 21:30] lzhan opened #1260 "[docs] customized contextualizer is needed to handle custome dimensions."
It is better to document the following under:
http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_using_contexts.html

"If a property has its own dimensions.json (for custom dimensions) then it needs to provide its own contextualizing middleware (and use that instead of mojito's default contextualizing middleware)."

[2013-10-08 18:06] caridy commented on #1259
we don't have enough information to figure the environment. that's in the user-land.

[2013-10-08 18:06] #1259 closed, assigned to nobody

[2013-10-10 02:41] jarnoux opened #1261 "Calling Do.Halt in mojito plugins prevents other plugins from hooking into the RS"
I want to access `yui-lang` type resources and their `yui.name` but this: https://github.com/yahoo/mojito/blob/develop/lib/app/addons/rs/yui.js#L545
won't let me. Please find another way to return the resource and prevent the host method from executing. Maybe neutralize the host method? Maybe use `Do.Prevent`?

[2013-10-10 15:50] caridy commented on #1261
/cc @drewfish

[2013-10-10 16:26] jarnoux commented on #1261
I'm investigating a way to plug into the yui plugin but it proves tricky as afterHostMethod cannot be used on methods that are already used to wrap around a host method: https://github.com/yui/yui3/issues/1297

[2013-10-10 21:14] drewfish commented on #1261
@jarnoux You can solve your problem by using `after('addResourceVersion')` yes? If so that lowers the priority of this issue, though we should still look at _why_ addons/rs/yui is doing a `Do.Halt`.

[2013-10-11 02:12] jarnoux commented on #1261
addResourceVersion solves my problem

J.

On Thu, Oct 10, 2013 at 2:14 PM, Drew Folta notifications@github.com
wrote:

[2013-10-18 20:43] #1253 closed, assigned to nobody

[2013-10-22 23:37] #1251 closed, assigned to nobody

[2013-10-24 18:44] jlecomte commented on #1254
Can we prioritize this request? We would like to have it by the end of November/early December. Thanks!

[2013-10-25 09:04] caridy commented on #1254
bumping this into trello board: https://trello.com/c/XYLOloRT/768-search-gh-1254-allow-the-same-context-to-be-used-multiple-times-in-configuration

[2013-10-29 04:16] jithine opened #1273 "Example two given for dynamically creating mojit needs cleanup"
The code for dispatch method at Parent mojit described here http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_run_dyn_defined_mojits.html#using-ac-dispatch needs to change.

This code

[code]

 has to change to

[code]

Without that Mojito was crashing for me with - TypeError: Cannot read property 'staticAppConfig' of undefined

[2013-10-29 05:15] imalberto commented on #1273
/ping @zhouyaoji

[2013-10-29 14:06] caridy commented on #1273
+1

[2013-10-29 17:52] drewfish opened #1274 "static context should be applied to runtime context"
In the contextualizer middleware, the static context (the context given when the app was started) was not reflected in the runtime context available to the middleware (or to controllers as well).  This static context should be added into the runtime context.  Also, it should have higher precedence (override) than any runtime context.

[2013-10-29 20:35] caridy commented on #1274
what if we do this when dispatching a new mojit (right before expanding the instance), or doing it right inside the store method to expand the mojit instance.

[2013-10-31 20:55] lzhan opened #1276 "Funtional tests failed on node8 after pr #1264 is merged"
4 tests failed. All of them has:
ac.flush("Hello, world!--from flush,");
ac.done("Hello, world!--from done");

error: (mojito-dispatcher): Error from dispatch on instance 'ACMojit':
error: (mojito-dispatcher): Can't render headers after they are sent to the client.
............
error: (outputhandler.server): { [Error: Can't render headers after they are sent to the client.] code: 500 }

[2013-11-01 21:30] aljimenez opened #1280 "Composite.execute cannot be called multiple times in the same mojit"
The following use of composite.execute results in a crash since the Y.Parallel queue that is used internally is not cleared after execution is done.

[code]

There are many valid use cases for this. In my case I would like to execute a mojit which then accumulates some data, which I then need to execute other mojits. One easy fix in composite.common.js would be to reset the Y.Parallel queue before

[2013-11-04 19:37] drewfish commented on #1280
It seems reasonable to me to want to use ac.composite.execute() multiple times like you suggest.

[2013-11-04 21:21] jithine commented on #8
Just wanted to ask if there is any documentation for this? I am trying to access config in defaults.json in model.

[2013-11-04 21:36] drewfish commented on #8
I didn't find any documentation addressing this specifically. I do notice that if a model as an `init()` method it is passed a single parameter which contains the instance config.  (The instance config is a merge of the spec (as found in application.json) and the defaults.json.)

(Not sure why this issue got closed as an accepted pull request... :confused: )

[2013-11-04 21:42] jithine commented on #8
I tried passing ac.config to init() But for some reason it's coming as null. Though there is no config in the spec for my mojit, I was expecting it to contain the ones from defaults.json. - which brings another question, is defaults.json mojit level or app level ? If it's mojit level what is the standard way to define app level configurations and how to use it?

[2013-11-04 21:53] drewfish commented on #8
The `init()` method is called automatically by the mojito as the model is created.

One approach is to pass the config you want to each method of your model as needed, something like `model.foo(config, ...)`.  You can get the config similar to what you were doing with ac.config.  However, ac.config is an API object (and it only exists if your controller depends on the `mojito-config-addon`).  You'

[2013-11-04 21:59] jithine commented on #8
Ok. this is what I had to do to get this work. call model.init(ac.config) and define setting in "config" of the mojit in application.json.
Which is all fine but how do I have a config defined once for the entire application? I thought putting a defaults.json in app level will take care of it, but it didn't.

[2013-11-04 22:18] drewfish commented on #8
Here's the API documentation for the ac.config addon:
http://developer.yahoo.com/cocktails/mojito/api/classes/Config.common.html

[2013-11-04 22:20] drewfish commented on #8
Generally if you want to define a config for the whole application you want to put it into `application.json`.  Then you can use `ac.config.getAppConfig()` to get those values out.

[2013-11-04 22:24] jithine commented on #8
Thank you very much. Got it working.

[2013-11-04 23:43] aljimenez opened #1281 "Config assets added twice (once by ac.done and once by ac.assets)"
Assets in a mojit's config are added twice; once by the ac.done method and once by the ac.assets constructor method. When it is added by the ac.assets addon, assets with relative paths are expanded; however when added by ac.done, relative paths are not expanded resulting in a meta data with duplicate assets (one with a relative path and one with an absolute path). On the client side the absolute p

[2013-11-05 23:26] #1276 closed, assigned to nobody

[2013-11-05 23:28] #1249 closed, assigned to nobody

[2013-11-12 20:28] caridy commented on #1280
/ping @lzhan

[2013-11-14 23:58] jithine opened #1287 "Documentation - Troubleshooting to be updated with message for identifying wrong dimension"
Currently if I use a new dimension, for example (environment:staging), mojito throws a weird message -  "Error: The settings group '{"environment":"staging"}' has already been added" - which is not useful in identifying the actual error.
Requesting to either update the error message to me more meaningful or just add this to  the troubleshooting section at http://developer.yahoo.com/cocktails/mojit

[2013-11-15 19:06] caridy commented on #1287
/cc @lzhan

[2013-11-15 19:29] lzhan commented on #1287
Added a trello card in to do list.

[2013-11-18 22:29] jithine opened #1291 "Incorrect documentation for arrow functional tests"
Functional test example given at step 17 here, http://developer.yahoo.com/cocktails/mojito/docs/dashboard_tutorial/06_testing.html#creating-the-application is wrong. With the current example, arrow is unable to parse the test results. I am using arrow - 0.0.86

It needs to change to something similar to the following format.

[code]

[2013-11-19 14:28] caridy commented on #1291
/ping @lzhan

[2013-11-20 17:23] lzhan commented on #1287
This is fixed in ycb release 1.1.0: https://github.com/yahoo/ycb/

[2013-11-20 21:31] elwayman02 opened #1294 "Mojito missing mkdirp dependency in build 0.8.0"
The latest version of Mojito is unable to be installed successfully, giving the following error upon "npm i mojito":

889 error notarget No compatible version found: mkdirp@'>=0.4.0-0'
889 error notarget Valid install targets:
889 error notarget ["0.0.1","0.0.2","0.0.3","0.0.4","0.0.5","0.0.6","0.0.7","0.1.0","0.2.0","0.2.1","0.2.2","0.3.0","0.3.1","0.3.2","0.3.3","0.3.4","0.3.5"]
889 error notarg

[2013-11-21 00:56] drewfish commented on #1254
Available in mojito 0.8.1.

[2013-11-21 00:56] #1254 closed, assigned to nobody

[2013-11-21 17:22] lzhan commented on #1287
Related change is also made in mojito 0.8.1.

[2013-11-21 17:22] #1287 closed, assigned to nobody

[2013-11-26 20:38] caridy commented on #1294
/ping @lzhan

[2013-11-26 21:32] lzhan commented on #1291
Card is added in the todo list.

[2013-11-26 21:35] lzhan commented on #1294
This happens on Windows. Card is added in todo list.

[2013-11-27 15:57] ItsAsbreuk opened #1301 "mojito-cli creates wrong mojit-template concerning to controller.server.js"
inside controller.server.js ac.models.get() calls the model by modulename.
As from 0.8.0 that is changed into the modelname.

[2013-11-27 16:06] lzhan commented on #1301
@ItsAsbreuk Thanks for reporting this issue. A card is added to our todo list.

[2013-11-27 22:16] ItsAsbreuk opened #1302 "Request for mojito-cli creating templates using Promises"
I would love to see mojito-cli generate Promises instead of callbacks.
So, the template for a model could be:

[code]

while the template for controller.server.js would be:

[code]

Regards,
Marco.

[2013-11-27 22:31] imalberto commented on #1302
Taking into account that promises might not everybody's cup of tea, I would not make it the default and force it onto users. Perhaps a new archetype could be added that would use Promises instead of callbacks.

Users will have the choice to use either.

[2013-11-27 23:04] ItsAsbreuk commented on #1302
Yeah i agree that promises are difficult to start with. But that also accounts for Mojito itself. I see mojito as the leading edge framework of today/tomorow. So it wouldn't hurt to gentle push users into this direction. btw, personally i think the promise-code is easier to read than when using callbacks - but that is once you are familiair with them.

Giving users the choice is a good solution as

[2013-11-27 23:39] caridy commented on #1302
we have multiple archetypes, maybe we can add one with promises :)

[2013-11-29 00:12] ItsAsbreuk commented on #1302
It is not that i'm asking for it because it is 'just possible'.
The thing with promises is that they make it easy to chain or batch.

To illustrate this: i am using a custom module promise-based using node-mysql. Now I create mojito's models like this:

[code]

imagine how easy this is to use when calling chained and batched data from within the controller. Previously I had to do this with callbac

[2013-11-29 00:31] ItsAsbreuk commented on #1302
for readers who are interested in the code-details:
https://gist.github.com/ItsAsbreuk/6778206
https://gist.github.com/ItsAsbreuk/7699934

[2013-12-02 17:40] drewfish commented on #1302
I'm also fond of promises.  The trick is that not all (server-side) javascript developers are even familiar with promises.  That's not to say that Mojito should cater to the _lowest_ common denominator, just that it should work well with the current/average skillset of the developer community.  The core value of Mojito is not that it's "a framework that uses the leading edge technologies" but inst

[2013-12-02 17:42] drewfish commented on #1302
BTW, I very often turn to the [async](https://npmjs.org/package/async) NPM package for managing callback-heavy algorithms.  It has a lot of methods but I mainly use `series()` and `parallel()` and occasionally `waterfall()`.

[2013-12-04 21:29] lzhan commented on #1301
@ItsAsbreuk : when Mojito 0.8.0 was released, mojito-cli-create was updated too. You might need to update mojito-cli by "npm install --global mojito-cli". Please let me know if you still see the same issue after that.

[2013-12-04 21:38] ItsAsbreuk commented on #1301
@lzhan just updated mojito-cli and indeed that solved the problem.

Strange, if I remembered right, i did update the mojito-cli when i updated mojito to version 8. I must have been wrong...

The problem is solved then.
I'll close the ticket.

Thanks,
Marco.

[2013-12-04 21:38] #1301 closed, assigned to nobody

[2013-12-04 21:45] lzhan commented on #1301
@ItsAsbreuk No problem. Thanks.

[2013-12-05 01:44] caridy commented on #1301
this is why I fought very hard to get the archetypes in mojito pkg rather than the global cli :/

[2013-12-05 10:07] ItsAsbreuk commented on #1301
well, I'm not a principal developer, but here are my pennies:

1) I sounds logical mojito-cli's version is bound to mojito's version. I should have upgraded -i thought i had- but it makes more sence when mojito-cli follows the same major-release-nr as mojito. Thus: mojito-cli version 0.8.x

2) It sounds reasonable that the archetypes are within mojito-cli because you don't have duplicated archetyp

[2013-12-05 14:53] caridy commented on #1301
@ItsAsbreuk some of those thoughts make sense, and in fact they are the recommended way to use the cli, but the reality is a little bit different. Imagine an scenario where you have two mojito projects, one using mojito 0.7 (which you can't update for business reasons, which is very common) and another one using the bleeding edge of mojito, then how do you solve the `mojito create`? are you going

[2013-12-05 15:03] ItsAsbreuk commented on #1301
@caridy, @isao,

my thoughts were having one mojito-cli (of coarse). and make it sniffing inside the mojito-project for the version it is using. this way <code>mojito create</code> always 'creates' archetypes of the mojito-version it was meant to. And, if the mojito-project resides at a higher level than mojito-cli (which is theoretical possible when cli is downgraded or a 'higher-version' project

[2013-12-05 17:36] isao commented on #1301
@caridy the archetypes needed to be in the cli because `mojito create app` couldn't assume that `mojito` was installed, and if it was, wouldn't know where (non-global). It was the "quick start" use case.

I recall proposing a config for the cli commands, which in the `create` case could be used to locate for archetypes locally, and eventually over http. But there was a lot of resistance to this.

[2013-12-05 20:34] isao commented on #1301
@ItsAsbreuk thanks for the feedback and suggestion. pull isao/mojito-cli-create#6 will use a locally installed mojito/archetypes directory to look for matching archetypes which should help with `mojito create mojit ...` being more in sync. `mojito create app..` is a different story of course, but there remains these options:
- specify the full path to the archetype like `mojito create path/to/moji

[2013-12-05 20:46] zhouyaoji commented on #1246
Thanks nccuMis, I've fixed the type.

[2013-12-05 20:46] #1246 closed, assigned to nobody

[2013-12-05 22:58] ItsAsbreuk commented on #1301
@isao ok, great!
thx.

[2013-12-06 03:31] zhouyaoji commented on #912
Thanks, fixed!

[2013-12-06 03:31] #912 closed, assigned to nobody

[2013-12-07 02:16] zhouyaoji commented on #1273
Thanks, fixed.

[2013-12-07 02:16] #1273 closed, assigned to nobody

[2013-12-07 07:10] nccuMis commented on #1246
Good.

2013/12/6 Joe Catera notifications@github.com

[2013-12-09 22:49] #1234 closed, assigned to nobody

[2013-12-10 17:47] zhouyaoji commented on #662
Removed the information on executing tests and linked to the twiki on how to run tests instead.

[2013-12-10 17:47] #662 closed, assigned to nobody

[2013-12-11 19:12] juandopazo commented on #1294
Hi. I tested the last 3 releases and I could install and run them all on Windows 7 64-bits. There are some dependencies of Mojito that depend on `mkdirp`. Could it be that you had any of those installed globally? Can you still reproduce the issue? If so, can you create a gist with the whole log for the install?

[2013-12-12 17:18] clarle commented on #1294
I also haven't seen any `package.json` dependencies we have with `mkdirp@'>=4.0-0'`.

Windows_NT 6.1.7601 is Windows 7 SP1, so don't know. :/

[2013-12-13 19:24] jithine opened #1306 "ac.partial.render() throws error for handlebar custom helper"
I have a handlebar helper which is added via

[code]

When running

[code]

I get this error

Content of new-tasks.hb.html

[code]

Contents of ./partials/task.hb.html

[code]

On an additional note ac.partial.render() does not accept a handle bar view partial located inside partials/ folder which restricts it's use. Eg:

[code]

Gives an error saying cannot find ./partials/task'

[2013-12-13 22:20] caridy commented on #1306
Hey, this is a limitation of handlebars and not an issue in mojito. Handlebars will not propagate context from parent to a partial, that's why all functions and data available at the regular template will not be available into the partial unless you use `../something` to reference to the parent context. Here is the discussion about the actual fix in the next version of handlebars, which includes s

[2013-12-13 23:22] jithine commented on #1306
@caridy But it does work when I use ac.done() and the associated view uses the partial. ie instead of ac.partial.render () this works

[code]

Then what is the purpose of ac.partial ? From the naming it suggests that it's for manipulating partials but it cannot load html inside partials directory. Documentation - http://developer.yahoo.com/cocktails/mojito/api/classes/Partial.common.html#method_re

[2013-12-14 19:23] ItsAsbreuk opened #1307 "Featurerequest: reviver-method for params.getFromBody-bodyparsing json stringified requests"
I'm not sure if I get the title right, so let me explain:

When a client posts data of the contenttype 'application/json' the Mojito automaticly parse this into a hash. The problem is that the Date-type gets lost.

So, on the client side, I use Y.JSON.stringify(myobject), which will stringify Date-type into ISO-strings.

On the serverside, I would like Mojito to parse the request-data, using this

[2013-12-16 16:30] caridy commented on #1306
@jithin1987 yes, now I understand what you want to do. First of all: `ac.partial` has nothing to with handlebars partials, it is a partial rendering as opposite to `ac.done()` which does a full rendering releasing the control from the controller. Basically, when calling `ac.partial.render(data, 'new-tasks', callback)`, it is equivalent to call `ac.done(data, { view: { name: 'new-tasts' } })`, as y

[2013-12-16 16:42] caridy commented on #1307
No no, this is a no-go in mojito. You have full control using express middleware in mojito to do whatever you want with those arguments before they get to mojito engine:

http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_extensions.html#middleware

[2013-12-16 16:42] #1307 closed, assigned to nobody

[2013-12-16 19:53] jithine commented on #1306
@caridy Thank you very much for clarifying. One doubt I still have with partials is that, in Mojito is it possible to instantiate a **view partial** with data and render it, without having to include it in a **view** first ? ie in `view.name` can I use `partial/task` instead of using `new-tasks` which includes the partial `task`

[2013-12-16 21:10] caridy commented on #1306
@jithin1987 yes, `path/to/filename` within the `views` folder could be used to call `ac.done()` but also `ac.partial.render()`. In this case, it is ok to call `partials/task`, if that doesn't work for you, it might be a bug.

[2013-12-17 19:23] juandopazo commented on #1294
Closing this issue until we can get a reproducible test case.

[2013-12-17 19:23] #1294 closed, assigned to nobody

[2013-12-18 18:30] zhouyaoji commented on #1291
Hi Jithin,

The Arrow test code works, but the instructions for running the tests was missing a step for starting the Arrow server. I corrected the steps for running the Arrow tests and went through all the steps again and had no issue running the functional tests. I was using Arrow version 0.0.87.

Thanks.

[2013-12-18 18:30] #1291 closed, assigned to nobody

[2013-12-18 22:07] lzhan commented on #1306
According to Mojito API: http://developer.yahoo.com/cocktails/mojito/api/classes/Partial.common.html#method_render, only putting partial view file directly under views dir is supported. I checked ac.partial.render(newData, 'task', ...) works fine.  ac.partial.render(newData, './partials/task', ...) is not supported currently.

[2013-12-20 18:11] lzhan commented on #1306
Just verified: ac.partial.render(newData, 'partials/task', ...)   should works (don't use './partials/task'). Plz try.

[2013-12-30 23:22] jithine commented on #127
I am also facing the same issue. And it's been open for 2 years !!! Thanks @taomin for the workaround.

[2014-01-08 20:29] ItsAsbreuk opened #1312 "request for MojitProxy.refreshView() not to reload css-assets"
I have composite mojits that are refreshedViewed() multiple time with different childmojit configuration.

the css of this mastermojit is reloaded a huge amount of time now. It would be great if the css-assets wre not reloaded. Either by default, or as an option, like mojitProxy.refreshView({fetchCSS: false})

Best regards,
Marco.

[2014-01-08 20:34] ItsAsbreuk commented on #1312
where fetchCSS=false not applies to the childmojits that haven't been loaded yet - of coarse..

[2014-01-08 20:35] drewfish commented on #1312
I think mojito should be smart enough to not reload a CSS asset that has already been loaded on the page.

[2014-01-08 20:42] ItsAsbreuk commented on #1312
i agree. just keep in mind that we can do a refreshView with param-options where the param-options make the controller to serve different assets. so the logic should track css-files instead of mojits-actions.

[2014-01-09 15:09] caridy commented on #1306
@jithin1987 any update on this?

[2014-01-09 16:20] caridy commented on #1312
@ItsAsbreuk, are you using `shaker`?

[2014-01-09 16:29] ItsAsbreuk commented on #1312
@caridy no not for these current projects
(i will activate shaker in a couple of week though)

[2014-01-09 16:42] ItsAsbreuk commented on #1312
Here is a screenshot of my system:

http://projects.itsasbreuk.nl/screenshot.jpg

In the jpg-image you see in the inspector that index.css is loaded twice.
(which i can confirm when inspecting the actual html)

[2014-01-10 01:25] jithine commented on #1306
@caridy @lzhan This still does not work for me.

[code]

Log Output

[code]

I do have this file `partials/message.hb.html`
My Mojito version is 0.7.5

[2014-01-10 01:46] jithine commented on #1306
@caridy @lzhan

I think I figured out what is happening, if I use **any path** other than partials it works.
Eg:  `partial/message.hb.html` works. But I wanted to use `partials` because this way I can make my index.html  include the partial in it and based on a user action I can refresh that part by using partial.render()

So my options here are to make this part of my mojit a child mojit or use a

[2014-01-10 01:58] jithine commented on #1306
And the easiest fix here for me is to do `cp -r partials/ partial or ln -s partials partial`

[2014-01-10 17:34] lzhan commented on #1306
@jithin1987 @caridy : I just checked. `partials/` doesn't work. I will check what is going on there.

[2014-01-10 17:59] caridy commented on #1306
Yes, I remember I added a rule to treat files under `partials/` as a different kind of views, therefore they are not available has views to avoid the duplication specially in Shaker, where all files are going to be aggregated. We need to decide what to do in this case. My initial thoughts are:
- keep the current schema
- add a rule in the template lookup routine to deal with `partials/*` if they r

[2014-01-15 00:17] clarle commented on #1280
Issue resolved in #1300, and released in 0.8.2.

Thanks for the report @aljimenez!

[2014-01-15 00:17] #1280 closed, assigned to nobody

[2014-01-16 15:54] caridy commented on #1312
alright, let's get this fixed. @ItsAsbreuk if you can provide a very basic repro case, that will be awesome.

/cc @lzhan can you investigate more about this?

[2014-01-16 15:56] ItsAsbreuk commented on #1312
Yeah sure
I can build a repo this weekend.
Let you know.

[2014-01-16 16:28] lzhan commented on #1312
@caridy @ItsAsbreuk I will work on it.

[2014-01-16 22:44] lzhan commented on #1312
@ItsAsbreuk @caridy I can reproduce this with our existing test app.

[2014-01-17 19:55] realistschuckle commented on #417
Is this issue closed? I see that mojito has gone past version 0.6.

[2014-01-17 21:36] caridy commented on #417
@realistschuckle I will call this closed. We never officially released those compilers though.

[2014-01-17 21:36] #417 closed, assigned to nobody

[2014-01-17 21:38] realistschuckle commented on #417
How about un-officially? :) Do they live in a branch at which I could look and maintain their usage on my own?

[2014-01-24 02:48] jithine opened #1314 "mojito test crashes when require() is used"
I have a model which uses require()
`var fs = require('fs');`

When I try to unit test this model, the test crashes and throws the following the error.

[code]

If I remove the require() statement the test execution will continue to it's logical end.

[2014-01-25 06:09] jianglibo opened #1318 "escape comboBase will cause some combo handler stop working"
this is comboBase:

[code]

this is mojito deploy generated code:

[code]

surely combo hanlder will stop working.

[2014-01-25 17:12] caridy commented on #1318
@jianglibo it will take a while to fix this one. Once we release mojito-next (few next week), we should be able to replace the piece that does the serialization with the brand new `express-state`. I will keep you posted!

[2014-01-26 02:46] jianglibo commented on #1318
thank you for amazing mojito framework

[2014-01-27 17:46] drewfish commented on #1314
Are you running your test in a browser or in node?

[2014-01-27 21:25] jithine commented on #1314
It's on node. It's. Unit test ran via mojito test—
Sent from Mailbox for iPhone

On Mon, Jan 27, 2014 at 10:18 AM, Drew Folta notifications@github.com
wrote:

[2014-01-29 00:55] lzhan commented on #1306
Fix is available in mojito 0.8.3.

[2014-01-29 00:55] #1306 closed, assigned to nobody

[2014-01-29 19:40] imalberto opened #1320 "On middleware registration, pass in the `mojito` object"
From @aljimenez
This argument is  to be useful for a couple of our middlewares mostly so that we can return a middleware function based on the appConfig. Now it seems like we only have access to the store/appConfig per request so we have to execute extra logic every request instead of once, when the middleware gets added. Maybe it would be useful to pass the mojito object, when the middleware gets

[2014-01-29 19:56] caridy commented on #1320
@imalberto can you provide more details about this? in theory, you can have a top level middleware that adds the mojito instance into the req object potentially, and that will enabling accessing in any extra middleware.

[2014-01-29 20:00] aljimenez commented on #1320
Take [mojito-jscheck](https://github.com/yahoo/mojito-jscheck/blob/master/middleware/mojito-jscheck.js) middleware as an example; we have some logic in order to determine whether we want this middleware, based on the appConfig. But now that the midConfig is not passed, we would have to execute this logic during request time, using req.app.mojito.store.getAppConfig.

[2014-01-29 20:04] aljimenez commented on #1320
The common pattern that I see in a couple of our middlewares is that when it is added, we use the appConfig to determine whether this middleware should be executed per request. If not we return:

[code]

So maybe there should be a way for us to specify that we don't need this middleware by returning null instead of a function when it is created. If this happens then [middleware.js](https://github.

[2014-02-13 03:30] jianglibo opened #1333 "custom yui module invisible in test"
in controller.server.js requries my custom 'model-decorator' module,but Y.mojito.ModelDecorator is null.

[2014-02-13 14:49] caridy commented on #1333
this is the principle of unit testing, you test the unit, not its dependencies. you will have to mock `Y.mojito.ModelDecorator` in order to tests `controller.server.js`. there are plenty of examples thru the documentation for how to mock things when testing: http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_testing.html#mocking-models

[2014-02-13 14:49] #1333 closed, assigned to nobody

[2014-02-16 22:58] realistschuckle commented on #1320
I think that @aljimenez wants the configuration object. I figured out a way to [do just that](http://developer.yahoo.com/forum/Yahoo-Mojito/How-to-define-global-application-variables/1349117781509-3cede931-18f3-45a4-b229-49474fbabe98) using [Yahoo! Configuration Bundle](https://github.com/yahoo/ycb) that requires using a "private" property. It would be nice if we could have that information withou

[2014-02-17 00:43] caridy commented on #1320
@realistschuckle that mechanism exists today, and will remain even after we release mojito next officially (in ALPHA today). The mechanism is triggered by the prefix in the middleware name in `application.json`, if the middleware starts with `mojito-` it will be treated as a "middleware factory", and it will pass the proper configuration `midConfig`, if not, it will be treated as an express middle

[2014-02-17 02:32] realistschuckle commented on #1320
@caridy I see that mechanism and have tried to use it. I found that the method that makes the list, `MojitoServer.prototype._makeMiddewareList`, gets in the way. If I write a "special" middleware named `mojito-is-loved-by-realistschuckle-middleware`, then I have to make sure that I configure the entire middleware stack correctly because of the logic branch `if (hasMojito)` that builds the list. No

[2014-02-17 22:24] caridy commented on #1320
oh, I forgot to mention a very small detail :), my bad, but it is an important one, if you have a `mojito-` prefixed middleware, that means you're trying to mess with the default order, and you will have to re-specify the default middleware by name as well (keep in mind that by default your custom middleware will work before the default ones). In other words, you can do this:

[code]

hope that he

[2014-02-17 23:29] realistschuckle commented on #1320
@caridy I don't know why I didn't check mojito-next to check out the future direction. That is completely my fault! To the point of your comment, though, what you write makes sense (and I agree it could be easier for developers to use custom middleware:).

Just as a point of clarification, will the Mojito team release mojito-next with a new major revision number to imply incompatible changes with

[2014-02-18 01:03] imalberto commented on #1320
@caridy What you mentioned in [here](https://github.com/yahoo/mojito/issues/1320#issuecomment-35328575) is correct.

@realistschuckle The next major version is anticipated to be versioned 0.9.0 and should be available by end of Feb. Most of the improvements are internal, but from the app perspective, there will be some backward incompatibilities mostly related to how your application is bootstrapp

[2014-02-18 01:03] #1320 closed, assigned to nobody

[2014-02-19 01:21] drewfish commented on #1320
Yeah the current mojito middleware is a mess (and I'm to blame for much of it!). For mojito-next I would love if we could make it very simple -- just follow express common approaches. Even if this means breaking backwards compatibility.

If you look at the express middleware most of them _are_ factories. Some of them take arguments (such as `app.use(express.static(__dirname + '/public'))`) and som

[2014-02-19 19:52] caridy commented on #1320
I agree with @drewfish, let's remove the ability to use application.json's `middleware` to contextualize middleware.

[2014-02-20 22:04] caridy opened #1345 "[docs] mojitProxy.invoke()"
some of the examples using `mojitProxy.invoke()` are not following the API for the `params` arguments, which is a very explicit API.

probably we should go ahead and update the docs, and listing the specific API of `params`.

/cc @zhouyaoji

[2014-02-20 23:11] caridy commented on #1320
solved, we are now fully aligned with express. no more configuration in `application.json` for middleware.

[2014-02-22 02:54] realistschuckle commented on #1320
+1 - I like this solution because it makes middleware configuration more deliberate. Thank you, everyone, for participating in this discussion.

[2014-03-03 18:44] caridy commented on #4
closing old ticket.

[2014-03-03 18:44] #4 closed, assigned to nobody

[2014-03-03 18:44] caridy commented on #6
fixed a while back.

[2014-03-03 18:44] #6 closed, assigned to nobody

[2014-03-03 18:45] caridy commented on #11
closing old ticket.

[2014-03-03 18:45] #11 closed, assigned to nobody

[2014-03-03 18:45] caridy commented on #15
closing old ticket.

[2014-03-03 18:45] #15 closed, assigned to nobody

[2014-03-03 18:46] caridy commented on #16
this is done in mojito-next (0.9), where middleware are just express/connect middleware.

[2014-03-03 18:46] #16 closed, assigned to nobody

[2014-03-03 19:08] caridy commented on #699
mojito-next (0.9.0) allow you to use the regular process in express to control 500 errors.

[2014-03-03 19:08] #699 closed, assigned to nobody

[2014-03-03 20:12] caridy commented on #183
closing old tickets.

[2014-03-03 20:12] #183 closed, assigned to nobody

[2014-03-03 20:13] caridy commented on #238
this was solved a while ago.

[2014-03-03 20:13] #238 closed, assigned to nobody

[2014-03-03 20:14] caridy commented on #257
closing old tickets.

[2014-03-03 20:14] #257 closed, assigned to nobody

[2014-03-03 20:14] caridy commented on #258
closing old tickets.

[2014-03-03 20:14] #258 closed, assigned to nobody

[2014-03-03 20:15] caridy commented on #288
this is done.

[2014-03-03 20:15] #288 closed, assigned to nobody

[2014-03-03 20:16] caridy commented on #206
closing in favor of issue #454

[2014-03-03 20:16] #206 closed, assigned to nobody

[2014-03-03 20:17] caridy commented on #178
This should be solved in mojito-next (0.9) which is using express 3.x routes.

[2014-03-03 20:17] #178 closed, assigned to nobody

[2014-03-03 20:19] caridy commented on #679
in `mojito-next` (0.9.x), you can now use express directly to serve those special files without having to mess with RS.

[2014-03-03 20:19] #679 closed, assigned to nobody

[2014-03-03 20:21] #823 closed, assigned to nobody

[2014-03-03 20:24] caridy commented on #968
closing this very old ticket, specially because we want to walk away from the store for many of the hacky stuff we were doing before mojito-next.

[2014-03-03 20:24] #968 closed, assigned to nobody

[2014-03-03 20:26] caridy commented on #992
mojito-next (0.9) allow you to do whatever you want with the tunnel middleware, but the problem with making calls thru GET is the payload size.

[2014-03-03 20:27] caridy commented on #992
closing this in favor of issue #1050 which is a more realistic use case.

[2014-03-03 20:27] #992 closed, assigned to nobody

[2014-03-03 20:28] caridy commented on #1106
I presume this is a client side issue.

[2014-03-03 20:30] caridy commented on #1135
Workaround described here:
https://github.com/yahoo/mojito/issues/1046#issuecomment-15330353

Closing in favor of issue #1046

[2014-03-03 20:30] #1135 closed, assigned to nobody

[2014-03-03 20:31] caridy commented on #1145
mojito should work just fine in windows. If you have any issue, ping @juandopazo.

[2014-03-03 20:31] #1145 closed, assigned to nobody

[2014-03-03 20:33] caridy commented on #1183
Now in mojito-next (0.9.x), you can simply control any error accordingly:

http://expressjs.com/guide.html#error-handling

Although, I think this enhance makes sense, and I wonder how to detect it today thru express' error handling method. Feel free to reopen this.

[2014-03-03 20:33] #1183 closed, assigned to nobody

[2014-03-03 20:34] caridy commented on #1193
@imalberto is this fixed in mojito-next? what happen if there is a malformed `routes.json`? feel free to close this.

[2014-03-03 20:36] caridy commented on #1199
@zhouyaoji can this be closed?

[2014-03-03 20:37] caridy commented on #1206
This should have been fixed by now. @lzhan can you validate and close this?

[2014-03-03 20:37] caridy commented on #1219
@lzhan can you validate and close this?

[2014-03-03 20:38] caridy commented on #1238
This is done in mojito-next (0.9)

[2014-03-03 20:38] #1238 closed, assigned to nobody

[2014-03-03 20:40] caridy commented on #1257
mojito-next (0.9.x) uses the new serialization based on `express-state` pkg that should not mess with the encoding of the urls.

[2014-03-03 20:40] #1257 closed, assigned to nobody

[2014-03-03 20:40] caridy commented on #1260
@lzhan can we close this? /cc @zhouyaoji

[2014-03-03 20:42] caridy commented on #1274
I think we solved this a while ago. /cc @lzhan @imalberto

[2014-03-03 20:42] caridy commented on #1281
@aljimenez did you ever solve this?

[2014-03-03 20:43] caridy commented on #1302
Alright, closing this in favor of customization per application thru archetypes.

[2014-03-03 20:43] #1302 closed, assigned to nobody

[2014-03-03 20:44] caridy commented on #1312
@lzhan was this fixed?

[2014-03-03 20:45] caridy commented on #1318
mojito-next (0.9) solves this issue by using `express-state` serialization routine.

[2014-03-03 20:45] #1318 closed, assigned to nobody

[2014-03-03 20:45] caridy commented on #1345
/cc @zhouyaoji can you take care of this?

[2014-03-03 20:49] #1260 closed, assigned to nobody

[2014-03-03 20:51] ItsAsbreuk commented on #1302
All right,
but just to let you know: inside almost every binder, i use this code:

[code]

which enables batching invoke-calls.
Marco

[2014-03-03 20:52] caridy commented on #1302
nice! that's probably the preferable way, without having to bring promises into the core.

[2014-03-03 22:13] lzhan commented on #1312
The pull request with solution is closed. Long term solution needs to be discussed.

[2014-03-03 22:29] #1219 closed, assigned to nobody

[2014-03-03 22:35] imalberto commented on #1193
This should throw the exception for malformed json:

https://github.com/yahoo/mojito/blob/develop/lib/util.js#L115

[2014-03-03 22:35] #1193 closed, assigned to nobody

[2014-03-04 01:06] aljimenez commented on #1281
From what I remember, my solution was not to use relative paths for assets in static configuration. But there is a problem since ac.done merges meta.assets with config.assets and then it calls ac.assets' mergeMetaInto method, which also merges assets contained in config.assets. So config.assets end up getting added twice. This becomes a problem when an asset is specified with a relative path, beca

[2014-03-04 01:07] aljimenez commented on #1281
I guess there is a design flaw, since config.assets only need to be added in one place.

[2014-03-04 01:40] houyhnhnm commented on #1145
It is working fine for me now Caridy:) thanks I should have closed this issue myself. I must become a better community member of github: But I am growing.

[2014-03-04 03:35] caridy commented on #1312
Ok, I will close this one, and you can open a new issue for the long term solution.

[2014-03-04 03:35] #1312 closed, assigned to nobody

[2014-03-04 19:06] lzhan commented on #1206
I can still reproduce this issue.

[2014-03-04 19:44] caridy commented on #1206
Honestly, I don't remember what behavior is correct. But I think the `runtime` was an important part of the security protection. I think this will work just fine:

Remove those secrets from the master setting, and put it in server runtime, it will not leak:

[code]

Which means that the secret is only available for the server runtime, which has a semantic meaning, and makes more sense.

Also, sinc

[2014-03-04 22:29] jlecomte commented on #1206
The extension @caridy refers to is https://github.com/yahoo/mojito-config-expansion

[2014-04-18 00:33] houyhnhnm opened #1369 "For some reason I have obtained this issue when i run mojito on windows"
I started a new project and created my mojito app and a mojit for it.  But, when I started mojito
mojito start
I received these lines. I have other mojito apps that are running perfectly, but for this new app I dont know why it occurs.
i am running mojito on windows 7. I know some new changes have been made. I dont think they matter because the other mojito apps are running as they should. But, he

[2014-04-29 01:38] aljimenez commented on #1369
Hello. Which version of mojito is your application using? Mojito 0.9 starts differently from previous versions (see https://github.com/yahoo/mojito/wiki#mojito-v09).

[2014-04-29 02:13] houyhnhnm commented on #1369
thanks Albert. I already updated to mojito 0.9:) but the link was excellent to covering the changes. I had become too accustomed to the way things were.

[2014-04-29 02:13] #1369 closed, assigned to nobody

[2014-05-07 18:41] jithine opened #1373 "Exception on mp.destroyChildren() when used again after refreshView()"
It crashes in this flow

[code]

At this point there is an exception here https://github.com/yahoo/mojito/blob/42f6b2d8cf73181392a0594a309e347e42c6a7c4/lib/app/autoload/mojit-proxy.client.js#L363

What is happening is getChildren() called here https://github.com/yahoo/mojito/blob/42f6b2d8cf73181392a0594a309e347e42c6a7c4/lib/app/autoload/mojit-proxy.client.js#L354 has this data

[code]

rightPanelL

[2014-05-07 23:35] jithine opened #1374 "mojito crash when page is reloaded and a mojit invoke() is in progress"
Sequence -
1. User does a page action which does a mojit invoke()
2. Before invoke() is processed user does browser refresh
3. Mojito crashes

Log is captured from the moment user clicks page refresh. 1st part shows that express is detecting a request abort, but in last part of the log, the mojit's controller calls ac.done() and crashes. This is the controller action which was invoked before user

[2014-05-07 23:42] aljimenez commented on #1374
Seems like _writeHeaders is getting called after the res object has been closed:  (https://github.com/yahoo/mojito/blob/0d36bf1bbe9b851f34eaca1490886a52ec1f9818/lib/output-handler.server.js#L125)

[2014-05-28 21:07] aljimenez opened #1376 "Static context not reflected in request's context"
The context defined at start up time is not reflected per request. For example if the environment is set to "development" at startup, I would expect req.context.environment to be equal to "development" unless that request overwrites the environment dimension. Instead req.context.environment remains undefined. The mojito-contextualizer middleware should mix the static context to the request's conte

[2014-05-28 22:36] drewfish commented on #1376
I totally agree. This caused me trouble when I was writing an app with Mojito, and I wound up implementing my own contextualizing middleware that did just this.

[2014-05-28 23:02] aljimenez commented on #1376
Ok, I can fix it; it should be an easy fix. Just wanted to make sure this wasn't by design.

[2014-05-30 23:59] aljimenez commented on #1376
Pull request  #1378

[2014-05-30 23:59] #1376 closed, assigned to nobody

[2014-05-31 00:13] aljimenez commented on #1274
I just noticed that Drew had mentioned this issue before me. Pull request #1378 addresses this, although the request's context takes precedence. I think the req's context should take precedence because I see it as a more specific context than the static context. This allows the static context to serve as the default set of dimension values which can be overwritten by a request.

[2014-05-31 08:43] moeinnb76 commented on #1376
#1377

[2014-06-02 15:26] drewfish commented on #1274
Does that mean that I can add `?environment=production` to a query parameter and hit the production database (even on a staging server) ?

[2014-06-02 17:22] aljimenez commented on #1274
The contextualizer middleware doesn't set the req's environment based on a query parameter: https://github.com/yahoo/mojito/blob/develop/lib/app/middleware/mojito-contextualizer.js#L148. It only does so for dimensions such as lang, site, device, and region. If we make the req's context take precedence we can, for example, have a default value for "site", set at start up, which can be overwritten b

[2014-06-09 21:13] selkovjr opened #1379 "ac.error() sends an empty response to binder"
I have a mojit with a binder that tunnels a database query to its server-side controller. In the binder, the response is processed by a ModelList hooked to a DataTable. Everything works fine as long as there are no errors in the database. In the case of an error, everything works up to the point when the controller calls `ac.error(err)`, where `err` has the following form (as I get it from `pg` an

[2014-06-13 01:50] aljimenez commented on #1379
Thanks for pointing this out. The OutputBuffer's undefined id is definitely something we should fix; there are a couple of places where error messages can be more clear. I am not sure what is going on exactly, but I will try to setup a test case where there is a tunnel call that ends up calling ac.error. Mojito should be able to handle passing an object to ac.error. The best way to debug what is g

[2014-06-13 17:53] aljimenez opened #1381 "Routes exposed to the client"
Now that routes.json is no longer contextualized, there is no way to specify which routes can be made available to the client runtime. As a result all routes are visible on the client side, which adds to the size of the page and exposes internals.

[2014-06-18 16:12] caridy commented on #1381
This is supported thru `express-annotations`: https://github.com/yahoo/express-annotations#appfindallannotations

You can add specific marks into each route, (e.g.: `client: true`), then expose the result of the `app.findAll()` operation overruling the mojito default behavior, which is expose everything.

[2014-06-18 16:12] #1381 closed, assigned to nobody

[2014-06-22 12:27] d-adamkiewicz opened #1384 "after ac.cookie.set() ac.cookie.get() returns "undefined" - bug?"
Excerpt from mojits/MyMojit/controller.server.js (single mojit, no HTMLFrameMojit used)

[code]

_When 'someIP:8666' url opened in browser this produces on console:_
debug: (mojito-dispatcher): Dispatcher created
no cookie set
ac.cookie.set()
cookie: undefined
info: (outputhandler.server): done
mojito: (outputhandler.server): END
debug: (mojito-dispatcher): Dispatcher created
cookie: 1403438214809

[2014-06-24 17:50] aljimenez commented on #1384
Hi,

Thanks for reporting this. To my understanding this is the expected behavior; ac.cookie.get gets the cookies from the request, whereas ac.cookie.set sets new cookies for the response. So when you call ac.cookie.set the client will get the new cookie, but when you call ac.cookie.get right after, the cookies returned should be the original set of cookies that the client sent, not the new cookie

[2014-06-25 15:39] d-adamkiewicz commented on #1384
Hi,
Thank you for the anwser. What I try to do is to make sure whether cookie was set (and its value) or not in single execution of server controller code where app logic needs this confimation because I want link some server stored data with it - ie implement sessions.btw. implementation ac.cookie.get() changed recently? Mojito sessions https://github.com/akshar100/mojito-session addon which was

[2014-06-25 18:21] aljimenez commented on #1384
Based on the [history of cookie.server.js](https://github.com/yahoo/mojito/commits/develop/lib/app/addons/ac/cookie.server.js), the implementation has been the same since 2012. I am not familiar with mojito-session, but if you end up creating your own solution, you may consider open sourcing it so others can benefit from it.

[2014-07-02 21:57] aljimenez commented on #1381
See this [pull request](https://github.com/yahoo/mojito/pull/1386)

[2014-07-03 22:15] #1384 closed, assigned to nobody

[2014-09-25 12:40] muhilvarnan opened #1387 "Error : During Dynamic mojit creation"
HI,
   I just trying out few tutorials in the mojito, and got stuckup in the dynamic mojit creation.
   whether we include a grand child in the dynamic mojit at controller file.
I do not know this is a issue or i didnt understand concept.. ,, need a help in this :
   this is my controller index action :

[code]

Error which i get is :

Error dispatching '@header':
TypeError: Cannot call method 'ge

[2014-09-25 18:33] aljimenez commented on #1387
Hello, the error is occurring at "dynamic/mojits/header/controller.server.js:25:23". Looks like its calling a method 'get' on an object that is undefined. I can't tell what is going on without seeing the header mojit controller; but perhaps a module that that controller is expecting was not properly loaded. There might be some YUI "module not loaded" messages on your console.

[2014-10-14 06:51] muhilvarnan opened #1388 "Load custom template view in ac.composite.execute"
Hi,

   I need  clarification regarding the implementation of dynamic mojit (composite execute). I have two page namely "homepage" and "login". I planned to load the corresponding mojits of each page using a common controller by creating a mojit called "pagelayout".

 Pagelayout mojit has following file structure :-
      controller.server.js
      views/
            index.hb.html
            logi

[2014-10-14 13:35] caridy commented on #1388
what version of mojito are u using? latest versions should support that as described here:
https://github.com/yahoo/mojito/pull/950

[2014-10-15 05:40] muhilvarnan commented on #1388
Version which i am using :- mojito-cli v0.2.0

if its in lastest version means, could u show how to do the above functionality with a small code snippet(controller file part alone),

Thanks for the reply ......

[2014-10-15 06:30] muhilvarnan commented on #1388
I have gone through the mojto docs and i finally came up this solution. It works fine for me:

   ac.composite.execute(cfg,function(data, meta)
        {
         template ={ "name": "login" };
         meta['view']=template
          ac.done(data,meta);
     });

[2014-10-15 13:57] #1388 closed, assigned to nobody

[2014-10-15 19:21] #405 closed, assigned to nobody

[2015-01-13 12:37] tenzan opened #1390 "`mojito start` not working"
Hello.

Here https://github.com/yahoo/mojito is says to start server:
`$ mojito start`

But I'm having the error:

[code]

[2015-05-14 03:55] funkytaco commented on #1390
This project seems to be abandoned. Yahoo's probably too busy to work on it, and haven't found any open source community members willing to contribute.

[2015-05-14 03:57] tenzan commented on #1390
Yeah, it seems so...

[2015-05-14 04:52] jamesalley commented on #1390
Hi guys. Sorry to say, but you're right, Mojito has effectively been abandoned. The team working on it was dissolved. The Mojito owner left the company. YUI, which Mojito is based on, has been deprecated and is no longer supported. It was pretty awesome stuff though!

We're now focused on building component-based apps with React.

[2015-05-14 05:29] tenzan commented on #1390
Thanks for the heads up.

[2015-08-27 00:21] ericf opened #1392 "Switch "express-state" internal module require()"
The `express-state` package has been updated to 1.3.0 which removes an internal module which is being `require()`'d here: https://github.com/yahoo/mojito/blob/3828d51207bdab763c4b3f7c48aed1aecd922051/lib/app/addons/ac/deploy.server.js#L19

This should be replaced with the [`serialize-javascript`](https://github.com/yahoo/serialize-javascript) package.

See: https://github.com/yahoo/express-state/r