[2012-03-30 17:52] add0n opened #1 "Installing custom log function throws an exception"
As documented, customized logging uses the YUI._mojito.logger.set('formatter', ...) method to set up a custom log.

This mechanism is throwing an exception.

[2012-03-30 17:53] add0n opened #2 "MOJITO_INIT is calculated in a way that isn't cross-browser compatible"
Mojito generated code uses Date.now() which is only present in ECMAScript e5 platforms.

[2012-03-30 17:54] add0n opened #3 "Document caching Mojito client data on the client and server."

[2012-03-30 17:56] add0n opened #4 "Document callback parameters for 'invoke', 'listen', and 'render'."
These calls are frequently used and the callback parameters need documenting

[2012-03-30 17:57] add0n opened #5 "Document the scope for various elements of a Mojito application"
Mojito programmers write code that live in various contexts:

Mojito framework
Node.js
mojits
controllers / models
binders
objects - ActionContext, mojitProxy, this.config, etc.
addons / YUI modules
middleware
configuration - application.json, defaults.json, definition.json

[2012-03-30 17:58] add0n opened #6 "Error when trying to destroy children created via ac.composite.execute()"
Patch submitted internally at Yahoo!

[2012-03-30 17:59] add0n opened #7 "Ability to add route params as an object instead of a query string"
Instead of this:

[code]

I'd like to do this:

[code]

[2012-03-30 18:01] add0n opened #8 "Allow passing of app config to model objects"
Allow app-level config to be available in models, so that things like API
hostnames, etc.. can be stored in the config.

Example:

[code]

[2012-03-30 18:02] add0n opened #9 "[bz4558998] Ability to programmatically set headers for static files"
We should probably open up a function within the static handler middleware so users can provide massaging of responses for static files.

[Massaging of] Expires, Last-Modified, or any custom headers someone might want.

[2012-03-30 18:03] add0n opened #10 "Ensure Mojito can handle YUI module names with underscores"

[2012-03-30 18:04] add0n opened #11 "JavaScript error in mojito-client.client.js after refreshView with composites"
- I have a mojit that uses ac.composite.invoke() to create child mojits
- Each of these child mojits has a binder of its own. When clicking “Search” the XXX binder issues an mp.refreshView() call.
- The number of child mojit instances will vary from refresh-to-refresh (currently just using Math.random() to achieve this)
- Eventually if you hit ‘Search’ enough times, you’ll get a Javascript error o

[2012-03-30 18:05] add0n opened #12 "Server crashes during /tunnel in util.common.js"
In certain scenarios, the server will crash with a Function.APPLY_OVERFLOW error in util.common.js. Will attach a stack and descriptions of the scenarios shortly.

[2012-03-30 18:05] add0n opened #13 "[bz5147315] ContextController cache never cleans up"
Y instances are cached within the client controller context object by mojit instance guid so that many actions on the same controller can always occur on the same instance.

If all the views of a particular mojit controller are destroyed, that Y instance is never removed.

This is a possible memory leak.

Every time a mojit proxy's private _destroy() function is called, the client needs to do a ch

[2012-03-30 18:06] add0n opened #14 "[bz5439377] configuration accepts neither null nor false values"
configuration currently does not accept false or null values as stated on json.org

[2012-03-30 18:06] add0n opened #15 "[bz5395283] Document handleClick Binder event delegation"
The handleClick Binder function is not documented in the Mojito docs.

Also Binder class doesn't seem to documented at all.

[2012-03-30 18:07] add0n opened #16 "[bz5309856] Support custom middleware as part of the Mojito configuration process."
Allow applications to define custom middleware components which will execute in the Express/Connect middleware stack. The actionContext and other Mojito components must be verified for correctness upon completion of all middleware component execution, prior to the final request handling steps.

[2012-03-30 18:08] add0n opened #17 "[bz4564243] Calling ac.done(data1, 'json') from client and server give different results"
Calling ac.done(data1, 'json') from client and server give different results:

From client: Got object
From server: Got json formatted data.

[2012-03-30 18:09] add0n opened #18 "[bz4591526] Add ability to specify a different binder from the view default"
In addition to being able to specify a different view template from the default (the action name), we'd like to be able to specify a different binder as well, in the case where we'd like to share a view template between two different actions, but with different bindings.

[2012-03-30 18:09] add0n opened #19 "Make Mojito YSlow compliant"

[2012-03-30 18:09] add0n opened #20 "[bz4645306] HTMLFrameMojit doesn't allow printing error message"
When I wrap a Mojit in HTMLFrameMojit and I use ac.error() in a controller.server.js file, nothing is printed since, this.done('') is empty. Shouldn't there be a way to print the error message?

[2012-03-30 18:10] add0n opened #21 "[bz4646703] When dispatched, mojits get all addons from all other mojits"

[2012-03-30 18:10] add0n opened #22 "[bz4646986] Allow users to change template and data for HTMLFrameMojit"

[2012-03-30 18:11] add0n opened #23 "Enable node options to be passed into node via "mojito start""
Currently, you cannot specify any node options using "mojito start", such as --debug.

[2012-03-30 18:11] add0n commented on #23
There is currently a workaround for this issue:

node --debug ./bin/mojito start

[2012-03-30 18:11] add0n opened #24 "Structured Extensions (Plugins)"
Mojito needs a way to group various bits of code that -- when combined -- provide additional features to the platform. These extensions should be installable via npm, but should not be applied to all Mojito applications when installed. Mojito apps should identify which extensions they require within their configuration.

Dependencies:

The npm package for an extension should identify any dependenc

[2012-03-30 18:12] add0n opened #25 "[bz4788267] Child errors are not communicated clearly to parents"
The default error() function the composite plugin uses to handle child errors looks like this:

[code]

In order to allow the parent mojit to continue running, it passes back an empty string into ac.done(), but we should have a way to communicate child errors

[2012-03-30 18:12] add0n opened #26 "[bz4856275] Mojito logging output can be truncated on failures that crash the server"
In the particular case where I hit this, I was trying to launch Mojito when there was already an orphaned instance running somewhere else. I'm guessing Mojito would have produced a very helpful error message, but the logging output was truncated in the midst of a long output line regarding loaded modules.

I'm assuming this is some kind of issue with un-flushed output buffers.

The particular form

[2012-03-30 18:13] add0n opened #27 "mustache error crashes node"
In a model, I convert an object of objects to an array of objects like this:

var list = [];
list = Y.Object.values(this.feeds).sort(sortFeeds);

In the controller, I assign this array to an object and pass to ac.done() like
this:

var vudata = { //mustache template data
spaceid: this.config.spaceid,
tiles: []
};

//later
vudata.tiles = list;
ac.done(vudata);

Starting mojito and requesting the pa

[2012-03-30 18:14] add0n opened #28 "yuidoc: addJs() vs. addCss()"
addCss
void addCss ( link , location )
Method for adding a JS file to the page.
^^^^

This should say "a CSS file"

[2012-03-30 18:14] add0n opened #29 "Improve error handling on "build html5app""

[2012-03-30 18:14] add0n opened #30 "[bz4910504] API inconsistency between ac.partials and other 'render' methods"
index: function(ac) {
var roles = Y._AppUtils.getRoles(ac);
if(roles.indexOf('unknown')==-1) {
ac.partial.render({some:"data"}, "error", function(html) {

the problem is that the callback has 2 parameters, like: function(err, html).
err is null on success.

Here is my working sample:
ac.partial.render(response, 'preview', function(err, html) {
Y.log('renderer: '+html, 'debug', NAME);
});

Maybe th

[2012-03-30 18:15] add0n opened #31 "[bz4929086] Unit tests for CLI management commands break test coverage"
They are currently renamed to .txt files. Need to update test.js CLI command to prevent these tests from being included in the test configuration during test coverage generation.

[2012-03-30 18:15] add0n opened #32 "[mojito compile rollups] using dot notation in the name of the css files will make compile to discard some of them"
When having:
mojit/Foo/assets/css/skin.sam.css
mojit/Foo/assets/css/skin.caridy.css

after running: mojito compile rollups

the rollup.client.js will have only one of those two files, apparently the routine for hashing the filenames is not good.

I can see the files listed in the compile routine output, but somewhere in the middle they got discarded.

The workaround is just to use - instead of .

[2012-03-30 18:16] add0n opened #33 "[bz4970604] Lazyload: got "mojitYuiModules is undefined" from dispatch.common.js"
Got "mojitYuiModules is undefined" from dispatch.common.js

logger.log('Dispatching an instance of "'+(instance.id || '@'+instance.type)+'/'+command.action+'" with the modules: ['+mojitYuiModules.join(', ')+']', 'info', NAME);

To reproduce:

cd qetest/source/applications/frameworkapp/common
mojito start
http://localhost:4081/#LazyParent

[2012-03-30 18:17] add0n opened #34 "[bz4992424] Mojito does not show a view when fed a URL with a hash mark on it"
For example, when the following url is fed to Mojito:

http://localhost:8666/yahoo.sites.loader/index.html?viewer=yahoo.samples.viewers.wheel_of_fortune_test#Leo

no content is shown and the server log gives an error.

[2012-03-30 18:17] add0n opened #35 "[bz4993611] client runtime must keep track of mojit hierarchy when new mojits are dispatched"
Initially when the Mojito Client is initialized, the binderMap sent from the server is used to create MojitProxy objects, and each one contains a config object with 'children' if there are any. This state is only the original state of the page, so when any mojits are dispatched that create new binders on the page (and new MojitProxy objects), the state of the parent binder is not updated, and ther

[2012-03-30 18:18] add0n opened #36 "[bz4998187] calling ac.params.getFromUrl() twice in code causes mojit test app to fail"
I have a library of functions that check URL parameters and so I called ActionContext.params.getFromUrl() twice:

1) in libary
2) in mojit controller.server.js

The code ran fine but when I ran "mojit test app ." on my app, this caused the tests to fail with the error:

[code]

[2012-03-30 18:18] add0n opened #37 "i18n support for html5apps"
HTML5 bundled apps need i18n support.

[2012-03-30 18:19] add0n opened #38 "binding_events example issue"
if (typeof(props[key]) == 'object') {

should be

if (typeof props[key]) == 'object') {

[2012-03-30 18:19] add0n opened #39 "Missing Mustache template crashes Mojito process"
I tried moving the generated index.mu.html to another directory to see what would happen. In the logs I get:

[MOJITO](1322856027466) mojito-mu: Rendering template "undefined"

/home/y/share/node/mojito/app/addons/view-engines/mu.server.js:33
                    if (err) { throw err; }
                               ^
Error: EISDIR, Is a directory

And the process crashes.

[2012-03-30 18:20] add0n opened #40 "[bz5212983] command "mojito create mojit this" can create mojit using a keyword as mojit name"
Even though the following command give error on using keyword as mojit name, but the mojit is still created successfully.

mojito create mojit this

[2012-03-30 18:20] add0n opened #41 "[bz5264467] custom log writers / formatters / publishers are never included"
Because 'mojito start' no longer reads 'server.js', where the custom logging functions would be defined by the user.

[2012-03-30 18:20] add0n opened #42 "[bz5264469] middleware tests are not run during 'mojito test app'"
There should be a standard for middleware unit tests so that mojito can pull them and run them with the app tests.

[2012-03-30 18:21] add0n opened #43 "[bz5264893] when using a group setting which is not defined in dimension.json, the error msg is misleading"
when using group setting is not defined in dimension.json, for example, in application.json, changed the "environment:testing" to "environment:testing1", the error msg is as following:

✖ The settings group '{"environment":"testing1"}' has already been added.
    Error: The settings group '{"environment":"testing1"}' has already been
added.
    at Object._processRawBundle
(/usr/local/lib/node_modu

[2012-03-30 18:21] add0n opened #44 "[bz5269426] In certain versions of Firefox, the 'children' attribute of the MojitProxy object is undefined"
The test case for the "inter-mojit" application in the examples/developer-guide fails, when the link is clicked. It shows some error in firebug:

c is undefined
[Break On This Error] var receiverID = c["receiver"].viewId;

[2012-03-30 18:21] add0n opened #45 "Unify --context flag"
"mojito start" has a --context flag that accepts arguments like
"lang:es,environment:dev".

"mojito build" has a --context flag that accepts arguments like
"lang=es&device=iphone".

These contexts both filter into the system in different ways. "start" passes the arguments directly in code, while "build" uses the argument to generate a URL.

These flags should take the same argument, or perhaps use

[2012-03-30 18:22] add0n opened #46 "Example "using_configs" and "global_assets" gives error on Firebug"
I am executing the example in the developer-guide - using_configs
When running on Firefox, I see the below error on Firebug:

Y.mojito is undefined
[Break On This Error] window.YMojito = { client: new Y.mojito.Client({

[2012-03-30 18:22] add0n opened #47 "[bz5295555] mojito compile creates different output in app directory named 'mojito'"
'mojito compile -e all' creates different output if the app directory is called 'mojito' than if the directory is called something else (no views or json)

[2012-03-30 18:23] add0n opened #48 "[bz5336538] HTMLFrameMojit should include 'dir' and 'lang' attributes"

[2012-03-30 18:23] add0n opened #49 "[bz5403069] Support cookie getSub/setSub"
The getSub/setSub methods are very useful to read and write hashed key/value pairs. Please support this so the interface is more similar to the YUI3 Cookie class.

[2012-03-30 18:23] add0n opened #50 "mojito start loads tests from addons"
We made an addon and put it on app/addons/ac/

A test for it located on the sub-directory app/addons/ac/tests/ is successfully loaded and executed with the "mojito test" command.

But when the file is left on the app/addons/ac/tests/ directory, the "mojito start" command throws an error on server load:

[YUI-INFO](1330691689039) get: Loaded:
/home/julionn/host/mib/todo/addons/ac/tests/featureflipp

[2012-03-30 18:24] add0n opened #51 "[bz5376100] Mojito Loader (serverside) should not load YUI dependencies from a remote server"

[2012-03-30 18:24] add0n opened #52 "[bz4639876] YUI core is the last asset added at the top"
ac.assets.addJs('/static/MojitModule/assets/someasset.js', 'top');

Adds the asset before the yui core call.

Resulting in:

This throws out an error since basically all JS requires YUI.

[2012-03-30 18:25] add0n opened #53 "[bz4788123] All autoload modules are attached twice"
As it turns out, the autoload modules aren't being -loaded- twice, but -attached- twice. By "attach" I mean that the fn part of "Y.add(name, fn, ...)" is being called. So, for binders[1], the fn is called once as it is added to the page-level YUI instance (the one in which mojito-client runs), and again for the YUI instance that is made for the mojit invocation. (Using sharedYUIInstance just means

[2012-03-30 18:25] add0n opened #54 ""mojito compile inlinecss" has unexpected behavior when there is a css file name that contains the string "iphone""

[2012-03-30 18:25] add0n opened #55 "[bz4999348] A mojit controller on the client cannot dispatch child mojits that have a 'server' affinity"
If a parent mojit tries to dispatch a child with a controller that has a 'server' affinity from the client, there is a very non-descriptive error that occurs:

This is because there are now YUI dependencies configured for the "client" environment, so a null list is created. The join call expects a full list.

This is a tricky problem, because we are entirely inside of the Mojito Kernel at the poin

[2012-03-30 18:26] add0n opened #56 "[bz5301600] mojito-client should require YUI intl"
In this scenario:
- An app running in prod mode (useRollups: true)
- A binder that will do nothing with the templates or lang.

Under those circustances, an error will be reported:

Uncaught TypeError: Object #<Object> has no method 'add'

[2012-03-30 18:26] add0n opened #57 "global app tests are not run during 'mojito test app'"

[2012-03-30 18:26] add0n opened #58 "Upgrade to latest version of Mustache"
Upgrade Mojito to use the latest version of Mustache, which includes such niceties as dot-separated object field access.

[2012-03-30 18:27] add0n opened #59 "test files under addons/ac/ are loaded when mojito starts"
Files using the suffix "-tests" must not be loaded when you start your mojito application. That's not the case for files under addons/ac/

[2012-03-30 18:27] add0n opened #60 "[bz5440307] ac.composite.execute() fails with an empty children list"
If you pass an empty object for the children property in your cfg to ac.composite.execute(), Mojito will sort of just hang there. I think I've tracked the issue down to lines 260-262 of composite.common.js (in the function AdapterBuffer.done).

What I think happens is that the buffer.**counter** property will start at 0, and gets decremented to -1:

if(--this.buffer.**counter** === 0){
  this.call

[2012-03-30 18:28] add0n opened #61 "[bz5441909] request-cycle events in mojito"
It would be nice to have a way to attach listeners into some request-cycle events like end-headers, triggered just before the first byte of the content been sent.

The case I want to address here is to store all different settings we want to store on a cookie and send it as late as possible. So we can have different components managing their settings independently.

Please let me know if you need

[2012-03-30 18:28] add0n opened #62 "Easier way to pass information to child mojit template"
It's so easy to pass information from a child mojito to a parent, with ac.meta.store/retrieve.

The other way around, not so much. We came up with three approaches:

1)
http://devel.corp.yahoo.com/cocktails/mojito/docs/topics/mojito_composite_mojits.html#dynamically-creating-child-mojits
;

2) Hiding on a parent template tag and reading on the child binder;

3) Inject on ac.composite.command befor

[2012-03-30 18:28] add0n opened #63 "[bz5362895] Serve minified/comboed versions of all Mojito client framework JS files"
There should be a way to serve minified versions of all the JS files required by the Mojito client framework, either through configuration or command-line option.

[2012-03-30 18:29] add0n opened #64 "[bz4647810] Replace the "poor man's minify" with a real minify"

[2012-03-30 18:29] add0n opened #65 "split up the app config into server and client sections"

[2012-03-30 18:29] add0n opened #66 "[bz4647806] Speed up the deploy addon's getScripts() function by looping and caching"
what does this even mean?

[2012-03-30 18:30] add0n opened #67 "[bz4649669] Dispatches with expand instance errors and no adapter error fn hang the request open"

[2012-03-30 18:30] add0n opened #68 "[bz4649670] Create the YUI cache key faster"

[2012-03-30 18:30] add0n opened #69 "[bz4649674] Replace global config YUI groups with group parameters to the YUI() function"

[2012-03-30 18:31] add0n opened #70 "[bz4647494] Simplify logging platform"
It could be much, much simpler internally.

[2012-03-30 18:31] add0n opened #71 "Mojito client API matches Dali"

[2012-03-30 18:31] add0n opened #72 "REST Lib: Params passed through Y.mojito.lib.REST.PUT() can't be retrieved by ac.params.getFromUrl() in underlying WS"
wsWithPUTParams: function(hostport, sprintNum, cb){
            var url = "http://" + hostport + "/restWS/printPUTParams";
            var params = {
                project: "Mojito",
                sprint: sprintNum
            };
            var config = {
                timeout: 5000,
                headers: {}
            };

[code]

{
                if (err) {
                    return

[2012-03-30 18:32] add0n opened #73 "[bz4647735] Allow routing table entries to contain params as object literals or strings"

[2012-03-30 18:32] add0n opened #74 "[bz4647732] Prevent unnecessary regex creations"

[2012-03-30 18:32] add0n opened #75 "[bz5749285] Cache computed routes"

[2012-03-30 18:33] add0n opened #76 "YUIDocs for resource store getSpec()"

[2012-03-30 18:33] add0n opened #77 "YUIDocs for resource store getType()"

[2012-03-30 18:34] add0n opened #78 "Complete client resource store implementation"

[2012-03-30 18:34] add0n opened #79 "[bz4649708] Do better at iOS URL generation"

[2012-03-30 18:34] add0n opened #80 "[bz4647674] Remove dependency on express and revert back to connect only"
There is nothing in express that we are using that connect doesn't provide.

[2012-03-30 18:35] add0n opened #81 "[bz4647676] Remove prototypal singletons"
In general, scour the codebase for prototypal objects that only have one instance of them ever created and replace with an object literal.

[2012-03-30 18:35] add0n opened #82 "[bz4388276] Create a middleware to handle 404 pages instead of doing it within Mojito"
Or potentially just a simple error handler middlware that can handle any errors. It will look for a particular mojito-error object on the request to find out whether to react or call next().

[2012-03-30 18:35] add0n opened #83 "[bz4647704] Rethink the http server exports from index.js"
There is too much being exported, and we might want to clean it up.

[2012-03-30 18:36] add0n opened #84 "[bz4647788] Don't make unnecessary calls to the shell for file system commands"
The yuidoc script is bad about this.

[2012-03-30 18:36] add0n opened #85 "[bz4647783] jslint cli option to lint a single file"

[2012-03-30 18:36] add0n opened #86 "[bz4647471] Real device detection"
As a part of this, allow a configuration to skip device detection altogether for performance reasons.

[2012-03-30 18:36] add0n opened #87 "[bz4647743] Remove static handler's check for malicious paths"
we should be able to just remove statements like this, because Mojito closes all bad URLs down:

// Potentially malicious path
if (~path.indexOf('..')) {
return forbidden(res);
}
@gissues:{"order":66.66666666666666,"status":"backlog"}

[2012-03-30 18:37] add0n opened #88 "[bz4647747] Figure out the most performant way to handle favicon.ico"

[2012-03-30 18:37] add0n opened #89 "[bz4647748] create a cache for file stat objects for all statically served assets"
We should test this to ensure we are really helping performance by doing this.

[2012-03-30 18:37] add0n opened #90 "[bz4647754] Decide when it is appropriate to send next() an error"
Particularly for performance. If a static asset throws an error when trying to find a predefined static asset, we should die early without deferring to Mojito.

[2012-03-30 18:38] add0n opened #91 "[bz4647768] Switch on env (dev/prod) for returning static asset Last-Modified header value"
In dev mode, we should always return a new Date(). Otherwise use the proper date value.

[2012-03-30 18:38] add0n opened #92 "[bz4647772] Revisit the static file caching"
It is currently implemented, but not being used for no apparent reason.

[2012-03-30 18:39] add0n opened #93 "[bz4647721] Check for tunnel command immediately within router"
... to help performance.

[2012-03-30 18:39] add0n opened #94 "Remove query string routing"
Make sure there are no docs or examples about it.

[2012-03-30 18:39] add0n opened #95 "Proper Mojito version number comparison"
It could be one of two things:

have resource store return the correct Mojito version, which was not just hard-coded in a source file somewhere
or

Within a mojit package.json, there should be a dependency declared on the version of Mojito it can run within like ">0.1.0.96"

[2012-03-30 18:40] add0n opened #96 "[bz4647668] Create default pages for 404, 500, etc."
If in the dev environment, the error pages should display full stack traces.

[2012-03-30 18:40] add0n opened #97 "[bz4647497] allow default log options to be on config.json at the framework level"

[2012-03-30 18:40] add0n opened #98 "[bz4781501] All client-affinity Mojito modules should be testable by the CLI"
"mojito test" should also execute client-side only code.

[2012-03-30 18:41] add0n opened #99 "[bz4638932] Introduce different development environments"
dev / test / prod, and ways to configure different settings (and default settings) for each environment.

[2012-03-30 18:41] add0n opened #100 "Properly handle the case where there is no application.json"
Currently, an error is caught and ignored.

[2012-03-30 18:41] add0n opened #101 "document fileFromStaticHandlerURL()"

[2012-03-30 18:42] add0n opened #102 "document ResourceStore.getYuiConfigAllMojits()"

[2012-03-30 18:42] add0n opened #103 "document ResourceStore.getYuiConfigFw()"

[2012-03-30 18:42] add0n opened #104 "document ResourceStore.getYuiConfigApp()"

[2012-03-30 18:42] add0n opened #105 "[bz4647365] cache output of serializeClientStore()"

[2012-03-30 18:43] add0n opened #106 "document ResourceStore.getMojitTypeDetails()"

[2012-03-30 18:43] add0n opened #107 "document ResourceStore.getRollupsApp()"

[2012-03-30 18:43] add0n opened #108 "document ResourceStore.getRollupsMojits()"

[2012-03-30 18:44] add0n opened #109 "Refactor certain complicated parts of the store"
For readability.

[2012-03-30 18:44] add0n opened #110 "Detect duplicate resource ids on cookdown"

[2012-03-30 18:44] add0n opened #111 "[bz4647457] magic constants should should come from config.json"

[2012-03-30 18:45] add0n opened #112 "Mojito should provide a way fine-grained way to target runtime environments"
Currently, files with "common" affinity that need to specify a small portion of code to be server- or client-only must refactor the code into two files, one with "client" affinity and one with "server" affinity.

This is a very high-overhead approach and a barrier to getting useful work done.

Instead, Mojito should provide a low-overhead way to meet this requirement. Two potential approaches:
1.

[2012-03-30 19:58] drewfish commented on #8
Instead of just passing static configs to init(), I'd like instead to pass a "model context" (or "model proxy").  The configs (app or mojit) can be gotten from this proxy.  This would be a larger change though -- a bit of an architectural change.

[2012-03-30 19:58] drewfish commented on #9
There is already some config variables for this (see "cache" and "maxAge" in "staticHandling" in application.json).  Not sure how well it works though :(

There's also an idea (filed separately) to give user-provided middleware access to the ResourceStore, which would be enough for them to write their own customized static handler.

[2012-03-30 19:59] drewfish commented on #10
The language bundle handling is especially an issue.

[2012-03-30 20:00] drewfish commented on #65
With the YCB support, I don't think we need to do this anymore.

[2012-04-02 16:04] ginader opened #113 "mojito command not found after npm install"
$ npm install mojito
npm http GET https://registry.npmjs.org/mojito
npm http 200 https://registry.npmjs.org/mojito
npm http GET https://registry.npmjs.org/mojito/-/mojito-0.0.1.tgz
npm http 200 https://registry.npmjs.org/mojito/-/mojito-0.0.1.tgz
mojito@0.0.1 ./node_modules/mojito

$ mojito create app simple hello
-bash: mojito: command not found

$ node -v
v0.6.11

$ npm -v
1.1.1

[2012-04-02 16:42] mojit0 commented on #113
I've updated the README file to reflect the proper installation. Because there's a "binary" for Mojito you currently have to do a global install as well. Proper steps should be:

npm install -g mojito
npm install mojito

The first command will put the mojito command where it should be found.

[2012-04-02 16:42] #113 closed, assigned to nobody

[2012-04-02 18:08] ginader commented on #113
that did the trick!
thanks :-)

[2012-04-02 18:24] tonytamsf opened #114 "installation on Mac Darwin running into warning"
sudo npm install --force -g .
YHdrs library could not be loadedError: Cannot find or access denied to the module 'yhdrs'
    at Function._resolveFilename (module.js:332:11)
    at Function._load (module.js:271:25)
    at http.js:1007:31
    at NativeModule.compile (node.js:458:5)
    at Function.require (node.js:426:18)
    at Function._load (module.js:296:25)
    at require (module.js:366:19)

[2012-04-02 18:53] drewfish commented on #114
Installing from the NPM registry works fine.  I just tried installing from the github repo too, and it worked.

[code]

I'm using npm@1.0.106 and node.js version 0.4.9.

[2012-04-02 18:54] drewfish commented on #114
Please reopen with details of the steps you are taking if you are still running into trouble.

[2012-04-02 18:54] #114 closed, assigned to nobody

[2012-04-02 18:59] tonytamsf commented on #114
beingmaster-lm:hello tonytam$ npm -v
1.0.17

beingmaster-lm:hello tonytam$ node -v
v0.4.9-pre

I will to replicate
beingmaster-lm:hello tonytam$ uname -a
Darwin beingmaster-lm 10.8.0 Darwin Kernel Version 10.8.0: Tue Jun  7 16:33:36 PDT 2011; root:xnu-1504.15.3~1/RELEASE_I386 i386

[2012-04-03 03:01] caridy commented on #112
@add0n that feature already exists. In the server or in the client, you can access to ac.context.runtime in the controller. In the binder you have access to mojitProxy.context.runtime, it will have:

server or client, depending on the runtime.

About the other part of the request, I don't think configuration are any better than a descriptor in the filename.

[2012-04-04 18:00] dmorilha commented on #85
would be nice to have it reporting to stdout instead of creating files :P

[2012-04-04 23:02] epuidokas commented on #94
Does this invalidate https://github.com/yahoo/mojito/issues/7 ?

[2012-04-05 23:55] huang47 opened #119 "y.ahoo.it/mojito points to yahoo corp"
we need to correct with public URL http://developer.yahoo.com/cocktails/mojito/ instead

[2012-04-06 17:47] rwaldura commented on #119
Short URL updated. Thanks!

[2012-04-06 17:47] #119 closed, assigned to nobody

[2012-04-11 18:06] triptych opened #125 "Unable to get mojito running on nodejitsu"
After creating a nodejitsu acct and trying to deploy a mojito app a number of issues arose:
1) apparently the version of express used by mojito is out of date and has known issues - preventing nodejitsu to downgrade to that version.

2) some comments from the #nodejitsu IRC channel : https://github.com/nodejitsu/haibu/blob/master/lib/haibu/plugins/coffee.js I think with an approach like this you c

[2012-04-11 18:21] chetanankola opened #126 "Update or remove Express"
I recently tried deploying my Mojito app to "Nodejitsu" and the folks at Nodejitsu told me that Express needs update since a "race condition bug for listening" (my app apparently wasnt listening right) was fixed in Express 2.5.9

So I was asked to wait till "Mojito" updates its express.

To deploy onto nodejitsu I was asked to make the following changes:

In my App's server.js I was asked to chang

[2012-04-11 18:33] rwaldura commented on #125
triptych: I'm going to close this issue in favor of issue #126 instead, okay?
https://github.com/yahoo/mojito/issues/126
Clearly a duplicate.

[2012-04-11 18:33] #125 closed, assigned to nobody

[2012-04-11 18:35] rwaldura commented on #126
Thanks for the report, Chetan.
Guess we'll just have to upgrade Express!

[2012-04-11 18:50] triptych commented on #125
Sounds good, thanks for the update.

[2012-04-11 18:57] mojit0 commented on #126
There are a couple of issues. Updating express is something we can schedule, but there's also some unfortunate cruft in the startup sequence that means the server.js file won't start mojito properly so changing from 'mojito start' to 'server.js' may not be workable. The good news is this is on our radar for the near-to-mid-term. We'll try to see if we can bump this up given that it's in your way t

[2012-04-11 21:30] taomin opened #127 "refreshView on a composite mojito binder will lead to all child mojit binders stop working"
Found a problem with refreshView...

I tried running refreshView on a composite mojit, and I found if the child mojits have binders, the whole javascript will stop working after refreshview.
The last message I saw was "Did not find DOM" and "client status: paused"
And then all the tunnel call stopped working.

My workaround is either
1. don't call refreshView on a composite mojit
2. if you have a

[2012-04-12 09:54] Marak commented on #126
Please let me know if there is anything I can do to help in making sure mojito apps can be required and started programmatically.

A top-level method to start up a server that accepts configuration options would be ideal.

[2012-04-13 14:14] caridy opened #129 "child set to null in children structure should not break the composite execution"
Sometimes, intentionally, I want to disable a particular child depending on the current context, in which case, I should be able to set the child to null. Here is an example of a dynamic children structure based on the context.

[code]

[2012-04-14 00:21] mridgway opened #132 "'null' values inside server side view template causes server crash"
Mustache templates rendered on the server side will crash the server if given a null value. This may be fixed by https://github.com/yahoo/mojito/pull/116 but it looks like the rendering code does the same thing: https://github.com/raycmorgan/Mu/blob/master/lib/mu/renderer.js#L90

Mojito should either catch this and handle it gracefully or Mu2 should properly handle null values as an empty string (

[2012-04-14 01:28] chetanankola opened #133 "Max stack size exceeded error on pumping lot of data from controller to the view"
I am performing a refreshView on one of the mojits which fetches (not really a lot) information for eg:facebook friends.
And this is the error I get.

Is this a bug? Or is there a way to send information to the view in chunks or something?

node.js:201
        throw e; // process.nextTick error, or 'error' event on first tick
              ^
RangeError: Maximum call stack size exceeded
    at Func

[2012-04-16 15:43] drewfish commented on #132
I'm hoping that the Mu upgrade will fix this too.  (In my mind this is just an issue with the templating engine (mu) and not with the Mojito framework.)

[2012-04-18 07:49] taomin commented on #132
Shouldn't mojito catch the error if mu fail for any reason ?  letting server die is not a good idea since any dependent library can fail,

[2012-04-18 18:11] rmadhuram opened #135 "Tunnel client timeout is hardcoded to 10 seconds"
https://github.com/yahoo/mojito/blob/master/source/lib/app/autoload/tunnel.client-optional.js

The tunnel client timeout is hardcoded to 10 seconds, and causes some use cases to time out. It should instead be configurable via appConfig.

[2012-04-18 18:45] rwaldura commented on #135
Sweet! Thanks for the patch!

[2012-04-18 18:45] rwaldura commented on #135
Oh wait. Could you submit a patch please?

[2012-04-18 18:48] rmadhuram commented on #135
Hi Ren,

I'll submit one soon. It should be a one line fix, but testing the fix would suck up lot of my time. I'll get to it as soon as I get some time.

Regards,
Raj

---

 From: Renaud Waldura reply@reply.github.com
To: rmadhuram rmadhuram@yahoo.com
Sent: Wednesday, April 18, 2012 11:45 AM
Subject: Re: [mojito] Tunnel client timeout is hardcoded to 10 seconds (#135)

Oh wait. Could you submit a

[2012-04-18 18:55] rwaldura commented on #135
Very kind of you, thanks.
Whoever gets to it first then!
Thanks again for reporting the issue.

[2012-04-18 21:21] isao commented on #133
yes the team is working on a fix to this ASAP...

It would be really helpful if you could post a mojito app test case too...

[2012-04-18 21:22] isao commented on #132
true...

[2012-04-19 01:30] mridgway commented on #132
So I just ran a test with the updated Mu2 and it still fails with nulls being passed to the templates. I think we need to fix this at both ends: open a ticket against Mu2 and add some error handling to Mojito.

[2012-04-19 03:27] mridgway commented on #132
Created a ticket against Mu: https://github.com/raycmorgan/Mu/issues/28

[2012-04-19 06:36] rmadhuram commented on #135
Here is the patch:

[code]

I tested it by modifying the inter-mojit example and verified it works.
Please note that I bumped up the default timeout to 30 seconds. Applications can override by setting the "tunnelTimeout" property in application.json

Regards,
Raj

[2012-04-23 21:59] epuidokas commented on #100
How should this be handled?
1. Throw warning, attempt to copy application.json from the default archetypes into application folder and continue execution
2. Throw an error and serve a 500
3. Something else?

When should this be handled (at startup, at request time, or both)?

[2012-04-24 05:14] mridgway opened #138 "Upgrade to YUI 3.5.0"

[2012-04-24 05:14] mridgway opened #139 "Upgrade to YUI 3.5.0"

[2012-04-24 05:15] mridgway commented on #139
This will require changing the NPM dependency to 'yui' instead of 'yui3'.

I've been trying to get this working but it's not as simple as a find/replace.

[2012-04-24 05:39] drewfish commented on #138
I'm closing this as a duplicate of issue #139.

[2012-04-24 05:39] #138 closed, assigned to nobody

[2012-04-24 05:40] #76 closed, assigned to nobody

[2012-04-24 05:40] #77 closed, assigned to nobody

[2012-04-24 05:40] #101 closed, assigned to nobody

[2012-04-24 05:40] #102 closed, assigned to nobody

[2012-04-24 05:40] #103 closed, assigned to nobody

[2012-04-24 05:40] #104 closed, assigned to nobody

[2012-04-24 05:40] #106 closed, assigned to nobody

[2012-04-24 05:40] #107 closed, assigned to nobody

[2012-04-24 05:40] #108 closed, assigned to nobody

[2012-04-24 20:08] isao commented on #100
an app with no application.json could still serve mojits via htpp://host/@MojitName/action

It's an unlikely usecase, but I'd say no change, or generate a warning.

[2012-04-24 20:20] isao commented on #8
This pull request was accepted and applied. It's in 0.3.8 now. Thank you!

[2012-04-24 20:20] #8 closed, assigned to nobody

[2012-05-04 00:53] #23 closed, assigned to nobody

[2012-05-10 06:41] Satyam opened #148 "Creating documentation"
a) binders are not included (I haven't tried autoload modules)

b) The template for a controller states its class as Controller so there is a bunch of them listed in the API Classes index.  In fact controllers are saved under the name of the mojit so the template could use that or call it {Mojit}Controller, just as it does with the models, at least for the documentation

c) what would happen when

[2012-05-10 18:19] isao commented on #139
done dep now 3.5.x https://github.com/yahoo/mojito/commit/6305a769a33138cc1002c38508b020e5db5b7717

[2012-05-10 18:19] #139 closed, assigned to nobody

[2012-05-10 19:10] mridgway commented on #139
There's no way this is the only thing that needs to change. There are a ton of require('yui3') lines in the source code that need to change to use 'yui'. Are you sure you're not just loading the yui3 module that is still in /node_modules?

[2012-05-10 19:54] isao commented on #139
you're right, I had a random node_modules folder w/ yui 3.4.1 in an intermediate parent dir that I never look in. :(

fixing now

[2012-05-10 21:24] davglass commented on #139
Feel free to ping me if you need any assistance with the upgrade.

[2012-05-11 04:39] isao commented on #139
Hi Dav,

Thanks a bunch in advance. From the node repl, things are ok

  % cd openmojito/source
  % node

In the mojito code I changed the requires, and Y.useSync() to Y.use()..

One thing, it looks like YUI.GlobalConfig is undefined in 3.5.x out of the box, where 3.4.x populated it. I tried setting it, and some other stuff, but can't get mojito to load yui modules...

  warn: (yui): NOT loaded: d

[2012-05-11 13:20] davglass commented on #139
Yes, in my old `yui3` module I used `YUI.GlobalConfig` as a hack to get Node.js support. Since the `yui` module is an official YUI release, all of the modules are in the package and I didn't have to "work around" things.

You should be able to set `YUI.GlobalConfig = { ... }` before you create your instance and it should still work.

If you have a simple repro case, I'd be happy to help debug it :

[2012-05-12 10:55] Satyam commented on #127
I have found that defining an onRefreshView method in your binder allows you to re-attach your event listeners.

[code]

[2012-05-12 11:24] Satyam commented on #127
See the use of refreshView in:

http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_binders.html#binder-examples

[2012-05-15 08:48] taomin commented on #127
I am afraid we are talking about different issues; I know the onRefreshView function. This bug is talking about calling refreshView on a composite mojit will cause the whole JS stopped working, not the bind() function

[2012-05-15 15:46] Satyam commented on #127
Sorry, I had just discovered that method myself so I got excited and replied too soon.

[2012-05-17 21:24] drewfish opened #155 ""location" doesn't work with a package "type":"mojit""
According to http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_npm.html when I make an NPM package that contains a single mojit (`"type":"mojit"`) I should be able to use `"location"` to specify a location for my mojit.  However, that doesn't work.  The mojit ends up with the wrong name, the `basename()` of `"location"` instead of the `"name"` specified in the `package.json`.

[2012-05-18 17:29] mojit0 commented on #12
Pull request is now in for a patch that should resolve this.

[2012-05-23 15:37] redonkulus opened #159 "[bz5600383] Generate URLs based on dynamic urls with regex and wildcards does not work"
I'm trying to generate URLs based on dynamic urls with regex and wildcards, here's part of the routes.json:

"story": {
    "verbs": ["get"],
    "path" : "/:interestId/:alias",
    "regex": {"alias": "?:(.+).html._"},
    "call": "page.index",
    "params": "alias_type=story"
},
"interest_id": {
    "verbs": ["get"],
    "path" : "/:interestId",
    "regex": {"interestId": "?:([^/]_)/?"},
    "ca

[2012-05-25 05:50] mridgway commented on #159
It feels wrong for URLs to be based off of Mojit instances and actions. It should be based off of the routes.json, using the identifiers that are used there.

[2012-05-30 03:28] mridgway commented on #135
#170 also addresses this issue. With either of these patches, I still don't think you can do proper error handling for time outs. I think there is a bigger issue inside Dali in how timeouts are handled. It doesn't seem to propagate back up the Dali stack to the tunnel client when the RPC call times out. With #170 it would be much easier to handle error cases (and I plan on doing subsequent pull re

[2012-05-30 18:06] mojit0 commented on #133
I believe a fix for this is now awaiting final review. It's effectively a duplicate of issue #12.

[2012-05-30 18:06] #133 closed, assigned to nobody

[2012-05-30 22:38] rwaldura opened #173 "Broken links at https://github.com/yahoo/mojito/"
https://github.com/yahoo/mojito/ includes the file README.md.
All links in the "licensing and contribution" section are broken.
(Such relative links only work when I'm displaying the README document itself -- they don't work from the embedded file).

[2012-05-31 01:36] rmadhuram commented on #135
Sounds good.

[2012-05-31 01:36] #135 closed, assigned to nobody

[2012-06-01 18:17] taomin opened #178 "Routing issues"
Hi I ran into an issue in routes.json. I want to hear you guys opinion before I started investigate / patching it

I have a use case for below urls:

route 1 : "/blogpost_:blogpost"
route 2 : "/:article"

What I want to do is, when a url comes, first check whether the url has a "blogpost_" prefix, if no, use the "/:article" rule.

I've tested this scenario in mojito. When I try url like "/blogpost

[2012-06-02 03:22] caridy commented on #18
ops, I didn't notice this open issue before making the pull request. Anyway, here is the pull:

https://github.com/yahoo/mojito/pull/182

[2012-06-04 02:55] trungpham opened #183 "linking to a different mojito action should not reload page"
if mojito is deployed to the client, then clicking on a hyper link that points to another action should not cause the entire page to reload.

[2012-06-04 03:24] trungpham opened #184 "support dust template engine"
http://akdubya.github.com/dustjs

[2012-06-04 14:24] juzerali opened #185 "Access to databases"
I couldn't find any documentation on how to use and integrate a database on mojito. Can you link me to any related doc?

[2012-06-04 20:59] zhouyaoji commented on #148
Hi Satyam,

You can find documentation for binders at the following URL: http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_binders.html

I'm not sure I completely understand item 'b)' in the issue that you filed. When you say templates, are you talking about 'archetypes' that are used to generate the mojit files (i.e., https://github.com/yahoo/mojito/tree/develop/source/lib/archetypes/

[2012-06-05 07:13] Satyam commented on #148
a) I wasn't asking about client documentation, I am reporting that when mojito documents an application, it does not document the binders.

b) Yes, I was referring to archetypes, sorry.  I know where they are and I know I can change them but I am reporting this so that the standard version is already fixed.

c) ok, thanks

[2012-06-06 09:30] ekashida opened #188 "Files with client affinity in the binders directory break backwards-compatibility in 0.3.25"
The context key "device=client" has an undefined value when registering binders in the server environment:
https://github.com/yahoo/mojito/blob/master/source/lib/store.server.js#L346

I have confirmed that this is not an issue when changing the file name to exclude the client affinity.

✖ There was an error starting the application:

✖ Cannot set property 'binder-gallery/gallery-bootstrap-engine'

[2012-06-06 13:45] drewfish commented on #188
Binders always have client affinity, so the affinity should not be specified in the binder's filename.

[2012-06-06 16:57] ekashida commented on #188
Makes sense. I was a little more concerned about the fact that this part of the code hadn't been touched but I was getting this error. I'll make the appropriate changes on my end.

[2012-06-06 16:57] #188 closed, assigned to nobody

[2012-06-06 19:10] imalberto opened #190 "mojit test templates are broken for archetypes "Default" and "Full""
Tested on: 0.3.25

mojito create mojit DefaultBroken
mojito test mojit mojits/DefaultBroken

✖  FAILED       DefaultBroken-tests :: DefaultBroken user tests :: test mojit
⚑ deferred      DefaultBrokenBinderIndex-tests :: DefaultBroken index binder tests :: TODO: test update id
✔  passed       DefaultBrokenModelFoo-tests :: DefaultBrokenModelFoo user tests :: test mojit model
# FAILURE DETAILS:

De

[2012-06-06 19:28] isao commented on #185
Hi Juzer. The docs describe using YQL (you can define your own tables, and CRUD operations are supported) as a web-service interface.

There's nothing about using redis/mysql/postgres/etc specific to mojito yet. To use these you can do it the simple node.js way, in your server-affinity controllers, models, add-ons, or middleware.

If that's unfamiliar, you might want to ask the kind folks at https

[2012-06-06 19:28] #185 closed, assigned to nobody

[2012-06-06 22:27] imalberto commented on #190
See pull request here: https://github.com/yahoo/mojito/pull/192

[2012-06-07 09:29] imalberto commented on #60
Is a composite mojit with no "children" considered valid configuration ?
If not, then perhaps do the same check as in ac.composite.done() and throw an error if size is 0.

[2012-06-07 16:44] isao commented on #190
Awesome. Pull request accepted on 20ba639c, closing.

[2012-06-07 20:59] isao commented on #173
fixed with pull #195. I moved these to the wiki. You can edit or git/clone/edit/push from there right now.

Rationale: multiple versions can be considered public/published at the same time, absolute links to the github code browser didn't feel right, and relative links no longer work in the main page vs the branch pages.

[2012-06-07 20:59] #173 closed, assigned to nobody

[2012-06-14 21:18] zhouyaoji commented on #148
a) I see, you're talking about the 'mojito doc' command not generating documentation for binders. I'll file a enhancement ticket for this. Thanks!

b) We've made several changes to the archetypes over the past couple of weeks that you should see in the near future. If you notice that there is a bug or an issue that you can identify clearly and in detail, please file a bug or make a pull request.

[2012-06-14 21:22] renatoi opened #206 "ac.flush() does not accept a callback"
Consider the following example:

[code]

ac.flush() might take a while to render, while ac.done() is pretty fast since there's no template processing.

Template processing has an asynchronous execution and might finish after the order of the execution.

ac.done() finish its execution before ac.flush(). This problem could be solved if ac.flush() had a callback so we could add sequencial commands (A

[2012-06-14 21:40] zhouyaoji commented on #148
Hi Satyam,

I went ahead and tested 'mojito docs' to see if it generated docs for binders, and it does.

After you write a new binder function, you would do the following:
1. Add YUIDoc comment blocks for your new function. See http://yui.github.com/yuidoc/syntax/index.html#primary-tags as a reference.
2. From your application directory, run the following:
   $ mojito docs mojit {mojit_name}
3. Go

[2012-06-14 23:30] imalberto opened #208 "[Enhancement] Provide configuration object to view engine wrapper"
Some context:
- MU is the "rendering framework" used by mojito (but this should apply to any "rendering framework", not just MU)
- Mojito provides custom wrapper around "rendering framework" (e.g. mu.&lt;affinity&gt;.js)

Motivation:
- Mojito specific view engine wrapper should have some flexibility to implement custom behavior based on rendering framework capability and application requirement
-

[2012-06-14 23:40] drewfish commented on #208
I think the key should be `"viewEngine"` _only_ if the config details apply to all view engines.  (Our "mu" view engine is just one, there can be others.)

Note to implementer: it looks like Mojito instantiates the ViewRenderer in the following three places, all of which have access to the application config:  `app/addons/ac/output-adapter.common.js`, `app/addons/ac/partial.common.js`, and `app/au

[2012-06-19 19:12] rwaldura opened #215 "Tests that ran under 0.3.26 no longer run under 0.3.27"
(Reported by Adam)

When I run my tests under 0.3.26 I get:
...

✔  passed    ProgrammerMojit-tests :: ProgrammerMojit :: should display all programmers
✔  passed    ProgrammerMojit-tests :: ProgrammerMojit :: should display programmer names and languages
✔  passed    ManagerMojit-tests :: ManagerMojit :: should display all managers
✔  passed    ManagerMojit-tests :: ManagerMojit :: should display

[2012-06-20 17:38] isao commented on #184
You can write your custom view engine using Dust. In fact I think early versions of Mojito used Dust.

But it probably won't be added to the core, which will attempt to become leaner.

[2012-06-20 17:38] #184 closed, assigned to nobody

[2012-06-20 17:58] #112 closed, assigned to nobody

[2012-06-20 18:01] #190 closed, assigned to nobody

[2012-06-20 18:04] isao commented on #12
fixed by 17f264713aacd41b95b64be47236a55455d3fa62

[2012-06-20 18:04] #12 closed, assigned to nobody

[2012-06-20 18:06] isao commented on #72
Y.mojito.lib.REST will probably be deprecated soon

[2012-06-20 18:06] #72 closed, assigned to nobody

[2012-06-20 18:10] isao commented on #2
fixed

[2012-06-20 18:10] #2 closed, assigned to nobody

[2012-06-20 18:12] isao commented on #27
fixed with f384f71583be578bb7c46c9f31021dfbaf492c36 and pull and f384f71583be578bb7c46c9f31021dfbaf492c36

[2012-06-20 18:12] #27 closed, assigned to nobody

[2012-06-20 18:13] #100 closed, assigned to nobody

[2012-06-20 18:33] goonieiam opened #219 "[BZ 5651900] Binders not getting destroyed when using composite.execute and calling mp.destroyChildren"
Use case:

Mojits being created on demand via composite.execute(), then destroying them via mp.destroyChildren()

The first execution does the right thing, but upon doing the full cycle again(composite.execute then mp.destroyChildren()), the newly created child doesn't get destroyed.

The problem seems to be in destroyMojitProxy (mojito-client.client.js):

On a second run, this._mojits contains du

[2012-06-20 21:02] rwaldura commented on #219
goonieiam: is this something you can provide a patch for? Do you know exactly what needs to be fixed?

[2012-06-20 21:04] goonieiam commented on #219
I'd have to spend some time digging around, I don't have a clear solution I can provide. If anyone is able to point me in the right direction, I might be able to help.

[2012-06-20 21:17] rwaldura commented on #219
Can you view the IDs? Do they look like YUI_3_4_1_blahblah or YUI_3_5_1_blahblah?

[2012-06-20 21:17] rwaldura commented on #219
Can you view the IDs? Do they look like YUI_3_4_1_blahblah or YUI_3_5_1_blahblah?

[2012-06-20 22:50] rmadhuram opened #220 "Broken link in ActionContext documentation!"
http://developer.yahoo.com/cocktails/mojito/docs/api_overview/mojito_action_context.html

The link to API docs is broken - http://developer.yahoo.com/cocktails/mojito/api/Y.mojito.ActionContext.html

Raj

[2012-06-20 22:53] rmadhuram commented on #220
I found the broken link here as well: http://developer.yahoo.com/cocktails/mojito/docs/reference/glossary.html
Looks like the API docs were re-parented and that was not reflected in docs that were pointing to it.

[2012-06-20 22:59] rwaldura commented on #220
Joe?

[2012-06-20 23:06] rwaldura commented on #219
BZ 5651900

[2012-06-20 23:58] #148 closed, assigned to nobody

[2012-06-21 01:09] zhouyaoji commented on #94
No, Mojito allows you to specify routing parameters using an object as showin in issue #7. The use of specifying routing paramaters with a query string has been deprecated. Instances of using a query string to specify routing parameters have been removed from the docs and code examples except for two deprecation notices. I'll close issue #7 as well. Thanks.

[2012-06-21 01:09] #94 closed, assigned to nobody

[2012-06-21 01:10] zhouyaoji commented on #7
Mojito now supports specifying routing parameters with an object, which is the preferred way. We are deprecating the use of a query string to specify routing parameters.

Thanks.

[2012-06-21 01:10] #7 closed, assigned to nobody

[2012-06-21 18:50] isao opened #223 "[bz5646042] `mojito start` fails in 0.3.27"
to reproduce:
- upgrade to mojito 0.3.27
- `mojito start`
- error for an app that worked pre 0.3.27, but has YUI3.4.x/Jsdom dependencies:

[code]

[2012-06-23 00:36] rmadhuram commented on #220
When fixing this, you may also want to fix the typo "Using Query Paramaters" in http://developer.yahoo.com/cocktails/mojito/docs/

Thanks,
Raj

[2012-06-23 02:07] isao commented on #219
Big thanks to Gonzalo Cordero for finding this memory leak, AND identifying the offending code. The leak affects dynamic mojits, and has existed for quite some time. Pull #225 was submitted for mojito's mainline, develop.

Note I made two branches:
- `mojit-leak` off HEAD of develop which has currently has a broken `mojito test app` and uses YUI 3.5.1
- `mojit-leak-036` back port on top of the las

[2012-06-23 02:07] #219 closed, assigned to nobody

[2012-06-23 02:48] zhouyaoji commented on #220
I've fixed the links to the ActionContext Class in both the API Overview and Glossary chapters. I fixed the misspelling in the Mojito Documentation Directory (http://developer.yahoo.com/cocktails/mojito/docs/), but I was not able to publish the updated page to YDN because of a server error. I have contacted the SEs for YDN, so the problem should be resolved soon. Thanks for catching those mistakes

[2012-06-23 03:25] zhouyaoji commented on #220
I've merged a pull request with the updated docs. The source file for the documentation directory is not part of the GitHub repo, so I'm closing this bug. I will follow up with YDN if the documentation directory is not updated. Thanks.

[2012-06-23 03:25] #220 closed, assigned to nobody

[2012-06-23 16:18] itsnotvalid opened #227 "Mu.Parser.parseText doesn't parse CR+LF newlines correctly"
Just out of some wrong git settings I checked out mojito using Github for Windows which apparently didn't obey my git global config settings. The reason why I need to check out and install mojito is because yuitest was marked [darwin, linux] in 0.7.3 which npm version of mijito depends on.
So what happened is that `Mu.Parser.parseText()` only split on '\n' but would strip out the \n out of \r\n in

[2012-06-25 07:56] Satyam opened #229 "Suggested patch for ac.done"
See:

https://gist.github.com/2828145

and some explanation in this conversation:

http://developer.yahoo.com/forum/Yahoo-Mojito/ac-composite-done-doesn-39-t-allow-for-data/1338186490048-64468bb1-0cfb-46b4-a9c8-8f62cf05299e

And an example:

https://gist.github.com/2828156

[2012-06-25 17:33] devsathish opened #230 "Support for dynamic title in HTMLFrameMojit"
Currently HTMLFrameMojit supports static title only (using application.json). Its a very basic use case and it has to supported at the platform level.
There is a workaround to set title using JS., But its not the right way since its not SEO compatible. Also, customizing HTMLFrameMojit / ShakerHTMLFrameMojit is not a good idea.

The fix is already available., Pls refer to this pull request: https:/

[2012-06-25 17:38] rwaldura commented on #230
See pull request #123.

[2012-06-25 17:41] drewfish commented on #65
Closing.  Please reopen if you feel it is still needed.

[2012-06-25 17:41] #65 closed, assigned to nobody

[2012-06-25 17:45] drewfish commented on #24
This was completed a while ago.

[2012-06-25 17:45] #24 closed, assigned to nobody

[2012-06-25 22:34] FabianFrank opened #231 "Mojito fails to start using node v0.8.0 because Mulib has a deprecated require('sys')"
The problem is in line 1:
https://github.com/yahoo/mojito/blob/develop/source/lib/app/libs/Mulib/mu/compiler.js

$ node_modules/.bin/mojito start --context "environment:localhost"
path.existsSync is now called `fs.existsSync`.

sys.js:1
throw new Error(
      ^
Error: The "sys" module is now called "util".
    at sys.js:1:69
    at NativeModule.compile (node.js:602:5)
    at Function.NativeModule.

[2012-06-25 22:42] mojit0 commented on #231
Fixed by https://github.com/yahoo/mojito/pull/228 which should be merged shortly :)

[2012-06-25 22:43] mojit0 commented on #231
Oops. Hate it when that happens. Wrong issue :)

[2012-06-25 22:46] rwaldura commented on #231
Fabian:
Can we safely close this in favor of pull request #228?

[2012-06-25 22:50] FabianFrank commented on #231
@rwaldura yes, I reviewed the pull request and it will fix this one.

[2012-06-25 22:52] rwaldura commented on #231
OK
Whoever merges pull request #228, please close this issue at the same time.

[2012-06-25 23:02] mojit0 commented on #231
OK, but I'm going to have to close and redo that pull request. It's a mess. Full of unrelated commits.

[2012-06-26 20:39] mojit0 commented on #215
https://github.com/yahoo/mojito/pull/232 merged and ready to push with next release fixes this.

[2012-06-26 20:39] #215 closed, assigned to nobody

[2012-06-28 05:43] caridy opened #236 "mojito-handler-tunnel and DaliProxy mojit are not honoring the runtime:server"
When making a tunnel request, the body.reqs[0].data.context will be produced at the client side based on mojitProxy.context, this of course has runtime=client. Once this context obj lands on the server side as part of the tunnel request, it is processed by mojito-handler-tunnel to produce the "command" structure used to _dispatch the mojit action. The problem is that "runtime" is not overruled (ev

[2012-06-28 16:12] mojit0 commented on #236
Dali will be leaving Mojito although we're not sure about timing. There's a pull request we haven't had a chance to fully vet which replaces Dali with Socket.io which I believe will mean any patch of this type will need to be done on that new infrastructure. In the interim I'd say go ahead and create a pull request and we'll prioritize how we want to get both things accomplished.

ss

On Jun 27, 2

[2012-06-28 18:18] drewfish commented on #236
@caridy:  I agree with your assessment.  The fixup should be done in the mojito-handler-tunnel middleware.

@mojit0:  The "DaliProxy" mojit is just a proxy mojit -- it has very little to do with Dali.  It's used as the proxy mojit by the mojito-handler-tunnel middleware.

[2012-06-28 19:18] isao commented on #231
it's pull #233 not 228 now

however, for some (probably unrelated) reason, it fails mojito-github-pull (job 22)

[2012-06-28 19:27] #231 closed, assigned to nobody

[2012-06-28 19:34] isao opened #237 "update `mojito docs` to use yuidoc.js"
yuidoc.js by Dav Glass is more fast and modular, and has no non-node/js deps

current python one has several external dependencies.

see also issue #84

[2012-06-28 20:49] jlecomte opened #238 "[bz5667423] Add support for including files in a configuration bundle"
Use cases:
- Configuration bundles can get very big. The ability to split a large configuration bundle into multiple files makes it easier to wrap your head around and maintain your application configuration.
- Configuration bundles can contain a large section common to many applications, and a small section specific to a single application. The ability to split a large configuration bundle into m

[2012-06-28 20:50] jlecomte commented on #238
Additionally, it would be nice to extract the YCB library and make it its own independent npm package which mojito can depend on.

[2012-06-28 23:37] drewfish commented on #237
+∞

[2012-06-29 00:36] zhouyaoji commented on #46
I don't see any errors in Firebug when I run either the  'using_configs' or the 'global_assets' app. I was running Firefox 13.0.1 on a Mac OS X, Version 10.6.8. Can you please specify the OS and version of Firefox that you are running? Thanks.

[2012-06-29 17:28] zhouyaoji commented on #38
This issue has been fixed. See https://github.com/yahoo/mojito/blob/develop/examples/developer-guide/binding_events/mojits/PagerMojit/binders/index.js.

[2012-06-29 17:28] #38 closed, assigned to nobody

[2012-06-29 17:31] zhouyaoji commented on #46
Because this example has been updated and Mojito has had many changes in the past three months, this issue might have been resolved, so I'm closing it for now.

[2012-06-29 17:31] #46 closed, assigned to nobody

[2012-07-01 05:51] FabianFrank opened #239 "mojito test app . crashes on skeleton app due to missing dom in binder test with common affinity"
Now that the DOM dependency has been removed from YUI, testing binders on the server side is a bit more complex. Today what happens is:

frankfa@knowenter-lm:~/tmp (0) $ ~/github/mojito/source/bin/mojito create app testapp
creating app called 'testapp'
(using "default" archetype)
✔ app: testapp created!
frankfa@knowenter-lm:~/tmp (0) $ cd testapp/
frankfa@knowenter-lm:~/tmp/testapp (0) $ ~/github/

[2012-07-01 07:03] FabianFrank commented on #236
I tried to address this issue with a pull request. This fix works fine in our app.

[2012-07-01 08:09] caridy commented on #236
Perfect, thanks for the pull request @Schnitz. Now we just need the test!

[2012-07-02 05:07] FabianFrank commented on #237
+1 I will submit a pull request shortly.

[2012-07-02 17:13] zhouyaoji commented on #28
The source has been corrected as have the API docs on YDN that can be viewed here: http://developer.yahoo.com/cocktails/mojito/api/classes/Assets.common.html

[2012-07-02 17:13] #28 closed, assigned to nobody

[2012-07-03 05:52] devsathish commented on #230
Its just a change of two lines.
Replace HTMLFrameMojit:controller.server.js:76 with the following.

//Set the title (with fallback to default title)
var title = (meta.common && meta.common.title)?meta.common.title:'';
data.title = title || ac.config.get('title') || 'Powered by Mojito ' + Y.mojito.version;

I don't have the diff file. Hence giving the change in this comment.

[2012-07-05 15:24] rwaldura commented on #230
Thanks for the patch. It does appear very simple indeed. We've been wanting to address this area (frame configuration) comprehensively, but maybe it's time for a quick fix.

We'll look at this in Sprint 38 starting July 16 and ending 2 weeks hence, thanks!

[2012-07-05 17:00] drewfish opened #247 "dispatch should check that the context is valid according to the dimensions"
When we dispatch each mojit, make sure that the context used is valid according to the dimensions.json.  This is because the context is used as the key for some caching, so it's a bad practice to put arbitrary keys/values into it.

[2012-07-06 03:18] gvaish commented on #247
How do I surface the data from middleware to controller then?

Define custom dimension?

[2012-07-06 03:25] drewfish commented on #247
You can have the middleware attach the data to the request object, then have the controller use the "mojito-http-addon" and call ac.http.getRequest() to get that request object.

Ideally Mojito would have an official way to support this.

[2012-07-06 04:05] gvaish commented on #247
I kind of support your idea.
Noting that req is the only unique object per request (at NodeJS level).

May be a simple add-on "mojito-shared-addon" would do... add to request at middleware layer and access via addon.
Well, the name may not sound good!

[2012-07-06 07:04] FabianFrank commented on #236
@caridy A test has been provided in the pull request. Thanks.

[2012-07-06 14:42] caridy opened #249 "add support for passing data per request"
let's use this issue for the discussion about data manipulation per request.

[2012-07-06 14:43] caridy commented on #247
guys, let's not pollute this issue, I have created a new issue #249 for the data sharing discussion.

[2012-07-06 14:44] caridy commented on #249
this is a follow up from the discussion started on issue #247

[2012-07-06 14:45] caridy commented on #247
@gvaish there are not custom dimensions in mojito, that's the whole point of this issue, so we can keep the context domain finite.

[2012-07-10 15:30] dmitris opened #255 "mojito test app . produces a test failure due to an error in the archetype test"
Following the "Getting Started" tutorial http://developer.yahoo.com/cocktails/mojito/docs/getting_started/mojito_getting_started_tutorial.html#make-the-sample-mojit
and creating a simple mojit as instructed, I'm getting a test failure when running "mojito test app ." :

[code]

I'm running it on Mac Lion and the mojito's version is 0.3.26

This happens due to this line in source/lib/archetypes/moj

[2012-07-10 15:38] dmitris commented on #190
I think it is still a problem - the test fails since see https://github.com/yahoo/mojito/issues/255 and the proposed fix https://github.com/dmitris/mojito/commit/b6b646f87cb001daa77b11fe7d503485fc5add46

[2012-07-10 19:00] trungpham opened #256 "Is it possible to swap out YUITest with Jasmine or Mocha?"
n/t

[2012-07-10 19:14] rwaldura commented on #256
Is it probably possible, but we've never looked into it.
What is your motivation for wanting to do so?

[2012-07-10 20:09] trungpham commented on #256
I like mocha and jasmine syntax better. Less verbose. And mocha has better
support for async testing.
On Jul 10, 2012 12:14 PM, "Renaud Waldura" <
reply@reply.github.com>
wrote:

[2012-07-10 20:39] drewfish opened #257 "[v1 B-55826] Mojito "view" becomes Mojito "template""
The mojito concept of "view" should become "template" instead, to be consistent with YAF.  This is perhaps nothing more than a terminology change (no architectural changes, though perhaps some filepath changes).

[2012-07-10 20:41] drewfish opened #258 "[v1 B-55827] Mojito "binder" converges to Y.Binder"
Mojito's idea of a binder should align closely with YAF's idea of a binder.  This might even go so far as to throw away Mojito's binders and use Y.Binder instead.

(The goal is that an app built using YAF can migrate easily/naturally into a mojito app.)

[2012-07-10 20:42] drewfish opened #259 "[v1 B-55829] Mojito "model" should converge to Y.Model"
Mojito's idea of a model should align closely with YAF's idea of a model .  This might even go so far as to throw away Mojito's models and use Y.Model instead.

(The goal is that an app built using YAF can migrate easily/naturally into a mojito app.)

[2012-07-10 20:43] drewfish opened #260 "[v1 B-55830] Explore breaking up action context in to request/response objects"
Need a way to add-on YUI modules directly to controller (per request object/per route but not on the request/response objects)

[2012-07-10 20:52] rwaldura commented on #256
Oh, very interesting!
Would you be willing to do an experiment in your fork and show us what it looks like?

[2012-07-12 16:03] focuzz8 opened #261 "Ability to use custom yui cdn in mojito"
Mojito generates sandboxes for mojits using yahoo cdn, but this will not work, if you need for example https. So yui can work with custom yui cdn, but in mojito it seems like links are hardcoded.
Solution that works for me: http://developer.yahoo.com/forum/Yahoo-Mojito/Configuration-to-load-YUI-locally/1340702863093-e3799041-c2a5-4b8d-9690-bbb41effa133

[2012-07-12 16:06] focuzz8 opened #262 "Mojito fails in IE6/7 and IE10 (compatibility IE7)"
Using Mojito in IE6/7 linked with problem - events module of yui fails when using binders (it seems like this bug is linked with yui bug http://yuilibrary.com/projects/yui3/ticket/2531547)

[2012-07-12 16:11] focuzz8 opened #263 "Binder don't work in some examples (but it seems like should)"
In mojito/examples/simple/part[4-8] binders don't work. Function to handle clicks was writter, but not attached to elements

[2012-07-12 16:35] focuzz8 opened #264 "Compatibility with node.js on windows"
Since there is no more dependency on *nix (yui test migrated to 0.7.4) is there possible to make run of Mojito on windows? I spend some time, but found that there is problem with loader - in mojito/source/lib/index.js - YUI instance doesn't contain any standard modules, that should be loaded after init. Probably problem is in nodejs-yui, but I'm not sure.

[2012-07-12 16:41] focuzz8 opened #265 "Standard way to start mojito with node command"
It can be very useful for example for debuging apps on mojito (for example in webstorm, that requires js file to launch with node command) or for running in cluster etc. Now I use next solution: locally installed mojito, and mojito.js file created from standard mojito batch launcher. So I use commands like "node mojito start" or "node mojito create mojit" and it works. Probably good way, is to inc

[2012-07-12 16:56] drewfish commented on #265
I agree it would be good to have this ability.  It shouldn't be hard -- probably just a matter of documenting how to do it.

[2012-07-12 17:00] focuzz8 commented on #265
Yes, it seems like it can/should be documented, but as I see situation, why not to do this out of the box, when this feature is so simple?

[2012-07-12 17:27] rwaldura commented on #264
Hi @focuzz:
Indeed I don't think we ever tested that, seeing how we use mostly Macs and Linux boxen.
Would you be able to narrow it down further? What seems to be the problem in nodejs-yui?

[2012-07-12 17:31] rwaldura commented on #263
@zhouyaoji Joe can you help?
Seems like oversight.

[2012-07-12 17:32] rwaldura commented on #265
We do this daily -- I've asked Dirk to explain how.

[2012-07-12 18:01] rwaldura commented on #262
@focuzz can you describe the problem a bit more? what functionality is broken?

[2012-07-12 18:10] focuzz8 commented on #264
Yes, I will try to find root of problem, today some hours later. It seems (as I remember) like yui loader can't find modules that are required to start mojito... I'll dig it a bit and will write or more deep description, or solution (if i'll find any)

[2012-07-12 18:15] rwaldura commented on #264
Yeah might just be a silly path issue.

[2012-07-12 19:39] focuzz8 commented on #262
Yes, sample app https://github.com/focuzz/mj-defer-demo (just app, with just mojit with defer true). Works in FF, Crome etc. Fails in IE6/7. Fails at mojito/autoload/output-handler.client.js on line 101 (Unable to get property 'indexOf' of undefined or null reference) - headers contains 'content-type'.

[2012-07-12 22:30] justineqian opened #266 "js files with same filename under different folders within 'node_modules' not being loaded"
We have a couple of resources (YUI modules) which are meant to be shared across different mojito apps and are used by both server and client side execution. These resources are packaged separately. They both live in /node_modules directory within the mojito app after installation. For example:

Myapp/node_modules/myresource1/autoload/myfile.js
                                         /myresource2/

[2012-07-12 22:40] isao commented on #265
Hi focuzz, you can do it like this:

[code]

using whatever options for node or mojito accordingly. You can specify the path to mojito as well. For example if locally installed (i.e. `npm i mojito`) like:

[code]

I put "node_modules/.bin" in my `$PATH`, so the first form works in both cases.

`mojito create app` already creates an `index.js` and `server.js`. I agree these files should conform bet

[2012-07-12 22:58] isao commented on #256
you should be able to do unit testing however you like. To swap it out, you can put a module `mojito-cli-cmd-test` in your require path and it will be run instead of `mojito test`. also, fyi we will be improving our test system, but not to the exclusion of other test runners/frameworks.

if you come up with something, please share. :)

[2012-07-12 22:58] #256 closed, assigned to nobody

[2012-07-13 07:50] gvaish commented on #249
So... one direct way is to attach is to req object - that's guaranteed to be unique per request (at NodeJS layer).

The key issue is how to surface it all the way up to mojito layer..

Can we use another property in ActionContext - say, user-data or something else? This should be merged with the req's property (same name) before it enters the mojito layer (ac).

IMHO, that should be the easiest an

[2012-07-13 17:07] caridy commented on #249
@gvaish the way I see it, this is just DATA, hence it should be a model not a property under ActionContext. A model that any controller can have access to, collecting the data from it. There are a couple of problems though:
1. Models (as today, by default) are created per Y instances (which means: per Mojit instances), so really sharing them is not that easy. But we can share the underlaying data

[2012-07-13 19:36] zhouyaoji commented on #263
The 'simple' examples are not part of the documentation. The examples for the documentation are all in 'examples/developer-guide'. Because it's not a doc issue, I'm going to relabel the issue.

[2012-07-13 19:42] zhouyaoji commented on #265
Isao,

I believe Drew said that users will be able to start Mojito without 'mojito start' in the future. Should I add your instructions for starting Mojito without 'mojito start' to the docs or wait until Mojito offers a more standard way of doing it? If the latter, shouldn't this be an 'enhancement' issue (if it doesn't already exist) w/ a documentation element?

[2012-07-13 19:45] isao commented on #265
Right, I changed label to "enhancement" from "doc". As-is maybe it's a FAQ entry..

[2012-07-13 19:48] zhouyaoji commented on #265
Thanks, Isao. Great, I'll add the issue of adding the FAQ entry to my sprint backlog.

[2012-07-14 07:05] trungpham commented on #259
Yay. I never understood the idea of the current Mojito Model.

It cannot be instantiated. It does not hold any data. It looks like a group of static functions?
Why was it called a model to begin with? :)

[2012-07-14 07:06] trungpham commented on #257
yay

[2012-07-14 07:12] trungpham commented on #249
Model should not have access to the request data.

However, the controller can instantiate an instance of the model, and pass it the request context. But this should be something that the developer chooses to do, not the framework.

[2012-07-14 08:04] FabianFrank commented on #126
@mojit0 @Marak @rwaldura @chetanankola

I just played with Mojito 0.3.28 and nodejitsu. After small changes (see referenced pull request) I got our weather training app working on nodejitsu:
http://fabianfrank.myweatherapp.jit.su/

You can find the source of the weather app (fixed package.json and server.js) here:
https://github.com/FabianFrank/trainingMojito/tree/master/lesson1/myWeatherApp

[2012-07-14 08:26] FabianFrank commented on #265
Pull request #267 would allow you to use
$ node server.js

Sadly it doesn't honor the port option from application.json. Hopefully we can improve that.

[2012-07-14 21:40] focuzz8 commented on #259
As I see, models as they exist, can be usefulfor example as gateways for external api (xml or any other - not just rest) etc. So they are useful, but are they "data models", probably "service models"?
Just my thought...

[2012-07-14 22:49] trungpham commented on #259
Exactly. They are just service model. They hold no data.

The trick here to somehow migrate the data from the node to the browser
after node populated the data.
On Jul 14, 2012 2:40 PM, "Alexey Shafranovich" <
reply@reply.github.com>
wrote:

[2012-07-16 11:59] focuzz8 commented on #258
I'm sorry... What is Y.Binder?

[2012-07-16 12:06] focuzz8 commented on #259
Hope this helps https://github.com/yahoo/mojito/pull/269
This just enables `Y.Model` to be passed into `ac.models[NAME]` this way:
`Y.mojito.models[NAME] = Y.Base.create('pieModel', Y.Model, [], { }, { });`

[2012-07-16 12:20] focuzz8 opened #270 "Handlebars from yui as view-engine"
Since you want to merge components of YAF into mojito it makes sense to use handlebars as default (?) rendering engine.

[2012-07-16 14:59] drewfish commented on #258
Hehe.... just as Mojito is trying to learn some things from YUI App Framework, it is trying to learn some things from Mojito.  The two teams are working together.  It's still just a bunch of ideas -- nothing is final yet.

[2012-07-16 15:02] drewfish commented on #270
Yes, we're thinking about doing exactly that.  (See pull request #179.)  It'll take a little bit for that to fully happen, since all of our docs and examples are currently using mu.

[2012-07-16 15:08] focuzz8 commented on #270
I have client/server versions based on yui and this @caridy server version. I can make a pull request if you need.

[2012-07-16 16:49] focuzz8 commented on #264
I've made some fixes, so mojito starts and renders mojits (there is problem with binders). So situation is better and it don't passes only 2 tests. You can see changes here https://github.com/focuzz/mojito/tree/win-compat
I'm not doing pull request, because multi os support slightly broke cody prettiness, because
- path.sep appeared only in node 0.8 and I'm using handmade function to get separator

[2012-07-17 01:40] rmadhuram opened #272 "Broken link in documentation"
http://developer.yahoo.com/cocktails/mojito/docs/code_exs/query_params.html

Link to http://developer.yahoo.com/cocktails/mojito/api/Params.common.html is broken (Params addon)

Suggest using a spider to catch all broken links.

-Raj

[2012-07-17 03:11] mridgway commented on #132
It looks like the issue has been fixed in Mu. Maybe it's worth doing another PR for the latest version?

[2012-07-17 03:35] isao commented on #132
This issue should be fixed in ours too...

We could have this and similar (like your DaliProxy PR) released as npm installable bundles. This would make features available for opt-in and make a ramp for real-world testing...

On Jul 16, 2012, at 8:12 PM, "Michael Ridgway" reply@reply.github.com wrote:

It looks like the issue has been fixed in Mu. Maybe it's worth doing another PR for the latest ve

[2012-07-17 17:21] rwaldura commented on #272
Thanks @rmadhuram!
I like the spider suggestion. Joe, how could we do this?

[2012-07-17 17:23] rwaldura commented on #272
For the record, all the documentation is checked-in and available in the source tree at e.g.
https://github.com/yahoo/mojito/blob/develop/docs/dev_guide/code_exs/query_params.rst

[2012-07-17 17:33] zhouyaoji commented on #272
I was told that YDN was doing link checking as part of their QA. I personally used a link checker before publishing the docs to YDN, but the API docs have changed because of API changes and the latest API docs were generated by yuidoc.js instead of the old YUIDoc that used Python. As a result, the URLs for the API docs changed and broke links. I'll contact the YDN team and do another link check fo

[2012-07-17 18:00] alganet opened #273 "Custom HTTP status message"
RFC2616 says:

[code]

It should be possible to return something like this:

[code]

Similar functionality could be available on `ac.error()` as well.

I'm willing to send a pull request if needed. What do you think?

[2012-07-17 18:06] mojit0 commented on #273
I can't speak to how we'd prioritize merging this feature, but if you have a use case requirement and would like to contribute a solution we'll definitely consider it.

[2012-07-17 19:13] rwaldura commented on #273
I'd like to understand better, it feels a little strange to me: why issue a raw HTTP message from the framework?

[2012-07-17 19:17] rwaldura commented on #273
@mojit0 Could this be done from the middleware? Should it be?

[2012-07-17 19:30] mojit0 commented on #273
@rwaldura It will depend on the nature of the error/status code in question. Certain codes might be detectable as early as middleware in the pipeline, but most are far more likely to occur within the engine and well after the middleware has handed off to the Mojito core and the server-side controller logic.

[2012-07-17 19:34] alganet commented on #273
@rwaldura Our team is developing an application that also behaves like an API when needed. There is a mojitProxy-less mojit that responds to raw RESTful requests that must follow a strict contract.

One of our major requirements is to have a really small payload and fast network performance, and reusing the status message seems like a good approach, even compatible with AJAX clients via `xhr.statu

[2012-07-17 20:58] rwaldura commented on #75
See pull request #124.

[2012-07-18 15:57] mojit0 opened #277 "Defer route computation in ac so it's driven by mojit requests only."
We are executing almost 33 mojits for our Application's home page. Some of these are dynamic mojits created through ac.composite.execute(cfg, … ).

While going though mojito code (e.g. lib/app/autoload/dispatch.common.js, lib/app/autoload/resource-store-adapter.common.js, lib/store.server.js) I realized that for all these mojits, certain common code is run.

E.g. getRoutes from store.server.js is

[2012-07-18 16:01] ricallinson opened #278 "Affinity bug in i13n.common.js"
This file has "common" affinity yet depends on a "server" affinity addon. As such it fails "dependsOn" checks done in the "action-context" once deployed to a client.

The problem can be found at line 220:

I13nAddon.dependsOn = ['config', 'http', 'url'];

[2012-07-18 18:14] rwaldura commented on #278
What is the fix? What needs to be removed from the dependsOn array?

[2012-07-18 18:31] ricallinson commented on #278
Option 1:

There could be two versions of the Addon, one for the server and one for the client.

Option 2:

Remove "http" from the "dependOn" array and add it as a YUI require. However, this would always throw a warning as the http Addon will never be found by the client.

[code]

I can submit a patch for Option 2 if required?

In either case the i13n Addon should not be part of the public facing

[2012-07-18 19:55] rwaldura commented on #264
Thanks Alexey. This is starting to sound like a bigger item than anticipated, does it not?

We're not currently setup to run our automated tests on Windows, so it's going hard for us to validate your fixes (Of course, we could validate they don't break MacOS/Linux, but that's only a negative test...)

Few people have asked for Windows support, it hasn't been a priority for us at this point.

[2012-07-18 20:02] rwaldura commented on #259
See also forum discussion at
http://developer.yahoo.com/forum/Yahoo-Mojito/Integrating-with-YUI-3-5-MVC-App/1339551100881-219004e1-417c-4bd9-bf46-4c5d7ee7c1cc

[2012-07-18 22:18] focuzz8 commented on #264
Well, I'm using them all (win + lin + mac) for different tasks, so it's not a critical problem for me right now. I understand about priority, so, I'll try to fix remaining issues in future(probably week or two). And after I can try to maintain this windows compatible branch, and merge your releases - and probably community will grow by time. If it will be interesting to anyone - probably it can be

[2012-07-18 22:22] rwaldura commented on #264
Sounds like a good compromise. Thanks!
Let's keep this issue open to track this feature.

[2012-07-18 22:45] ricallinson commented on #278
Pull request submitted https://github.com/yahoo/mojito/pull/287

[2012-07-18 22:45] #278 closed, assigned to mridgway

[2012-07-18 22:56] focuzz8 commented on #259
Well, I can say that transparent routing support on server and client can be right thing. It can be implemented manually using Y.Router (with manual client-side route-to-action mapping) but it can be perfect to share routes.json config on client and server, but it requires to spend some time to be done.
About dynamic mojit loading - I've created "placeholder" - generic mojit based on code of LazyL

[2012-07-19 01:20] #272 closed, assigned to nobody

[2012-07-19 05:20] trungpham opened #288 "Add YAF ModelList to Mojito"
Introduce YUI ModelList to Mojito.

If the model list has already been populated from the server side by calling the load() function, then we need to serialize the list and pass it over to the browser. This way the browser will not need to reload the model list again.

Also, add a class method to reference the model list.

/**
@param {String} id where id is an identifier pointing to the modelList

[2012-07-19 07:52] Satyam commented on #259
Please, don't add Y.Model to Mojito as it is.   It has several architectural shortcomings and it would be a bad thing if those propagated to Mojito.
- It mixes data and meta information into the same namespace (it uses attributes for all).
- isNew is calculated based on a false assumption. With data moved apart from meta information, isNew and isModified can be attributes, as they should
- It does

[2012-07-19 12:06] Satyam commented on #259
As a proof of the bad design of Y.Model allow me to point to the following methods of Y.Model itself, which are originally defined in Attribute (or one of its constituents) and had to be redefined in Model as a patch to compensate for its bad use of those attributes:
- get
- set
- setAttrs
- _defAttrChangeFn
- addAttrs

Some of them are declared in the API docs (click on the 'protected' checkbox t

[2012-07-19 15:51] ericf commented on #259
First I'd like to respond to the statement that proof that `Y.Model` is a bad design can be determined by the fact that it's overriding `Y.Attribute` methods, without understand _why_ it's overriding those methods.

The reasons Model overrides these Attribute methods are to provide features that did not exist in Attribute, but which are planned to be added to it.
- **A coalesced `change` event** w

[2012-07-19 15:51] rwaldura commented on #259
Oh interesting. Wasn't aware of this discussion, thanks!

[2012-07-19 16:28] Satyam commented on #259
All the attribute issues would have been avoided if data and meta data had been split from the start.  If you look at my gallery-md-model, it has a 'coalesced' data event from the start without any patching.  I would rather not know the reasons to patch Model, I would rather have a better Model that needs no patching.

So far in all the discussions I've been involved in, nobody has ever pointed ou

[2012-07-19 16:52] caridy commented on #259
@ericf @Satyam, let's take some time to evaluate this, and come up with a plan that fits mojito and yui. For us, It is a good opportunity to revisit the use case of model now that we are doing some refactor in Axis to use Y.Model without the rest of the Y.App framework in the context of Mojito. We will see!

[2012-07-19 16:54] caridy commented on #259
Btw, I don't think this discussion affects the pull request in the first place. We still need to support Y.Model instances in mojito, and @focuzz proposal seems to be a good starting point. e.g.:

Y.mojito.models[NAME] = Y.Base.create('pieModel', Y.Model, [], { }, { });

[2012-07-19 20:38] drewfish commented on #259
I think what @caridy is saying (please correct me if wrong) is that using a Y.Model for a Mojito Model is _optional_.  You can still use a normal Mojito Model, or other thing, if you want.

[2012-07-19 20:57] caridy commented on #259
@drewfish yes. for backward compatibility, and for simple use cases, a current mojito model can work just fine. I don't see why we should remove it. And I think the commit from @focuzz fulfills that!

[2012-07-19 21:07] ericf commented on #259
@drewfish @caridy If both end up existing in Mojito, at least in documentation, should what's currently called "Model" in Mojito be referred to as a "data service"?

It seems that some of the confusion around Mojito models is that they more closely match people conceptions of a static data service. Whereas when people's conception of a model is something instance-based which encapsulates data with

[2012-07-19 22:54] drewfish commented on #259
@ericf Well, the trick about Mojito Models is that Mojito actually gives _no_ prescription on the structure or semantics of a Model.  They don't even have to have methods!  So to say that "Mojito Models are data services" is inaccurate.  Mojito Models aren't anything, just a place in the Mojito framework for a user to put functionality, and we suggest that they put "model" functionality (whatever

[2012-07-19 23:19] caridy commented on #259
I have mixed feelings about this. I think once Y.Model lands in mojito we can definitely know how to call them, and to have some documentation explaining the different type of models or data-services or whatever, and how they will work with mojito.

[2012-07-20 00:46] FabianFrank commented on #273
@alganet I think this absolutely makes sense, when providing APIs.

I have one more use case and I think it answers the why question of @rwaldura :
It is a huge help to not only see a generic error code but a specific description of the real error from the perspective of an API customer. A lot of good Yahoo APIs even give you a URL in the description where you can read more. I think Mojito should

[2012-07-20 02:20] rwaldura opened #293 "[bz5707658] ac.http.redirect does not work from a child mojit"
`ac.http.redirect` is not working because i'm using it in the child mojit.
The parent calls `ac.composite.done` to collect the children views and stop the execution.
But here, `ac.http.redirect` stops the child mojit's execution & the parent  still keeps on running.

`mojito/app/addons/ac/http.server.js`  - the "redirect" method calls `ac.done` inside, which will not work in parent-chilren mojit s

[2012-07-20 19:18] rwaldura commented on #273
Understood. It does sound cool, but our primary use-case is presentation -- building Web Services, not so much.
Which isn't to say this is a bad idea, or that folks shouldn't do it, but I think we need to stay focused. This feels a bit out of scope for us at this point.
A pull request would go a long way! ;)

[2012-07-23 04:34] FabianFrank commented on #273
@rwaldura Makes sense. I agree with the primary use case, but often APIs are somewhat a by-product of a cool app and we shouldn't force them to be worse than necessary, so I gave you a pull request. :-)

[2012-07-24 21:31] drewfish commented on #59
This looks to be a duplicate of issue #50.

[2012-07-25 18:36] rwaldura commented on #257
See also http://yuilibrary.com/projects/yui3/report/132 for the YAF side of things.

[2012-07-27 17:30] mridgway opened #319 "Use Y.namespace() when declaring components"
It seems odd that instead of using Y.namespace() when declaring components, we expect the namespaces to already be created by mojito.common.js. The mojito.common.js seems unnecessary (the version is in there, but it's out of date) if we simply call Y.namespace in individual components.

Example: `Y.mojito.addons.ac.config = Addon;` vs. `Y.namespace('mojito.addons.ac').config = Addon;`

[2012-07-27 17:45] isao commented on #319
agreed, we should clean these up.

[2012-07-27 17:51] mojit0 commented on #319
+1

[2012-07-28 00:58] drewfish commented on #319
+1

Mojito.common.js should go away in my mind. (The only place Y.mojito.version is used is in HTMLFrameMojit controller.  Given that the version number is significantly out of date, I don't think anyone would mind if we just dropped it altogether.)

[2012-07-30 07:13] haisuby commented on #230
is this patch available in the current version? I couldn't see any changes for this title issue. rwaldura@, could you please confirm the inclusion of this patch in the recent version? Thanks!

[2012-07-30 17:47] mridgway commented on #319
If we want to remove it completely we would have to phase it out due to a BC break. The 'mojito' mojit has to exist due to all components (including mojits) requiring it. Also some of the management tools define a mojito app as a component that contains a server.js or index.js that require 'mojito': https://github.com/yahoo/mojito/blob/develop/source/lib/management/utils.js#L432

[2012-07-31 18:24] mridgway commented on #270
@focuzz You said you have a client side version of the Handlebars view engine. Do you have a link to this implementation?

[2012-07-31 18:38] focuzz8 commented on #270
@mridgway yes, i've uploaded it on github here https://github.com/focuzz/mojito/tree/hb

[2012-07-31 18:42] focuzz8 commented on #270
@mridgway i didn't found how compile works (server-side version), so it's just mimicry of mu version

[2012-07-31 19:28] caridy commented on #270
@focuzz @mridgway yes, that's the main reason I decided not to pull the client side version of the HB implementation. YUI already does part of the job, and most important, HB relies heavily on partials and precompiled views. And this is not supported yet in mojito. @drewfish asked me to remove the changes that I did in mojito server side to precompile those views in HB way.

The way I see it, we s

[2012-07-31 19:44] focuzz8 commented on #270
sounds very good but how much time will it take? you want to rewrite hb compilation mechanics, right?

[2012-07-31 19:45] caridy commented on #270
To clarify, that change that I'm proposing will remove the current mu/hb client side implementation, in favor of a more YUI friendly implementation, and it will obviously improve performance a lot since rendering templates will be a synchronous process without string manipulation.

[2012-07-31 19:47] focuzz8 commented on #270
@caridy you want compile templates directly into js code, and use this code on client and server directly, to make markup, right?

[2012-07-31 19:55] caridy commented on #270
@focuzz yes. In theory, the resource store (/cc @drewfish) should be able to take care of this during the booting time (Shaker can also leverage resource store for the matter). In my opinion, this will bring few benefits:
- partials are easy when u already have pre-processed templates per mojits.
- easy to deploy the compiled templates, to a device, to a browser, to the server (by shaker)
- templa

[2012-07-31 21:20] drewfish commented on #270
In the past, it was an architectural decision that Mojito would allow multiple view engines, and not just one (mu).  Unless there's a strong argument otherwise, I'd like to keep this.  Keeping this flexibility means that users aren't stuck with handlebars if something better comes out in the future -- the user can use whichever they want.  (It's pretty easy to wire a new view engine into Mojito.)

[2012-07-31 23:13] caridy commented on #270
@drewfish right! but the reality is probably different. None of those templates engines have a chance against handlebar or dust for the web. Compiled templates for the client side is a must in the majority of the cases. Now, to address that concern, there is nothing that prevents us the use of a non-compilable template engine. We can alway send them into the client side in a form of TEXT, and then

[2012-07-31 23:34] zhouyaoji commented on #135
Just to clarify for the documentation, the value for "tunnelTimeout" is a number (not a string) and is in milliseconds as shown in the example 'application.json' below, correct?

[
    {
        "settings": ["master"],
         ...
        "tunnelTimeout": 5000,
        "specs": {
            ...
        }
    }
]

[2012-08-01 00:58] drewfish commented on #270
I think I understand what you're saying.  In today's Mojito, you should be able to create a view engine that implements exactly what you describe :)

[2012-08-01 17:16] drewfish commented on #259
@caridy That's fine.  I agree that we likely want to update our documentation to primarily discussion Y.Model.

(The fact that other types of code/objects can be used is really an advanced feature, specifically so that Mojito has an out to deal with concerns like @Satyam raises.)

[2012-08-01 18:02] Satyam commented on #259
Have I mentioned performance?   Y.Model is based on Backbone.Model.   Both have a get method.

This is the original 'get' method of Backbone:  https://github.com/documentcloud/backbone/blob/master/backbone.js#L236

This is my getValue method, which is the equivalent but does not use the get method inherited from Attribute: https://github.com/Satyam/yui3-gallery/blob/master/src/gallery-md-model/js/

[2012-08-01 18:12] drewfish commented on #259
@Satyam You've clearly communicated your reservations about Y.Model.  We've heard you.  In Mojito, you can use Y.Model if you want, or use _something else_ if you want.

This issue is probably poorly named.  It should instead say "Mojito model should allow use of Y.Model".

[2012-08-01 18:41] Satyam commented on #259
Whatever you show in the examples and tutorials is what developers will end up using.
Implicitly and in the minds of most people learning Mojito, you would be endorsing Y.Model.
It really doesn't matter how you phrase your disclaimer.
Lots of people will waste a lot of time based on that.
So be it.

[2012-08-01 18:55] drewfish commented on #259
Yes, we do plan on endorsing Y.Model.  It does work for many people.  If anyone wants to use something else that is possible too.

[2012-08-01 21:50] focuzz8 commented on #259
@Satyam @drewfish It seem like everybody can hack a little bit to get whatever he wants. I think it's not a problem to make some different samples with current (plain) model, with Y.Model and with custom model.
For me for example problem with keys is not a problem because
1. i'm using guid as pk in most cases (not a composite key)
2. most valuable for me - i do not expose db objects directly to fr

[2012-08-01 22:37] dsulliv opened #340 "Can't start app using Mojito 0.3.29 + YUI 3.5.1 + server side jsdom"
Used npm to install mojito@0.3.29
Used npm to install satg-mojits
Used npm to install jsdom@0.2.0

Created 0000-jsdom_node.server.js file in autoload directory:

/*jslint nomen:true, indent: 4, plusplus: true, browser: true */

/*
- Based on: http://yuilibrary.com/yui/docs/yui/nodejs-dom.html
  */
  YUI.add('jsdom-node', function (Y) {
  'use strict';

  var jsdom = require(__dirname + '/../node_m

[2012-08-02 09:13] Satyam commented on #259
@focuzz
I don't want Mojito samples with my custom Model.   My goal was to show the design errors in Y.Model and have those fixed in Y.Model itself and, to do that, I showed how it could be done better, perhaps not right, as I cannot claim to have the perfect solution, but at least much better than what's on offer.

BTW, I wouldn't mind if someone showed me what's wrong with my design or that what

[2012-08-02 23:08] #10 closed, assigned to nobody

[2012-08-02 23:08] #32 closed, assigned to nobody

[2012-08-02 23:08] #50 closed, assigned to nobody

[2012-08-02 23:08] #54 closed, assigned to nobody

[2012-08-02 23:08] #59 closed, assigned to nobody

[2012-08-02 23:08] #95 closed, assigned to nobody

[2012-08-02 23:09] #109 closed, assigned to nobody

[2012-08-02 23:09] #110 closed, assigned to nobody

[2012-08-03 23:13] rwaldura opened #344 "Spelling errors"
http://developer.yahoo.com/cocktails/mojito/docs/faq/#moj-lazyloading
nce by first dispatching the **LazyLoadMoit** as a proxy to the client.

http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_framework_mojits.html#lazyloadmojit
azyLoadMojit is really a proxy mojit that dispatches **it’s** binder and

[2012-08-06 04:20] #319 closed, assigned to nobody

[2012-08-06 04:21] #132 closed, assigned to nobody

[2012-08-06 04:26] mridgway commented on #71
No longer relevant.

[2012-08-06 04:26] #71 closed, assigned to nobody

[2012-08-06 04:28] mridgway commented on #58
This is no longer relevant as we are moving towards Handlebars.

[2012-08-06 04:28] #58 closed, assigned to nobody

[2012-08-06 04:33] mridgway commented on #223
Is this relevant any more? Looks like this can be closed since we are recommending upgrading to later versions.

[2012-08-06 05:04] FabianFrank commented on #223
I also think it can be closed.

[2012-08-06 17:19] vinitj opened #351 "Mojito 0.4.0 Test fails for Node Modules"
I am trying to install Mojito 0.4.0 in my dev box. All installation works fine but when I run the command ‘sudo mojito test –c –v app .  ’ test cases fails for node modules which are not written by us due to which our commit fails.

Can someone please let me know why mojito test command running the test cases of node_modules folder or is there any way to avoid this in dev as well as Manhattan envi

[2012-08-06 17:27] isao commented on #351
Hi Vinit, just to confirm, the same code and command works for 0.3.x?

[2012-08-06 17:39] vinitj commented on #351
@isao same code and command works for Mojito 0.3.30

[2012-08-06 18:01] FabianFrank opened #352 "mojito 0.4 creates apps that pull in mojito 0.3 as dependency, which breaks unit tests (and more?)"
steps to reproduce
$ npm install mojito@0.4.0 -g
$ mojito create app test
$ cat test/package.json
...
    "dependencies": {
        "mojito": ">= 0.1.0"
    },
...
$ npm install .
npm WARN package.json test@0.0.1 No README.md file found!
npm http GET https://registry.npmjs.org/mojito
npm http 200 https://registry.npmjs.org/mojito
npm http GET https://registry.npmjs.org/mojito/-/mojito-0.3.30.tgz
n

[2012-08-06 18:04] FabianFrank commented on #352
I would recommend that every time we make compatibility breaking changes, we have to increment the dependency in the skeletons. So that all apps created with mojito@0.4.x should depend on mojito >=0.4.0 or maybe even 0.4.x.

[2012-08-06 18:18] isao commented on #352
good idea-- we should modify the archtype logic to use the major-minor-x version number in use.

[2012-08-06 23:14] caridy commented on #262
@focuzz can you try that example with this setting in the application.json:

[code]

It is just a hunch, but I guess this problem is related with the fact that old IE versions require some YUI specific modules, and since the default behavior in mojito is "precomputed", it fails badly in those escenarios.

If this fix the problem for your example with the latest mojito, that means we should set "pr

[2012-08-07 01:33] mridgway opened #357 "Make shareYUIInstance work"
Default value should be FALSE at app level, mojits default should be UNDEFINED, so that we do not change current behavior, but give customers a way to improve performance.

[2012-08-07 13:16] focuzz8 commented on #262
Didn't help... Will try to dig more deep in evening.

[2012-08-07 17:04] #352 closed, assigned to nobody

[2012-08-08 06:29] mridgway commented on #236
Fixed by https://github.com/yahoo/mojito/pull/242

[2012-08-08 06:29] #236 closed, assigned to mridgway

[2012-08-08 06:46] mridgway commented on #237
Fixed in #243.

[2012-08-08 06:46] #237 closed, assigned to mridgway

[2012-08-08 06:47] mridgway commented on #84
Are there other places that we need to clean up other than yuidoc? If not, this can be closed since #243 is merged.

[2012-08-08 06:57] mridgway commented on #45
Fixed by #336.

[2012-08-08 06:57] #45 closed, assigned to nobody

[2012-08-08 16:32] drewfish commented on #84
We spawn a java process to generate instrumented code for code coverage, in app/commands/test.js.

[2012-08-08 16:38] mridgway commented on #84
Ok that makes sense. Once Arrow supports code coverage and is open sourced we will be able drop the java code.

[2012-08-09 22:39] rwaldura commented on #357
see also bz5741324

[2012-08-09 22:41] #340 closed, assigned to nobody

[2012-08-09 22:59] rwaldura commented on #277
didn't we do this already? #252
re-open if I'm wrong

[2012-08-09 22:59] #277 closed, assigned to nobody

[2012-08-09 23:03] isao commented on #277
yes that landed in 0.3.30

[2012-08-10 00:15] mridgway commented on #277
This issue encompasses several things that should be optimized in the creation of the AC object. The change that landed in 0.3.30 only made it so that the RouteMaker was instantiated if the url addon was used (before it was instantiated regardless of being used).

The example that this description calls out is the action-context passing store.getRoutes() into each mojit. That's a lot of data being

[2012-08-10 18:14] rwaldura commented on #262
Thanks @focuzz , let us know what you find out!

[2012-08-10 19:59] yemanet opened #374 "Changing log level dynamically based on context dimension"
Currently, I am unable to change the log level dynamically based on the context dimension key val pairs passed through url query params .

Please can you take a look at this issue?

[2012-08-10 21:47] drewfish opened #375 "shared assets have wrong URL, especially when staticHandling.appName is "/""
Consider an app with shared assets and staticHandling.appName = "/".  In that case, the shared assets should have URL prefix "/static/" or perhaps "/static/shared/" (it's debatable).  However, it looks like they have prefix "/static///".

[2012-08-10 23:06] rwaldura commented on #135
see also #345, #359.

[2012-08-10 23:09] drewfish commented on #374
@yemanet What version of mojito are you using?

[2012-08-11 12:52] redonkulus commented on #375
@rwaldura this would be a blocker from upgrading to 0.4.

Even with changing appName to something other than "/", I still do not get the shared assets to load.

[2012-08-12 05:35] FabianFrank commented on #352
@drewfish Do you think it makes sense to automatically pick the right mojito version depending on the mojito version that is currently active at run time instead of hardocding the version in the archetype? I was just looking at how to fix this and I think we could do this by reusing some code from the version command implementation. Let me know if you think this is a good idea and I can send the P

[2012-08-13 14:20] rwaldura commented on #375
is this related to #358?

[2012-08-13 15:25] drewfish commented on #352
@FabianFrank I was thinking the same thing.  I think fixing this will require the following (all in `store.server.js`):
- early during `preload()`, we need to calculate the currently-running Mojito's version
  - should go in `this._config.mojitoVersion` (already exists)
  - should come from `this._config.mojitoRoot` + `package.json`
  - _don't_ use `_preloadPackage()`, since that has significant s

[2012-08-13 15:28] drewfish commented on #375
@rwaldura That's unknown, since the root cause of #358 is unknown.

[2012-08-13 16:37] isao commented on #352
heh, Fabian mentioned that earlier, and I restated it not fully noticing..

Can't we just load the mojito version from package.json and pass the major/minor version to template used by commands/create.js ?

[2012-08-13 17:07] drewfish commented on #352
@isao Sure, but I think there is a runtime issue as well.  If global-mojito is run, and the local-mojito is a different version, mojito can/should detect that and give a warning/error.  That's what my big suggestion was about.

[2012-08-14 04:17] ramses0 commented on #223
$ mojito version
path.existsSync is now called `fs.existsSync`.
Version of mojito is 0.3.30

...following: http://developer.yahoo.com/cocktails/mojito/docs/getting_started/mojito_getting_started_tutorial.html#make-the-application

$ mojito test app .path.existsSync is now called `fs.existsSync`.
[warn] undefined: overriding application config value: env
[WARN] MojitoServer: your mojit "HelloMojit"

[2012-08-14 15:40] rwaldura commented on #223
@ramses0 is your code nothing more than the tutorial app? what's in your HelloMojit?
@zhouyaoji

[2012-08-14 15:42] rwaldura opened #384 "bad text formatting"
at http://developer.yahoo.com/cocktails/mojito/docs/getting_started/mojito_getting_started_tutorial.html#make-the-application
under "modify the sample mojit"
the code box includes text at the bottom:

[code]

[2012-08-14 16:47] zhouyaoji commented on #384
Thanks for spotting that issue. The formatting was also affecting the ordered list. I've fixed the problem.

[2012-08-14 16:47] #384 closed, assigned to nobody

[2012-08-14 20:32] ramses0 commented on #223
Yep, this is "base case" stupidly following the tutorial.  I tried changing controller.server.js to controller.client.js to maybe adjust the "affinity" (?) but it gave different error messages which I am not familiar enough with mojito / node to figure out off the top of my head.

Quickstart worked: http://developer.yahoo.com/cocktails/mojito/docs/quickstart/  but the "HelloWorld" has not.  Litera

[2012-08-14 20:33] mridgway commented on #357
Fixed in #386.

[2012-08-14 20:33] #357 closed, assigned to mridgway

[2012-08-14 21:11] rwaldura commented on #223
Mmmh wow okay. @jenny could we look into this? I'm not going to be able to get to this today, sorry.

[2012-08-14 21:15] rwaldura opened #387 "Mojito 0.3.30 fails on tutorial app"
Originally a follow-up to issue #223 by @ramses0.

$ mojito version
path.existsSync is now called fs.existsSync.
Version of mojito is 0.3.30

...following: http://developer.yahoo.com/cocktails/mojito/docs/getting_started/mojito_getting_started_tutorial.html#make-the-application

$ mojito test app .path.existsSync is now called fs.existsSync.
[warn] undefined: overriding application config value: e

[2012-08-14 21:16] rwaldura commented on #223
I'm closing this ticket in favor of #387 -- let's work on this over there.

[2012-08-14 21:16] #223 closed, assigned to isao

[2012-08-14 21:28] idearat commented on #223
I think closing is the right answer for 0.3.27 bugs. It turned out to be an unstable release for a lot of consumers. Focusing on 0.3.30+ and 0.4+ is the best answer.

[2012-08-14 22:42] jenny commented on #387
I've added this to the sprint for investigation.

[2012-08-15 21:20] FabianFrank opened #393 "mojito test broken in 0.4.1"
hi guys,

it seems that mojito test is broken in 0.4.1. I can't run it in an example app.

$ npm install mojito@0.4.1 -g
$ mojito create app hello
$ cd hello
$ mojito create mojit bar
$ mojito test app .
✖ Invalid command: undefined
usage:
mojito <command> [<params>] [<options>]
$ mojito help
Available commands: build, compile, create, docs, gv, help, info, jslint, start, test, version

It works f

[2012-08-15 21:56] FabianFrank commented on #387
@jenny I was approached by several people in Bangalore about this. The breaking/crashing unit tests are fixed with: https://github.com/yahoo/mojito/pull/395

[2012-08-16 16:51] rwaldura commented on #206
@imalberto how is this problem solved by FirstByte?

[2012-08-16 16:53] rwaldura commented on #206
@zhouyaoji we should document ac.flush() is asynchronous

[2012-08-16 17:34] #375 closed, assigned to drewfish

[2012-08-16 21:08] mridgway commented on #393
Fixed in 0.4.2.

[2012-08-16 21:08] #393 closed, assigned to mridgway

[2012-08-16 22:32] imalberto commented on #206
- I think handlebar will address the async rendering part.
- FirstByte will flush mojits as content becomes available.

[2012-08-17 00:17] mridgway commented on #270
This was released in 0.4.2.

[2012-08-17 00:17] #270 closed, assigned to mridgway

[2012-08-17 00:23] mridgway commented on #261
It looks like this could be fixed by passing "base" or "comboBase" into the configuration for YUI. The ability to configure YUI was added in https://github.com/yahoo/mojito/pull/350. @focuzz can you confirm that this will work for you?

[2012-08-17 00:32] mridgway commented on #255
This is now fixed.

[2012-08-17 00:32] #255 closed, assigned to mridgway

[2012-08-17 00:33] mridgway commented on #273
Added in PR #300.

[2012-08-17 00:33] #273 closed, assigned to mridgway

[2012-08-17 00:34] mridgway commented on #247
@drewfish Is this now implemented in the new Resource Store?

[2012-08-17 00:39] #239 closed, assigned to mridgway

[2012-08-17 00:42] mridgway commented on #208
See #371 for fix.

[2012-08-17 00:50] mridgway commented on #227
Closing as "won't fix". We are migrating away from Mu entirely and recommend using Handlebars.

[2012-08-17 00:50] #227 closed, assigned to nobody

[2012-08-17 00:57] drewfish commented on #247
Yes.  The new RS has a `validateContext(ctx)` method, and uses it liberally.  That method throws an error if the context keys/values aren't found in dimensions.json.

[2012-08-17 00:58] #247 closed, assigned to nobody

[2012-08-17 01:25] mridgway commented on #83
This would be good to look at during the index.js and server.js investigation.

[2012-08-17 01:30] mridgway commented on #16
This should be supported already. I'm not entirely sure about the validation of AC and other such components, but we should file individual bugs for components that need validation.

We also discussed refactoring this to remove the BC condition and clean up the code.

[2012-08-17 01:38] mridgway opened #402 "Upgrade to YUI 3.6"

[2012-08-17 01:44] drewfish commented on #238
This issue should probably move to https://github.com/yahoo/ycb/issues.

[2012-08-17 10:40] focuzz8 commented on #261
yes, but I've just found one more place to patch this way (and it seems like there is bug there since this patch and new rs)
lib/app/addons/rs/yuiserver.js at line 482 -> loader.base = this.yuiConfig.base;

[2012-08-17 10:49] focuzz8 commented on #261
PS you can see result of wrong url generation (with yahoo cdn) in mojito log. Something like

[code]

when using internationalization

[2012-08-17 16:21] jshirley opened #403 "Documentation (or blog post) about bundling and packaging Mojito for App Stores"
I know that Axis is available in the iOS App Store, which is fantastic.

One of the things preventing me from jumping into Mojito development is the lack of documentation and information on how to properly bundle a Mojito app under the App Store.

Should we use Phonegap? Something else? How does mojito-shaker come into play?

Having some official guidance on this would be extremely useful.

Thanks

[2012-08-17 17:34] rwaldura commented on #261
Thanks @focuzz ! Let's try and fix this.

[2012-08-17 18:34] caridy commented on #403
@jshirley yes, this is definitely an area we need to put some effort to help early adopters, but it is very early for that in my opinion. Although, I can answer some of the questions:
- yes, u can use `mojito build html5app --context "device:iphone" to generate the HTML/JS/CSS for the infamous www folder, and use it in phonegap, or even to generate stuff that will work within Sensha for example.
-

[2012-08-17 18:35] rwaldura commented on #403
Hi Jay:

Thanks for your interest in Mojito. I have to agree with you, at this point in time there's a marked lack of documentation on how to do this. We've been working on this though! We are preparing an announcement, and you can expect a clear direction (and code!) in a few weeks.

If your project just cannot wait, PhoneGap is a possible option for the time being.

Shaker only deals the comboin

[2012-08-17 18:35] #403 closed, assigned to nobody

[2012-08-17 18:39] rwaldura commented on #403
See also [forum thread](http://developer.yahoo.com/forum/Yahoo-Mojito/Tools-for-creating-an-xcode-wrapper-/1344092139642-b496922f-885f-4dfb-8fc3-140f38d344e8).

[2012-08-17 18:40] caridy commented on #403
@rwaldura I still think Shaker plays a role on the code that you put into your device. It will definitely clean up the code/comment/log statements. It can help with the cssembed rutine (very useful for iOS in my opinion to avoid flicking). It can help with the rollups (avoid having 100 files to load/parse/cache by the webview, instead u load only few created by shaker. etc.

[2012-08-17 18:45] caridy commented on #261
I don't think the internationalization is related with the "base" or "comboBase", but I will investigate. I can ensure you that my patch for SSL support works just fine since we use it in Axis ;)

[2012-08-17 18:59] jshirley commented on #403
Thanks very much guys, this is great to hear. I'm really excited about seeing what's coming down the pipe.

Thanks for the additional insight into shaker, @caridy -- that was basically how my understanding was. I built a sort of stop gap before seeing shaker for my YAF application. It works to at least reduce the requests down.

[2012-08-17 20:04] diervo commented on #403
Let me know if you have any doubt in Shaker! I will love to help.
By the way we are re-writting it for the new Mojito, so keep tunned! :)

Anything let me know! Thanks guys!

2012/8/17 Jay Shirley notifications@github.com

##

Diego Ferreiro Val
@diervo

[2012-08-17 20:24] caridy commented on #261
@focuzz can you try to add an empty:

   "yui": {
         "config": {}
   }

in your application.json to see if that solves the problem with the language property in the combo url?

[2012-08-17 21:32] mridgway opened #405 "Give Y.mojito an interface for adding controllers, binders, etc."
This would deprecate or eliminate support for attaching things directly to Y.mojito.xxx.  Expect downstream breakages.

[2012-08-17 21:58] focuzz8 commented on #261
yes, mojito with empty yui section works

[2012-08-17 22:05] caridy commented on #261
I think we can close this issue since yui.base or yui.comboBase should not be used to customize the client configuration, it only affect the way mojito populates YUI at the server side (by default from node_modules/yui/.

For the client, you can use yui.config.comboBase in application.json.

@rwaldura probably we should clarify that in the documentation.

[2012-08-17 22:08] rwaldura commented on #261
@zhouyaoji +Joe for doc update

[2012-08-17 22:08] #261 closed, assigned to mridgway

[2012-08-17 23:14] drewfish commented on #405
Wouldn't this be contrary to the way YUI modules are usually authored?

[2012-08-17 23:26] mridgway commented on #405
We're already subverting that by storing them in our own container and requiring that they be added to that container. In my mind, Mojito is a framework that should allow adding special types of modules (controllers, binders, etc.) just like YUI does. Either that or not store them in a container and just instantiate them based on class name regardless of their namespace.

[2012-08-19 02:59] caridy opened #409 "application.json >> builds -> html5app doc"
In the documentation, the object to configure the build is called "build":

http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_configuring.html#build-obj

but according to lib/management/commands/build.js, it should be "builds". Here is the snipped:

[code]

[2012-08-19 10:48] chetanankola opened #410 "websockets and mojito. when?"
how and when do you think will mojito have support for websockets built into it?

if not is there a simple hack to integrate websockets into mojito?

[2012-08-19 14:36] bitlyfied commented on #387
still no fix? I just started playing with Mojito, and breaking a HelloWorld app makes it look pretty bad...

[2012-08-19 16:40] caridy commented on #387
@bitlyfied it was fixed in 0.4.2 few days ago, but it is not tagged as stable yet!

[2012-08-20 15:31] add0n commented on #387
Fixed in 0.4.2. Closing.

[2012-08-20 15:31] #387 closed, assigned to nobody

[2012-08-20 16:05] drewfish opened #413 "store.getMojitTypeDetails() computes too many dependencies"
The results of `getMojitTypeDetails()` and `expandInstanceForEnv()` of the resource store return controller and binder YUI module requirements.  For controllers, the list is too large, since it includes everything in the mojit (including all shared resources), regardless of whether the controller `{requires:[]}` them or not.

Found by @dferreiroval.

[2012-08-20 18:12] gvaish opened #415 "html5app build - assets path"
Upon doing a `build html5app`, the code that is generated (say, index.html) refers to the assets using absolute path, for example **`/static/mojito/autoload/perf.client.js`**

However, the files are created within `artifacts/builds/html5app/static/` folder, sub-folder `static` relative to `index.html`.

As such, I feel that the references generated must be relative - **`./static/mojito/autoload/pe

[2012-08-20 18:21] drewfish commented on #415
You can fix this using the `builds.html5app.forceRelativePaths` in application.json.

http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_configuring.html#html5app-obj

[2012-08-20 18:45] zhouyaoji commented on #409
Thanks, Caridy. I've updated the docs, correcting the issue.

[2012-08-20 18:45] #409 closed, assigned to nobody

[2012-08-20 18:49] gvaish commented on #415
@drewfish Great. I missed this option :)

[2012-08-20 18:49] #415 closed, assigned to nobody

[2012-08-20 20:18] rwaldura commented on #409
@zhouyaoji doc bug

[2012-08-20 20:49] rwaldura commented on #415
see also related tickets #375, #284, #358.

[2012-08-20 23:29] zhouyaoji commented on #409
Thanks, Ren. I already fixed the problem. See the following page: http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_configuring.html#build-obj

[2012-08-20 23:59] rwaldura commented on #409
silly me!

[2012-08-21 09:26] #208 closed, assigned to nobody

[2012-08-21 13:14] Merlin8000 commented on #264
I'd like to chime in and add to the few that would like to see windows compatibility.  While I'm not actively developing in mojito now, the lack of windows compatibility was absolutely the first thing that really took the wind out of my sails when I was first getting started with it.

I've been keeping a watchful eye on this project because I see a lot of promise, and this is definitely one of the

[2012-08-21 15:07] ericf commented on #405
I'm curious what you envision this interface looking like, and how it would be fundamentally different than placing constructor functions on some namespace.

[2012-08-21 15:13] rwaldura commented on #264
Thanks @Merlin8000 for your vote.
Part of the problem is that we're not setup for running (testing) Mojito on Windows.
Travis doesn't help, as it doesn't support Windows either. Any ideas?
http://about.travis-ci.org/docs/user/ci-environment/

[2012-08-21 17:45] drewfish opened #417 "support css compilers, such as sass or less"
Mojito should provide a way to support CSS compilers, such as sass or less.

[2012-08-21 17:46] drewfish commented on #417
I have a start of this here:
https://github.com/drewfish/mojito/commits/rs-contents

It needs more unit tests.

Also, I think mimetype calculations need to be done a bit differently.  They should probably move to an RS addon, so that they can be done at server-start time (and so that other addons, such as one that stitches in sass or less, can tweak them).

[2012-08-21 21:00] rwaldura commented on #410
Honestly, I just don't see a ton of demand for it at this point.
Can you tell us more about what you're doing and why you need WebSockets?

[2012-08-21 21:06] Merlin8000 commented on #264
@rwaldura As I understand it, it's common for unit testing frameworks like that to have difficulties with Windows.  I honestly don't see a comparable solution, I think that the next-best QA tool may be the bug tracker (as stated here, that's a pretty far cry from a build/testing framework).

So really I can only say that I hope that things improve.  I understand the current state of things and wil

[2012-08-21 21:09] caridy commented on #417
@drewfish can you share the sass addon somehow so I can adjust my less and coffee ones based on the one u just finish?

[2012-08-21 21:33] drewfish commented on #417
You can find it here:
http://somefancy.com/drew/mojito/pkg-sass.tgz

[2012-08-21 21:49] mridgway commented on #405
It is not fundamentally different from using namespaces explicitly, but it gives us more control over this namespace. We've already had to have BC breaks because the namespacing was incorrect in our archetypes and examples, and I'd like to prevent this from happening again (except this one more time to use the API).

This may change depending on how the YAF integration works (whether if it even us

[2012-08-21 22:42] rwaldura commented on #264
We certainly didn't try to break Windows compatibility on purpose. :(
@focuzz was looking into what's currently broken, and I was under the impression that, with a good PR, we could solve this.
@Merlin8000 would you be willing to help him?

[2012-08-22 17:37] rwaldura opened #421 "Cleanup npm metadata"
[code]

description
dist-tags
users
contributors
readme

[2012-08-22 17:55] drewfish commented on #421
I think the `readme` will fix itself one a package gets published that has the new directory structure.

[2012-08-22 17:55] drewfish commented on #421
What's wrong with the `description` ?

[2012-08-22 17:56] drewfish commented on #421
The `dist-tags.stable` should probably be `0.3.30` and `.latest` should probably be `0.4.2`.

[2012-08-22 17:56] drewfish commented on #421
What's wrong with `contributors`?

[2012-08-22 17:57] isao commented on #421
yes, "readme" is the contents of README.md at `dirname package.json` so is "fixed" on head now

users, tarball, shasum etc come from the npm registry

dist-tag yui341 points to the stable version using YUI 3.4.1 (jsdom)..

Ren, can you suggest specific changes for the other metadata?

[2012-08-22 17:57] drewfish commented on #421
I think `users` is something that the NPM registry generates, and is not under our control.

[2012-08-22 17:58] isao commented on #421
users I think means "users who have starred this module"..

[code]

..since I am listed and have done so...

[2012-08-22 17:59] rwaldura commented on #421
i'll submit a diff against package.json for some changes -- others will have to be fixed at release time

[2012-08-22 18:01] isao commented on #421
and fyi "maintainers" is a list of npm users who have done `npm pub`

[2012-08-22 18:03] drewfish commented on #421
I think `maintainers` comes from `npm owner ls mojito` -- that is, those folks with permission to publish the package.

[2012-08-22 18:59] Merlin8000 commented on #264
I'd at least be willing to run tests if the instructions are well written.

[2012-08-22 20:23] focuzz8 commented on #264
[code]

but it seems like this don't work because of path differences on *nix and windows

[2012-08-23 22:01] mridgway commented on #238
ycb is currently not doing any file reading logic; data is inserted into the library by passing in a full javascript object. Do we need to move all filing reading logic into ycb in order to make this work? This would be an API shift from what I can tell.

[2012-08-23 23:31] jlecomte commented on #238
I'm not sure what the final solution should be. Please, tell me if the use cases are clear enough though. I'd be more than happy to sit down and walk you through them.

[2012-08-24 03:56] rsaiprasad commented on #264
I strongly believe that windows compatibility is a must esp for a app framework like this. Most of the developers esp the less experienced one out there are on Windows. And for the framework to be adopted more, its a must that these guys can use it easily with out pain. Infact this is should be one of the high priority bugs to be resolved.

[2012-08-24 05:17] gvaish opened #427 "Serve YUI from Mojito Server"
While traveling yesterday, I realized that Mojito can support an "Offline YUI Combo" URL.

By that what I mean is… when there's no internet connection (like travel, in transit or otherwise), one can configure a setting in application.json and let the YUI library be served from the local server rather than from the CDN.

It can be a simple `"yui": { "serveMode": "local" }` (default value being "cdn

[2012-08-24 08:42] rsaiprasad commented on #264
Thanks @focuzz your fixes work like charm. I am able to run mojito on windows now. Would let you know incase I find any bugs / issues.

[2012-08-24 14:31] drewfish commented on #427
I think this is already addressed by `"yui": { "base" }` in `application.json`:
http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_configuring.html#yui-obj

[2012-08-24 14:44] drewfish commented on #238
The current approach is nice because it allows the caller of YCB to deal with filesystem issues (sync vs. async, etc).  However, it doesn't allow for the "include" feature that we'd like to add.

If we change YCB to read the files itself, the interface will have to be asychronous of course (perhaps optionally sync as well).

Using the object-oriented interface, we could perhaps get both approaches

[2012-08-24 17:31] rwaldura commented on #264
Great to hear!
Any ideas on how we could get this tested? Is there some sort of Travis-like for Windows out there? How do the Node guys test their stuff?

[2012-08-24 18:13] rwaldura commented on #427
@gvaish go ahead and reopen issue if "base" isn't enough. Thanks!

[2012-08-24 18:18] add0n commented on #264
This is a particular pain point of mine so I really appreciate the work you've done to make Mojito work on Windows. The main thing preventing us from merging this is our concern about being able to have a CI environment that can keep the Windows port tested, as stated by rwaldura above. Please let us know if there is a testing framework for Windows like Travis.

[2012-08-24 18:52] gotwarlost opened #429 "PUT requests not handled correctly by the REST library"
from rest.common.js:

[code]

This bug is not present in 0.3.26 and was introduced in 0.3.27. It is affecting our capability to move forward since we need PUT requests to a backend webservice to work.

[2012-08-24 18:58] rwaldura commented on #429
Ouch.
https://github.com/yahoo/mojito/blob/develop/lib/app/autoload/rest.common.js#L75

[2012-08-24 19:02] rwaldura commented on #429
Next Sprint candidate. Sprint's already pretty full though -- might get bumped. How critical is this? What's it blocking?

[2012-08-24 19:08] mojit0 commented on #429
A proper REST implementation should support GET, POST, PUT, and DELETE. For performance reasons it's sometimes useful to also support HEAD requests. As part of that support HTTP status codes other than 200 can indicate success and should be properly handled. We may want to open a separate issue for full REST support so we can focus this bug on only what's being blocked at the moment tho.

[2012-08-24 19:14] rwaldura opened #430 "Full support for REST"
This issue is a superset of issue #429, which we'll keep focused on supporting PUT requests only.

Quoting @mojit0:

_A proper REST implementation should support GET, POST, PUT, and DELETE. For performance reasons it's sometimes useful to also support HEAD requests. As part of that support HTTP status codes other than 200 can indicate success and should be properly handled._

[2012-08-24 19:14] gotwarlost commented on #429
agree with @mojit0 - currently we are unable to move forward with our mojito dependency and have to pin ourselves to v0.3.26

This particular fix should be a one-line change (i.e. add a clause for PUT in addition to POST) - the effort is more on writing a unit test for this.

[2012-08-24 19:15] mridgway commented on #264
+1. I know Travis has Windows testing on their radar, but no ETA for support. We may just have to wait for them to get our CI on Windows up and running, but I don't think it should prevent us from accepting PRs that make Windows work as long as they don't raise regressions on our current CI.

[2012-08-24 19:15] rwaldura commented on #429
Next Sprint, S41.

[2012-08-24 21:03] isao opened #431 ".npmignore excludes lib/tests and test coverage jars"
this breaks `mojito test -c app .`

[2012-08-24 21:07] focuzz8 commented on #264
it seems like here we can find ci services for node https://github.com/joyent/node/wiki/Build-Servers
bamboo is free for open source projects http://www.atlassian.com/software/bamboo/pricing - and it was written that windows is supported too

[2012-08-24 21:28] isao commented on #431
## steps to reproduce

with HEAD of develop d3df9426a13823d766dee519df02bf6e1f4f1c98

[code]

[2012-08-24 22:13] isao opened #434 "remove yuitest's jar from git, use npm version"
rm references to lib/tests/harness/lib/yuitest/ in favor of npm package https://npmjs.org/package/yui-coverage

[2012-08-25 07:36] gvaish commented on #427
@drewfish Well, what's the `base` to serve from the local server? It will be good to have it documented officially as well

@rwaldura The answer to above should decide whether or not to reopen.

[2012-08-25 07:44] gvaish opened #435 "rollups failing at LazyLoad"
When I run `mojito compile rollups`, I get the following error:

[code]

I ran it on https://github.com/gvaish/todomvc/tree/dev-gvaish/architecture-examples/mojito/src

[2012-08-26 16:27] gvaish opened #436 "Passing the ipaddress / port to listen to"
Wondering if there's a dynamic way to specify the port to listen to and the ipaddress to bind to?

I need a configuration that's compatible with OpenShift installation. See https://github.com/openshift/nodejs-example/blob/master/server.js for example.

Also since I need mojito to be started using node, my updated server.js looks like below:

[code]

[2012-08-26 21:21] mojit0 commented on #436
There is a pull request for dynamic port but not for ip address. We can put that in our queue.

[2012-08-27 02:42] gvaish commented on #436
@mojit0 I think it would be a good feature to have... specially if you have a machine with multiple IPs configured.

[2012-08-27 16:28] caridy commented on #238
will a custom specs definition per mojit help in this case to get better organization/granularity?

[2012-08-27 16:28] drewfish commented on #427
@gvaish The `base` value is limited, in that it can point to any file in an `assets/` directory.  The documentation on assets should have details no that.

However, the `base` isn't enough to handle combo URLs.  Combo URLs are strongly desired, since they perform significantly better (and are what is used in production as well, for that very reason).

I'm renaming the ticket from "Offline YUI Serv

[2012-08-27 16:35] drewfish commented on #427
(I have an experimental/hacky approach to this here:
https://github.com/drewfish/mojito/commit/ca2f559
)

[2012-08-27 16:47] gvaish commented on #427
@drewfish Awesome buddy! Given a couple of remarks in the commit ca2f559

[2012-08-27 16:57] diervo opened #438 "AdapterResourceStore: expandInstance"
The adapterResourceStore acts as a proxy for the real resourceStore (where the pluggins are binded).
The AdapterResourceStore removes the action from the spec when passing it to the real store. (Lines: 65-72 resource-store-adapter)
In consecuence, from the plugins I cannot know which action was called.
Adter all the calling the adapterStore merge back the original specs with the ones expanded (Lin

[2012-08-27 17:09] drewfish commented on #238
Even with specs-defined-in-the-mojit (which is possible today in fact), I think there might be a good usecase for splitting the `application.json` into parts.

[2012-08-27 17:12] drewfish commented on #435
This looks like a bug in Mojito. (At one point, it had a check to skip making the rollups for the mojits that ship with Mojito, for exactly the filesystem issues you ran into.)

What version of Mojito are you using? This is hopefully fixed in that latest version (0.4.2).

[2012-08-27 17:51] diervo commented on #438
@rwaldura Could you assing proprely priority? Shaker2.0 should not ship until you guys can fix me this issue.
I would like to fix it but I think it may brake other things since is a change on the store... So drew to the rescue! ;)

[2012-08-28 10:11] gvaish commented on #435
Seems fixed in 0.4.42. Was earlier running 0.3.30

[2012-08-28 10:11] #435 closed, assigned to nobody

[2012-08-28 10:14] gvaish opened #446 "html5app build - URIs are escaped"
Noticed that the `build html5app` command escapes the URIs. It that intentional?

For example, if my "/" has the following in the HTML generated

`<link href="/static/TodoMojit/assets/base.css" rel="stylesheet" type="text/css" />`

I get the following output in `index.html`

`<link href="static&#x2F;TodoMojit&#x2F;assets&#x2F;base.css" rel="stylesheet" type="text/css" />`

Notice that `/` has been

[2012-08-28 16:33] drewfish commented on #446
What version of Mojito?

[2012-08-28 16:42] gvaish commented on #446
0.4.42

[2012-08-28 18:21] rwaldura opened #449 "TodoMVC app in Mojito"
@clarle @capecodehq @addyosmani @gvaish
Multiple concurrent efforts to write such an app. Great initative folks!
Could we join forces and merge into one app?

[2012-08-28 18:25] rwaldura commented on #449
This is already tracked at https://github.com/addyosmani/todomvc/issues/131
Please ignore.

[2012-08-28 18:25] #449 closed, assigned to nobody

[2012-08-28 21:16] #431 closed, assigned to nobody

[2012-08-28 23:00] mridgway commented on #429
Looks like this regression was added by #196 which was a fix for a YUI 3.5.1 regression. If we're upgrading to YUI 3.6 we can roll back #196 because it was fixed with IO.

[2012-08-28 23:54] redonkulus commented on #374
I confirmed this is fixed in the 0.4.\* release.

[2012-08-29 00:26] #374 closed, assigned to nobody

[2012-08-29 01:07] mridgway commented on #429
Upgrade to YUI 3.6 is blocked by a regression, so we're waiting until 3.6.1 or 3.7.0 before we upgrade. Therefore, I am fixing this in place as it is now. PR incoming.

[2012-08-29 04:25] gvaish commented on #449
@rwaldura Well, I guess we may have excitingly different approaches to solve the same problem - contrasting case studies! :)

[2012-08-29 21:16] mridgway commented on #429
Fixed in #450.

[2012-08-29 21:16] #429 closed, assigned to mridgway

[2012-08-29 22:59] rwaldura opened #454 "flush() is async, done() isn't"
From Rajbir Kohli:

"ac.flush makes it hard to predict what parts of mojit(s) will be rendered when
on the web page. We experienced that for one of our mojits, ac.flush was
executed after ac.done in which case ac.flush was never rendered on the page.
Would be good to have an ability to allow sync or async ac.flush depending upon
the usecase."

See also #206.

---

Vahe Oughourlian:

One way to cre

[2012-08-30 02:48] gvaish opened #457 "ycb - removed but referenced"
In 0.4.43 release, seems like `ycb` addon has been removed but still referenced to in `addons/rs/selector.server.js` (Line 22)

https://github.com/yahoo/mojito/blob/develop/lib/app/addons/rs/selector.server.js#L22

Need quick fix.

[2012-08-30 03:33] mridgway commented on #457
ycb is now a separate node_module. You will have to run `npm install` in your application in order to pull down the new dependency.

[2012-08-30 04:04] rwaldura commented on #344
@zhouyaoji ping ping

[2012-08-30 04:09] rwaldura commented on #183
I guess I don't understand: what prevents you from binding this link to an event handler?

[2012-08-30 04:11] rwaldura commented on #126
@mojit0 is working on this, via #422.

[2012-08-30 05:21] gvaish commented on #457
Hmmm... noticed that `ycb` was pulled in already in `node_modules/mojito/node_modules/ycb` folder. But then why this error?

Using `node @ 0.6.20`, `npm @ 1.1.37` and `mojito @ 0.4.43`.

[2012-08-30 05:36] mridgway commented on #457
What is the error that you are getting?

[2012-08-30 05:46] gvaish commented on #457
Seemed liked a version conflict in global mojito install vs local mojito install.
Global was 0.4.2 while local was 0.4.43.

`./node_modules/mojito/bin/mojito start` works

[2012-08-30 05:46] #457 closed, assigned to nobody

[2012-08-30 07:25] zhouyaoji commented on #344
Sorry, I didn't see this sooner. Can you please label docs bugs as "documentation" in the future? Thanks, that's how I generally find issues that I should be working on.

[2012-08-30 15:00] rwaldura commented on #344
you bet. sorry about that, will do so in the future

[2012-08-30 18:40] zhouyaoji commented on #344
No problem. I've fixed the problems.

[2012-08-30 18:40] #344 closed, assigned to nobody

[2012-09-05 04:27] chqlb commented on #239
Is this bug fixed @mridgway ? I encounter this problem with mojito 0.4.2.

[2012-09-05 16:42] ricallinson opened #461 "[bz5815270] build html5app command - the "builds.html5app" key in "application.json" is not context aware."
When running the "mojito build html5app" command, the "builds.html5app" key in "application.json" is not changed when a context is provided.

[2012-09-05 16:44] rwaldura commented on #461
@jenny mentioned in SoS

[2012-09-05 18:28] #78 closed, assigned to nobody

[2012-09-05 22:22] drewfish opened #465 ""expand instance" tunnel call doesn't pass along the action"
The tunnel call to expand the instance (appears as `GET /static/{mojit}/definition.json`) doesn't pass along the action on the controller that is in flight. Mojito itself doesn't need that, but shaker2 uses it.

[2012-09-05 22:24] diervo commented on #465
Thanks for track the new shaker need/feature! :)

[2012-09-06 00:55] mridgway commented on #239
@chqla Yes, it should be fixed in 0.4.3 by PR #394.

[2012-09-06 00:56] mridgway commented on #239
Sorry, #395.

[2012-09-06 01:55] ricallinson commented on #461
Pull request here https://github.com/yahoo/mojito/pull/466

[2012-09-06 03:21] chqlb commented on #239
thanks  @mridgway,

[2012-09-06 04:33] rwaldura commented on #461
See #466.

[2012-09-06 04:36] rwaldura commented on #239
see also https://github.com/yahoo/mojito/wiki/ReleaseNotes0_4_3

[2012-09-06 05:38] rwaldura commented on #37
So, can we say we're done with this?

[2012-09-06 05:38] #37 closed, assigned to nobody

[2012-09-06 05:39] rwaldura commented on #39
Fairly sure we've resolved this.

[2012-09-06 05:39] #39 closed, assigned to nobody

[2012-09-06 05:39] rwaldura commented on #19
in what ways?

[2012-09-06 05:39] #19 closed, assigned to nobody

[2012-09-06 05:50] #79 closed, assigned to nobody

[2012-09-06 05:54] rwaldura commented on #264
Okay, can we claim we're done here?
Reopen if you disagree.

[2012-09-06 06:44] mridgway commented on #264
The PR hasn't been merged, and there is still much left to be done if we're going to properly support Windows. As such, I think this should be left open.

[2012-09-07 03:49] mridgway opened #470 "instanceId is not populated for child mojits in client side composites"
This is a regression identified between 0.4.3 and the current develop branch. This breaks client-side broadcasting when trying to target a mojit's child.

[2012-09-07 19:53] drewfish commented on #470
This was introduced in PR #456.  I'm looking into it.  If I can't get it resolved by Monday, we should consider rolling back #456, so that we can cut a release.

[2012-09-07 23:29] #105 closed, assigned to nobody

[2012-09-08 14:14] #26 closed, assigned to nobody

[2012-09-08 14:20] #93 closed, assigned to nobody

[2012-09-08 14:23] rwaldura commented on #98
arrow

[2012-09-08 14:23] #98 closed, assigned to nobody

[2012-09-08 14:24] rwaldura commented on #67
??? what does this mean?

[2012-09-10 17:34] drewfish commented on #67
Probably that when `dispatch()` (which is what runs a mojit) calls `store.expandInstanceForEnv()` (which is what calculates all the resources needed to run the mojit) and there is an error, that `dispatch()` doesn't return the error appropriately (or doesn't catch the exception), eventually leading to neither `ac.done()` nor `ac.error()` being called.

[2012-09-10 17:36] drewfish commented on #67
See https://github.com/yahoo/mojito/blob/develop/lib/app/autoload/dispatch.common.js#L118

[2012-09-10 17:38] drewfish commented on #67
Reopened, since it is still a valid problem.

[2012-09-10 17:57] #470 closed, assigned to nobody

[2012-09-10 18:19] rwaldura commented on #67
Thanks.

[2012-09-10 23:42] mridgway commented on #402
Closing, since we'll be bypassing 3.6 and upgrading to 3.7.

[2012-09-10 23:42] #402 closed, assigned to nobody

[2012-09-11 01:31] #438 closed, assigned to nobody

[2012-09-11 04:54] isao opened #477 "fix test "test render with bufferOutput=true" .. "wrong buffer" error"
fix errors (intermittent, and randomly on either nodejs 0.6 or 0.8) like [this one](http://travis-ci.org/#!/yahoo/mojito/jobs/2297055).

[code]

[2012-09-11 05:37] mridgway commented on #477
I would prefer to just merge #367 and be done with Mu altogether.

[2012-09-11 17:19] isao commented on #477
any reason not to merge #367?  is the failing test related to view renderer code changes?

[2012-09-12 05:15] nottoseethesun commented on #239
I have Mojito 0.4.3 and still see this exact issue.

[2012-09-12 05:25] chqlb commented on #239
This issue is caused by jsdom not supported in mojito anymore.

The affinity of binder tests should be client. So, you need to rename the binder tests
file from index.common-tests.js to index.client-tests.js

[2012-09-12 05:36] gvaish opened #487 "Combo-ing the Binders"
The HTMLFrameMojit adds on "script" tag each for the mojit used in a page. On a complex page, the number can go in 10s - which is a huge number of requests.

**Feature Request**

The binders may be served via a combo URL - configurable

[2012-09-12 05:41] gvaish opened #488 "Serve static files via CDN"
The autoload, binder, model, assets etc files are served from the hosting server location (`/static/myapp/autoload/something.client.js` or `/static/mymojit/binders/index.js` or even `/static/mymojit/assets/js/something.css`).

**Feature Request**

Allow (using config) serving via CDN.

[2012-09-12 07:04] nottoseethesun commented on #239
Thank you.  I had tried that and it works.  But I am not sure why.

I see that we have a dependency on a model declared with 'client' affinity.  It uses 'Y.mojito.lib.REST.POST'.  But does that have a dom dependency?  It seems that 'REST' lib code should work on the server, since it's of 'common' affinity: './tests/unit/lib/app/autoload/test-rest.common.js'

So I tried renaming the client-side mod

[2012-09-12 15:29] redonkulus commented on #487
You can use Shaker for handling assets from CDN and rolling up files:
https://github.com/yahoo/mojito-shaker

[2012-09-12 15:29] redonkulus commented on #488
You can use Shaker for handling assets from CDN and rolling up files:
https://github.com/yahoo/mojito-shaker

[2012-09-12 16:55] gvaish commented on #488
@redonkulus Understand the rollup part... but the CDN?

I remember to have tried out Shaker but noticed that it required server-affinity controller. Having only either common and/or client didn't work out.

Will give a shot again.

But the question still remains... once I get the compiled JS files, how do I configure to use them via CDN?

[2012-09-12 16:56] gvaish commented on #487
Will give a shot and report the updates.

[2012-09-12 17:26] mridgway commented on #477
The consensus of the team was to hold off on this until we know that Handlebars is working properly. We should get a new consensus on this and depending on the outcome either fix the Mu view engine or merge #367 and remove Mu entirely.

[2012-09-12 17:52] rwaldura commented on #75
#124 was superceded by #489.

[2012-09-13 14:10] redonkulus commented on #488
@gvaish there is a section in the Shaker docs that menions deployment via Yahoo CDN or Amazon:

http://developer.yahoo.com/cocktails/shaker/shaker_usage.html#environment-configuration

Basically just creating the following configuration in your `application.json` file:

[code]

@dferreiroval can confirm.

[2012-09-13 15:08] diervo commented on #488
Seth is right, but if youre installing Shaker 2.x the api changed. Still on process of documenting... Let me know...

[2012-09-13 17:05] isao commented on #265
pull #422 should land soon, and make `mojito start` more node-ish and node-hosting friendly

[2012-09-13 17:23] rwaldura opened #496 "Compatibility with Node.js 0.8"
`package.json` at the root says:

[code]

Yet v0.4.3 claims to be compatible with Node 0.8:
https://github.com/yahoo/mojito/wiki/ReleaseNotes0_4_3
via PR #381.

[2012-09-13 17:53] nottoseethesun commented on #239
We actually found that running the 'app' test with the affinities all set to 'client' had the same result as deleting all the 'test' dirs in the mojit dirs: It's an empty result, which is different than success, which I had thought we had.

[2012-09-13 17:58] FabianFrank commented on #239
mojito test only executes tests with common or server affinity. If you want client-side UTs to run with mojito test you have to give them common affinity and then ensure that the DOM is available when the tests are running:
http://yuilibrary.com/yui/docs/yui/nodejs-dom.html

[2012-09-13 20:41] rwaldura commented on #461
please update bz ticket 5815270 when you close this, thanks!

[2012-09-13 21:35] isao commented on #461
done, thank you @rwaldura

[2012-09-13 22:27] sgande opened #507 "Add "hi" group in dimensions.json"
add the below locale to dimensions.json

"hi": {
      "hi-IN": null
}

[2012-09-13 23:24] rwaldura commented on #461
this issue was resolved by applying PR #490

[2012-09-13 23:24] #461 closed, assigned to nobody

[2012-09-13 23:57] #66 closed, assigned to nobody

[2012-09-14 01:54] sdesai opened #512 "Mojito seems to override Y.log, without maintaining the original contract"
On the client, Y.log seems to get displaced in mojito-client.client.js, and the new version doesn't seem to fire the log event fired by Y.log (when CE is present). As a result code listening for the log event is never notified.

Would it be better for Mojito to listen to the event itself to add custom behavior, instead of displacing the original implementation? If not, can we re-introduce the orig

[2012-09-14 03:09] gvaish commented on #488
Hmmm... but how about a non-S3, non-Y CDN... at least for non yui-files?

Is it already there (and a simple conf) or WIP or I overlooked?

[2012-09-14 16:11] caridy commented on #512
Related to issue #70, we definitely need to clean this up. I wonder what is this logger doing that YUI logger doesn't. The only thing that I can see from the source is the new 'MOJITO' level. Now that node.js env is a first class citizen for YUI, YUI logger should support all the stuff we need, even when we don't have `Y` on a file, we should be able to require `require('yui/yui-base')` to get `Y.

[2012-09-14 16:18] imalberto opened #515 "[Doc] Broken link to the RS source"
http://developer.yahoo.com/cocktails/mojito/docs/topics/mojito_resource_store.html

In the section "how does the rs work", there is a broken link that presumably points to the source.

https://github.com/yahoo/mojito/blob/develop/source/lib/store.server.js

Result: 404

[2012-09-15 00:48] caridy commented on #487
You should strike for not serving any static asset from your node.js server, instead versioning them and serving them from CDN. As @redonkulus you should use shaker.

[2012-09-15 18:01] gvaish commented on #487
@caridy That's precisely the idea... CDN serving after combo-ing the binders.

Will checkout the shaker... had done earlier but received some gotchas. That was in 0.x, now it's 2.x. Tempted to give a full shot this time!

[2012-09-16 17:37] dmorilha opened #520 "coverage fails to instrument the following code"
original code:
                    videos.push({$
                        abstract: abs,$
                        thumbnail: thumbnail,$
                        title: title,$
                        url: url$
                    });$

instrumented code:
                    _yuitest_coverline("/tmp/mojitotmp/controller.server.js", 64); videos.push({$
                        abstract: abs,$

[2012-09-17 02:03] caridy commented on #520
@dmorilha this is probably an issue for: https://github.com/yui/yuitest

[2012-09-18 05:28] redonkulus commented on #488
@gvaish on the same doc page, its mentioned that you can create your own deployment task using Buildy to deploy to another CDN:

http://developer.yahoo.com/cocktails/shaker/shaker_usage.html#deploying-elsewhere

Hope that helps.

[2012-09-18 18:05] dmorilha opened #523 "ac._dispatch behaves differently"
[code]

first run:

[INFO](1347991483864) mojito-dispatcher: Dispatching an instance of 'a/index' with the modules: [mojito-perf, mojito, mojito-scheduler-addon, a, mojito-config-addon, yui-base, json-stringify, oop, event-custom-base, mojito-view-renderer, array-extras, mojito-util, mojito-output-adapter-addon, querystring-parse, querystring-stringify, querystring-stringify-simple, mojito-route-m

[2012-09-18 19:58] caridy commented on #523
What version of mojito?

[2012-09-18 20:05] dmorilha commented on #523
0.4.2 but I already checked that on previous versions...

[2012-09-18 20:16] drewfish commented on #488
Closing as "wontfix", since this is taken care of by shaker.

For further discussion of shaker's features, it be best to hold those discussions on shaker's github issues.

[2012-09-18 20:16] #488 closed, assigned to nobody

[2012-09-18 22:31] zhouyaoji opened #525 "Running 'mojito test app <app_name>' for the examples in 'developer-guide' returns an error."
After you create a new app with Mojto 0.4.4, you can run the following to test the app **without**
any problems:

$ mojito test app <new_app>

If you run the same command, however, for the examples in '/examples/developer-guide/':
developer-guide$ mojito test app hello

...you get the following error (truncated):

/opt/local/lib/node_modules/mojito/node_modules/yui/yui-nodejs/yui-nodejs.js:1147

[2012-09-18 22:32] zhouyaoji commented on #525
Related GH issue that was already closed: https://github.com/yahoo/mojito/issues/387

[2012-09-18 22:35] zhouyaoji opened #526 "Running 'mojito test mojito path-to-mojit/mojit' returns an error."
I created a new app w/ a mojit using Mojito v0.4.4 and then tried to use the test command to test the mojit: $ mojito test mojit path-to-mojit/mojit'  Mojito threw an error similar to that specified in the closed issue 387: https://github.com/yahoo/mojito/issues/387

Also see the following related issue: https://github.com/yahoo/mojito/issues/525

The commands and the error message returned by Moj

[2012-09-19 02:22] zhouyaoji commented on #515
Thanks for catching that. I've corrected the link.

[2012-09-19 02:22] #515 closed, assigned to nobody

[2012-09-19 17:36] rwaldura opened #529 "Add /CONTRIBUTING.md"
See https://github.com/blog/1184-contributing-guidelines/
and e.g. https://github.com/yui/yeti/blob/master/CONTRIBUTING.md
YUI is preparing one as well.

I propose we merely copy
https://github.com/yahoo/mojito/wiki/Contributing-Code-to-Mojito
into /CONTRIBUTING.md.

[2012-09-19 17:42] rwaldura commented on #529
YUI's is here:
https://github.com/yui/yui3/wiki/Contributing.md

I notice ours doesn't link to our coding standard: https://github.com/yahoo/mojito/wiki/Coding-Standards
It probably should.

[2012-09-19 20:33] dmitris opened #533 "mojito jslint does not flag syntax errors / invalid Javascript"
mojito jslint does not find or does not flag syntax errors in Javascript files which may lead to people wasting a lot of time hunting for bugs that can be found by simple source check.

Here's the steps to reproduce (compares "mojito jslint" with the output of Closure compiler):

1) git clone git://github.com/yahoo/mojito.git
2) copy examples/developer-guide/configure_routing into a testdir:
cp -R

[2012-09-19 20:40] FabianFrank commented on #533
You are running mojito jslint wrong. You are doing
$ mojito jslint
which runs jslint for the mojito framework, not your app. You should run
$ mojito jslint app
if you want to lint your app.

[2012-09-19 21:00] drewfish commented on #533
See `mojito help jslint` for more details. (Every mojito command has a `mojito help` which explains the command.)

[2012-09-19 21:06] mojit0 commented on #533
I'd be good with a default that works inversely to that. Seems to me the default should serve customer application needs first.

ss

On Sep 19, 2012, at 2:40 PM, Fabian Frank wrote:

You are running mojito jslint wrong. You are doing
$ mojito jslint
which runs jslint for the mojito framework, not your app. You should run
$ mojito jslint app
if you want to lint your app.

—
Reply to this email dire

[2012-09-20 09:26] dmitris commented on #533
agreed that the command-line usage seems counter-intuitive or framework developer centered, not user centered.  As a user, you are more likely to lint your application, the files under current directory, rather than the mojito framework itself. Imagine that "make test" would run tests on the Makefile system and dependencies instead of the current directory!

But even running "mojito jslint app ."

[2012-09-20 09:38] dmitris commented on #533
agreeing with @mojit0 - the current command-line usage is counterintuitive, and it is also inconsistent. You run "mojito start" to start the server using the resources in the current directory, even if you try to do (the invalid) "mojito start app <directory>".  "mojito build" and "mojito compile", if I understand correctly, work on the files under the current directory (the help descriptions do n

[2012-09-20 14:20] dmitris commented on #525
I see the same error when running
mojito test app .
in any subdirectory of examples/developer-guide/ - for example examples/developer-guide/adding_view_engines or examples/developer-guide/binding_events or examples/developer-guide/configure_routing
The full error is:

dmitris$ mojito test app .
warn: (yui): NOT loaded: mojito
warn: (yui): NOT loaded: mojito
warn: (yui): NOT loaded: mojito
warn: (a

[2012-09-20 14:29] dmitris opened #537 "modify mojito commands to have sensible user-friendly defaults"
Following up on the discussion in https://github.com/yahoo/mojito/issues/533

proposing to modify mojito defaults options for "test" and "jslint" commands to make them intuitive for the end-users (rather than framework developers) - therefore running commands on the current directory and not on Mojito framework itself.  Having "mojito test" and "mojito jslint" operate on the Mojito framework code

[2012-09-20 16:06] mojit0 commented on #533
@dmitris I agree with all your points. A reimplementation/cleanup of the command line is one of our goals. We've almost completed work to resolve much of the trouble and inconsistency with mojito start vs. npm start that should land in the not-to-distant future. The rest is undergoing some design discussion but it's on our plate.

[2012-09-20 16:07] mojit0 commented on #537
+1

[2012-09-20 18:14] rwaldura commented on #537
+1

[2012-09-20 18:15] rwaldura commented on #537
_whack_ _whack_
thanks for the wakeup call
next Sprint candidate

[2012-09-20 18:18] rwaldura commented on #537
uhm, maybe not next Sprint -- seeing how it's pretty full as it is -- but soonish, I agree.

[2012-09-20 18:29] drewfish commented on #525
I looks like we have a bug in our examples where the binder tests are "common" affinity when they should be "client".

[2012-09-21 07:39] dmitris commented on #85
Do the --print and -p options (https://github.com/yahoo/mojito/pull/199 and https://github.com/yahoo/mojito/pull/251) solve the issue? If so, let's close it, otherwise, let's specify what exactly needs to be done.

[2012-09-21 19:37] rwaldura opened #544 "html5app should use local YUI -- rather than downloading it from CDN"
Use case: offline app running on mobile device with reduced network connectivity
Requirement for RT

[2012-09-21 22:50] rwaldura commented on #29
ticket not useful as-is
@add0n please add a description?

[2012-09-21 22:50] #29 closed, assigned to nobody

[2012-09-21 22:53] rwaldura commented on #427
see also related issue #544

[2012-09-21 22:54] rwaldura commented on #84
we'll use Istanbul for code coverage

[2012-09-21 22:54] #84 closed, assigned to nobody

[2012-09-21 22:56] rwaldura commented on #80
see related issue #126

[2012-09-21 22:57] rwaldura commented on #83
see #422, #436

[2012-09-21 22:57] #83 closed, assigned to nobody

[2012-09-21 22:57] rwaldura commented on #75
implemented in search-perf branch

[2012-09-21 22:57] #75 closed, assigned to nobody

[2012-09-24 09:00] dmitris opened #546 "multiple jslint errors in developer-guide and getting-started code examples"
There are multiple jslint issues in the code examples that need to be cleaned-up - otherwise it makes difficult for people to take the examples as basis for their project (you have to fix the jslint errors first) and makes difficult to spot new issues or syntax errors in your own changes.  Below are the numbers of jslint errors (from the output of "mojito jslint app .") in some of the subdirectori

[2012-09-24 09:27] dmitris opened #547 "errors in basic_yql example (getting-started-guide/part2)"
Getting an error in the example in the getting-started-guide part2 - basic_yql.
After "mojito start" and going to http://localhost:8666/flickr or http://localhost:8666/pineapples, getting an error:

[MOJITO](1348478530064) qeperf: constructing action context
[MOJITO](1348478530065) mojito-action-context: ActionContext created for "flickr/index"
[MOJITO](1348478530065) qeperf: action context create

[2012-09-24 09:33] yukinying commented on #547
I am the teammate who works with Dmitry. It looks like the api_key has already expired (when debug in YQL). Would that be a useful feature if Mojito could tolerant JS error, e.g. having the try catch block in the main function instead of letting arbitrary random error halting the whole server?

[2012-09-24 15:02] dmitris commented on #546
you can run the following command to check for jslint errors in all examples:

$ cd examples
$ mojito jslint app .
path.existsSync is now called `fs.existsSync`.
Lint report: mojito/examples/artifacts/jslint
2106 errors found.

$ cd developer-guide/
dmitris$ mojito jslint app .
path.existsSync is now called `fs.existsSync`.
Lint report: mojito/examples/developer-guide/artifacts/jslint
1189 errors

[2012-09-24 17:33] tufandevrim opened #549 "views multiple devices example is missing selector configs in application.json"
The example at
http://developer.yahoo.com/cocktails/mojito/docs/code_exs/views_multiple_devices.html
is missing following config values in application.json:

{ "settings": [ "device:android" ], "selector": "android" },
  { "settings": [ "device:blackberry" ], "selector": "blackberry" },
  { "settings": [ "device:iphone" ], "selector": "iphone" }

[2012-09-24 19:26] zhouyaoji commented on #549
Thanks for filing this issue. I've corrected the code snippets in the "Setting Up this Example" section and added documentation for using context configs and the 'selector' property in the "Implementation Notes" section. In addition, the example "Dynamically Adding CSS to Different Devices" was also missing the context "device:iphone" and the 'selector' property in both the implementation notes an

[2012-09-24 19:26] #549 closed, assigned to nobody

[2012-09-24 19:42] isao commented on #547
thanks for the heads up. I believe @lzhan fixed this just now with yahoo/mojito/pull/550

[2012-09-24 19:44] isao commented on #547
@yukinying I agree, that example code is _not_ production quality code.

[2012-09-24 20:57] isao commented on #547
see also yahoo/mojito/pull/554

[2012-09-24 22:48] rwaldura commented on #4
assigned to Joe

[2012-09-24 22:49] rwaldura commented on #5
we'll document this thoroughly with 0.5

[2012-09-24 22:49] #5 closed, assigned to nobody

[2012-09-24 22:50] rwaldura commented on #3
@add0n Bill have you got any specific ideas for this? i.e. a draft

[2012-09-24 22:56] rwaldura commented on #22
framemojit

[2012-09-24 22:58] rwaldura commented on #410
no response from @chetanankola, closing

[2012-09-24 22:58] #410 closed, assigned to nobody

[2012-09-24 22:59] rwaldura commented on #266
@jqianyahoo what version of Mojito is this?
I venture this has been fixed by the new resource store released in 0.4.0
let us know, thanks!

[2012-09-24 22:59] #266 closed, assigned to nobody

[2012-09-24 23:03] #92 closed, assigned to nobody

[2012-09-24 23:05] rwaldura commented on #14
mmmh thought we had fixed this...

[2012-09-24 23:10] rwaldura commented on #81
why? is it a performance optimization?

[2012-09-24 23:10] #81 closed, assigned to nobody

[2012-09-24 23:11] isao commented on #14
yes this fix landed in 0.3.10, see b49e45c007d60997eb7ffe139d6eb952eee7feb4 and ff69faf27fbc5a44126d50f88d4af15d38997601

[2012-09-24 23:11] #14 closed, assigned to nobody

[2012-09-24 23:12] #68 closed, assigned to nobody

[2012-09-24 23:13] #74 closed, assigned to nobody

[2012-09-24 23:14] isao commented on #81
somewhat, but I think the main point was it added unnecessary complexity. No need to `new Foo()` and call an instance method, when all that is ever needed is to just call the method...

[2012-09-24 23:15] #88 closed, assigned to nobody

[2012-09-24 23:15] #89 closed, assigned to nobody

[2012-09-24 23:18] rwaldura commented on #81
sounds like housekeeping issue: I'd rather address this on an ongoing basis -- during commit review -- than with a ticket

[2012-09-25 07:57] dmitris opened #561 "documentation - bad links in docs under docs/topics"
the links in the file docs/topics/action-context.md (https://github.com/yahoo/mojito/blob/develop/docs/topics/action-context.md) are all bad - point to URLs like  http://developer.yahoo.com/cocktails/mojito/api/Assets.common.html
but should be now:
http://developer.yahoo.com/cocktails/mojito/api/classes/Assets.common.html

Is this file and the rest of docs/topics still needed and used?  A bit conf

[2012-09-25 08:04] dmitris commented on #547
The API key works, but the example still does not due to missing file mojits/Flickr/views/bar.hb.html  If I add that file, it looks ok - not sure what exactly was supposed to go in that view.

The bar view is called in controller.server.js
https://github.com/yahoo/mojito/blob/develop/examples/getting-started-guide/part2/basic_yql/mojits/Flickr/controller.server.js#L29

[code]

[2012-09-25 14:07] dmitris opened #562 "documentation - missing controller.server.js code from Step 9 in http://developer.yahoo.com/cocktails/mojito/docs/code_exs/calling_yql.html"
http://developer.yahoo.com/cocktails/mojito/docs/code_exs/calling_yql.html
(Calling YQL from a Mojit) in the "Setting Up this Example" section, Step 9 misses the code for the controller.server.js -

[code]

The corresponding source code is in https://github.com/yahoo/mojito/blame/master/docs/dev_guide/code_exs/calling_yql.rst line 310:

[code]

The example file:
examples/developer-guide/model_yql/

[2012-09-25 14:33] rwaldura commented on #537
We've been talking about revamping the CLI for a while now. Things we want to do:
- #115 [bz5424065] split up the CLI from the framework -- @mojit0 is passionate about this one
- this ticket: CLI syntax and defaults, as well as #533, also filed by @dmitris
- #85: lint a single file
- #31: unit test for the CLI
- also search the list of issues for tag "cli" https://github.com/yahoo/mojito/issues?la

[2012-09-25 18:52] zhouyaoji commented on #562
Thanks, Dmitri. I've added the missing code for the controller. Thanks for reviewing the docs!

[2012-09-25 18:52] #562 closed, assigned to nobody

[2012-09-25 18:54] zhouyaoji commented on #561
Hi Dmitri, I'm discussing with team members what to do about 'docs/topics' now. Hope to have a solution soon.

[2012-09-25 20:30] zhouyaoji commented on #561
Hi Dmitri,

I've moved 'docs/topics/getting-started-guide' to 'docs/getting-started-guide' and removed 'docs/topics'. The 'docs/topics' were used to create more formal documentation, which meant the information was for the most part redundant, so it was better to remove the directory to avoid the confusion that you mentioned. I'll start working on the bugs for the getting-started-guide next. Thank

[2012-09-25 20:30] #561 closed, assigned to nobody

[2012-09-25 21:57] isao commented on #477
fixed with c2a0ad9d439c8b536247ab51bf3b6bb481ae3a0a and 1be70b03a1bf80f0b4c325624a8a5e43a2ee46d8
thanks @mridgway

[2012-09-25 22:00] #265 closed, assigned to nobody

[2012-09-25 22:17] mridgway commented on #477
It should be noted that the tests are now correct, but there is still a race condition in the Mu view renderer when using ac.flush(). Many times the done() call will happen before the flush() completes which is the test failure we were seeing.

[2012-09-25 22:20] #477 closed, assigned to nobody

[2012-09-26 12:55] dmitris opened #570 "documentation - add api_key to the binders/index.js in the code example on Binding Events"
http://developer.yahoo.com/cocktails/mojito/docs/code_exs/binding_events.html does not work if you just  copy and paste as it is missing an api_key:

In "Setting Up this Example", Step 9, the code is:

// Query for the image metadata
          var query = 'select \* from flickr.photos.info where photo_id="' + imageId + '"';
          thatNode.one('#display').setContent('Loading ...');
          Y.

[2012-09-26 12:59] dmitris commented on #570
this is the file:
https://github.com/yahoo/mojito/blame/develop/docs/dev_guide/code_exs/binding_events.rst

the easiest is probably to double-check and modify all cases where there is a "select"

[2012-09-26 13:25] dmitris opened #571 "mojito/lib/app/autoload/mojito.common.js has a stale hardwired version 0.2"
The code in https://github.com/yahoo/mojito/blob/develop/lib/app/autoload/mojito.common.js is:

[code]

should be replaced with a dynamic setting from package.json, otherwise running an application shows in the browser an incorrect title "Powered by Mojito 0.2".

[2012-09-26 20:07] mojit0 commented on #41
This should function properly now with the update to startup from https://github.com/yahoo/mojito/pull/422.

[2012-09-26 20:07] #41 closed, assigned to nobody

[2012-10-02 05:19] isao commented on #496
issue closed a while back with yahoo/mojito/pull/498

[2012-10-02 05:19] #496 closed, assigned to nobody

[2012-10-02 10:11] shiweiwei97 opened #585 "ac.models doesn't load models when shareYUIInstance is true"
Mojito version: 0.4.5
Example code: https://github.com/shiweiwei97/mojito_playground/tree/master/hello_world

While accessing http://localhost:8666/my I got the following error:

<pre>
[ERROR] (1349171636608) Server OutputHandler: Error 500: Cannot call method 'getData' of undefined
TypeError: Cannot call method 'getData' of undefined
    at Object.index (/Users/weiwei/mojito_playground/hello_worl

[2012-10-02 22:10] dmorilha opened #587 "cookies add-on"
it might be interesting to have the original cookies add-on accepting reference time for expiration instead of only absolute time:

example:

ac.cookie.set('a', 'b', {
   expires: '+1year'
});

[2012-10-03 06:30] shiweiwei97 commented on #585
More info: this issue occurs when model's YUI module name is not the same as its file name.
Another workaround for this issue is to rename foo.server.js to myMojitModelFoo.server.js.

Related code:
At this line, models['foo'] is set to true.
https://github.com/yahoo/mojito/blob/develop/lib/store.server.js#L687

While this line, the code is looking for models['myMojitModelFoo']. As a result the foo

[2012-10-03 16:17] caridy commented on #585
@shiweiwei97 in general, there were a lot of assumptions about models. The good news is that all those assumptions are going away really soon as part of 0.5.x. The bad news is that it will break your current code, so you will have to use a new API, in which case you ask for a model based on the registered name: `ac.models.get('foo')` (it doesn't matter if it is local or global, or if u use sharedY

[2012-10-05 19:00] rwaldura opened #596 "[bz5857453] Cannot install Mojito on Node 0.8"
Mojito depends on versions of connect and express, which both say they don't support Node 0.8.
Therefore, Mojito doesn't support Node 0.8.

[code]

See also #80 and #126, related.

[2012-10-05 23:33] redonkulus opened #598 "Routes regex use not documented"
I noticed there is no mention of using Regex to configure a route in the mojito configuration page.

Here is the page I would expect it to be in:
http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_configuring.html#routing

It mentions call, params, path and verbs but not regex.  A user in the freenode forum had a use case for this problem but couldn't find a solution since it was undocu

[2012-10-05 23:49] rwaldura commented on #598
let's

[2012-10-07 09:17] shiweiwei97 commented on #585
@caridy thanks for the reply. My understanding is that this issue will be fixed in 0.5.x and code changes are required to migrate from 0.4.x and below.
But for now, I think the documentation of **shareYUIInstance** should be updated to let users be aware of the assumptions. Currently even the examples under https://github.com/yahoo/mojito/tree/develop/examples will break if shareYUIInstance is tur

[2012-10-08 09:10] dmitris commented on #596
I can install nojito ok with node v0.8.11 and npm 1.1.62 even though there are warnings:

npm WARN engine connect@1.8.2: wanted: {"node":">= 0.4.1 < 0.7.0"} (current: {"node":"v0.8.11","npm":"1.1.62"})
npm WARN engine express@2.5.2: wanted: {"node":">= 0.4.1 < 0.7.0"} (current: {"node":"v0.8.11","npm":"1.1.62"})

Is it a npm configuration difference or something else?

[2012-10-08 16:01] isao commented on #596
yes, I am running mojito on node 0.8.11 and have been on 0.8.x since pull #498 landed early last month, and the current mojito package.json says:

[code]

mojito isn't really using express (at least the ones that would break on node 0.8). I think we can remove express dependency and upgrade connect without affecting mojito.

[2012-10-08 16:25] dmorilha opened #599 "please make attachActionContextAddons on ActionContext autoload public"
Right now attachActionContextAddon is private, so the code needs to be duplicated if we want to mimic the behavior. There is no reason why don't turn it into a "protected" method within the ActionContext exposed module.

[2012-10-08 16:36] mojit0 commented on #585
Just a note, but we're unlikely to update the docs for shareYUIInstance except when we remove it entirely...which should happen in a very short time. The direction we're taking is that shareYUIInstance will be how Mojito works, and if sandboxing of separate instances is needed for a particular application the developer can do it themselves.

[2012-10-08 19:37] caridy commented on #599
Agreed. This will be exposed in 0.5.0

[2012-10-08 21:50] isao commented on #596
so just changing the declared dependency versions of connect & express to "*" seems to work fine, at least with examples/newsboxes (with some deprecation warnings).

[code]

[2012-10-09 16:24] ajchen-yahoo opened #602 "Doc Correction"
On "http://developer.yahoo.com/cocktails/mojito/docs/faq/#moj-params-controller-binder", the process described for passing information from the controller to the binder is incorrect. You need to use ac.instance.config instead of this.config.

[2012-10-10 18:12] isao opened #609 "adding a package.json in an app/mojits/mojit directory causes 500 error"
steps to reproduce
1. `mojito create app simple Simple`
2. `mojito create mojit simple Simple`
3. create file [Simple/mojits/Simple/package.json](https://gist.github.com/fef4f76b248e89eca9cb)
4. `mojito start`
5. http://localhost:8666/@Simple/index

expected result: browser displays "Mojito is working."

actual result: "Error: 500"

mojito log

[code]

[2012-10-10 18:22] isao commented on #609
error on my part? problem may be with archtypes I'm working with. Retesting on head of develop seems ok. Closing

[2012-10-10 22:59] isao commented on #609
sorry for the flip-flop, the problem does indeed exist.

[2012-10-10 23:04] isao commented on #609
ahh. not my day. error caused by mis-match of mojit name and mojit's package.json name.

sorry for the noise, closing for real.

[2012-10-10 23:04] #609 closed, assigned to nobody

[2012-10-11 07:02] shiweiwei97 opened #618 "update documentation for version 0.4.6's backward compatibility issue"
Upgrading to mojito@0.4.6 will require the following code changes in server.js.

[code]

[2012-10-11 13:46] caridy commented on #618
@imalberto can you update the release notes?

[2012-10-11 16:31] rwaldura commented on #126
See also bz5753621 for an example of how Express is currently used -- i.e. we need to support the upload use-case even though we drop Express.

[2012-10-11 16:39] rwaldura commented on #618
release notes found at https://github.com/yahoo/mojito/wiki/ReleaseNotes0_5_0pr1

[2012-10-11 17:10] caridy commented on #618
@rwaldura those notes are for 0.5.0pr1, while the same issue is on 0.4.6

[2012-10-12 00:06] imalberto commented on #618
Already updated release notes.

https://github.com/yahoo/mojito/wiki/ReleaseNotes0_4_6

[2012-10-12 00:32] #618 closed, assigned to nobody

[2012-10-13 01:17] zhouyaoji commented on #598
I've updated the source docs, so you can view using regular expressions for routing at the following URLs:
- https://github.com/yahoo/mojito/blob/develop/docs/dev_guide/intro/mojito_configuring.rst#routing
- https://github.com/yahoo/mojito/blob/develop/docs/dev_guide/intro/mojito_configuring.rst#using-regular-expressions-to-match-routing-paths

YDN seems to be making template changes, so I was una

[2012-10-13 15:13] redonkulus commented on #598
This looks good. Thanks.

[2012-10-15 18:38] zhouyaoji commented on #602
Thanks for filing the issue. I've updated the docs: http://developer.yahoo.com/cocktails/mojito/docs/faq/#moj-params-controller-binder

Can you verify that the information is accurate and clear?

[2012-10-15 18:38] zhouyaoji commented on #598
Great, I just published the doc to YDN.

[2012-10-15 18:38] #598 closed, assigned to nobody

[2012-10-16 01:48] ajchen-yahoo commented on #602
Looks good to me. Thanks!

[2012-10-16 01:49] zhouyaoji commented on #602
Great, thanks for reviewing the updated doc!

[2012-10-16 01:49] #602 closed, assigned to nobody

[2012-10-16 17:44] mojit0 commented on #436
0.4.7 and 0.5.0pr2 support a new update which removes the start() call and replaces it with listen() support. The index.js and server.js files of existing applications need to be updated to support these releases but they should solve this issue.

[2012-10-16 17:44] #436 closed, assigned to nobody

[2012-10-17 00:10] caridy commented on #512
FYI, fixed in 0.5.0pr2, and will be documented as part of 0.5.0. Y.log is the logger in mojito, no more wrapping.

[2012-10-17 02:02] zhouyaoji commented on #547
Thanks for filing the issue! I've added the missing 'bar.hb.html' template so that the app works.

[2012-10-17 02:02] #547 closed, assigned to nobody

[2012-10-17 05:29] #512 closed, assigned to nobody

[2012-10-17 05:30] rwaldura commented on #70
fixed in 0.5.0 pr2

[2012-10-17 05:30] #70 closed, assigned to nobody

[2012-10-18 07:23] zhouyaoji commented on #546
Merged pull request #641 that fixes jslint errors in getting-started-guide examples.

[2012-10-18 07:23] #546 closed, assigned to nobody

[2012-10-18 12:51] ItsAsbreuk opened #642 "Problem widgetrendering in binder"
Consider this situation:

When declaring the code inside the handlebarview, both console and datatable are rendered well:

[code]

[code]

However,
When declaring the code inside the binder, both console and datatable are being rendered (can see in the dom), but they are empty and without css:

[code]

Very strange. Again: I can see the widgets have manipulated the dom. Also, in firebug I can see

[2012-10-18 14:42] caridy commented on #642
Make sure you're using the correct value for "dependencyCalculations", I will recommend to use "precomputed+ondemand", or just "ondemand" if you plan to use Y.use at any given time in your code. More details here:

http://developer.yahoo.com/cocktails/mojito/docs/intro/mojito_configuring.html

Note, in 0.5.0pr2 this configuration is deprecated, and instead, mojito will support "Y.use" without spec

[2012-10-18 18:38] ItsAsbreuk commented on #642
Hi Caridy,

Well, it's getting even better now (or actually worse..)

First: I'm glad to know this. I had other failures where missing libraries were the issue. So, these problems are solved (Yes!). But notice that in those cases firebug gave me an error of instances that were not available.

Second: When I include "dependencyCalculations": "precomputed+ondemand", the problem described above remai

[2012-10-18 20:41] caridy commented on #642
Well, we will need a test-case for this. Can you provide a very simple app so we can look at it?

[2012-10-18 20:41] caridy commented on #642
Also, will be interesting to see if this is already solved with 0.5.0pr2

[2012-10-18 21:14] ItsAsbreuk commented on #642
Caridy,

I've stripped it down to a simple project. Problem still remains.
You can see it at: https://github.com/ItsAsbreuk/test-mojito-datatable

These scenario's are tested by myself:
1) dependencyCalculations not defined:
--> binder: Y.DataTable does render, but no innercontent. No errormessages
--> view: Y.DataTable renders OK

2) "dependencyCalculations": "precomputed+ondemand"
--> binder: Y.

[2012-10-18 21:42] ItsAsbreuk commented on #642
Well, I found out how to install Mojito 0.5.0pr2 (remember it being installed with speciific version during the YUI Open Hours :))

Anyway: Mojito 0.5.0pr2 doesn't start on my system:

/usr/lib/node_modules/mojito/lib/mojito.js:282
singleton_dispatcher = Y.mojito.Dispatcher.init(
TypeError: Cannot call method 'init' of undefined

So I had to reinstall 0.4.7. agian.

[2012-10-18 21:54] ItsAsbreuk commented on #642
I'm out now (it's 11:55 pm over here)...

[2012-10-19 00:10] caridy commented on #642
Read:
https://github.com/yahoo/mojito/wiki/ReleaseNotes0_5_0pr1
https://github.com/yahoo/mojito/wiki/ReleaseNotes0_5_0pr2

that will guide you through the changes to get that working on pr2

[2012-10-19 09:52] ItsAsbreuk commented on #642
Caridy,

Well, that are a bunch of changes I have to make to my projects ;(

But even this small project doesn't start: same error occurs.
I've search out and found out that application.json causes my startup error in 0.5.0pr2:

Startup fails within application.json:
"yui": {
    "config": {
        ...
        "combine": false,
        "base": "http://yui.yahooapis.com/3.7.3/build/",
        ...

[2012-10-19 14:29] caridy commented on #642
Marco, yes, using base to try to use a different version of YUI will not work, we have other ideas around base. I will try to take a look at your project soon.

[2012-10-19 17:32] zhouyaoji opened #649 "In the code example documentation, there are no steps for changing the name of the model file. Older versions of Mojito created the skeleton files 'model.server.js', but now Mojito creates 'foo.server.js'."

[2012-10-19 17:57] rwaldura commented on #596
see also arrow#24

[2012-10-19 17:58] rwaldura commented on #596
yahoo/arrow#24 rather

[2012-10-19 20:32] redonkulus opened #651 "Expand instances are bleeding"
I'm using latest from develop-perf branch and am noticing that the same spec object is being returned for routes that map to different specs. Sort of confusing but I think its related to recent caching enhancements to Mojito.

Mojit  'page' controller will look for the children object, if found, it sends that the ac.composite, otherwise it will generate one dynamically.

In either case, the spec f

[2012-10-19 20:47] zhouyaoji commented on #570
Thanks, dmitris. I've fixed the issue and also filed a GH issue (#649) to fix the issue with the model names.

[2012-10-19 20:47] #570 closed, assigned to nobody

[2012-10-20 09:09] ItsAsbreuk commented on #642
Caridy,

base doesn't only specify the version, but also the location. I hope there will be a way to specify the location, for I'm serving yui-modules through ssl from my own server. BTW, because its a parameter within the yui-object, it sounds weird to me to give it another meaning.

Mojito has great posibilities, but I feel a bit blinded getting it to master ;)
As soon as I get more experienced,

[2012-10-23 07:05] ooskapenaar commented on #410
What is the correct way to feed several messages back to the client when the server is doing some heavy crunching and wants to periodically give feedback to the client in YUI?

With Websockets, you don't need to poll the server, nor does the server need to keep track of sessions etc. I currently have a scenario like this and need an answer.

[2012-10-23 15:41] caridy commented on #642
@ItsAsbreuk this is partially supported in `develop-perf` branch and PR656, and we definitely one to support this use case. Keep in mind that Mojito is set to build offline html5 apps, which represent the same use case, using YUI from a local repo rather than CDN, etc.

In PR2, all modules (yui and app) are served from a local combo by default (Mojito Combo), so you don't really need to worry abou

[2012-10-23 20:15] ItsAsbreuk opened #657 "yui-gallery modules cannot be required within /autoload/ dir"
Hi,

Consider these 3 situations:

1) This works within /assets/
YUI.add('its-storagebag-items', function(Y, NAME) {
}, '0.0.1', {requires: ['node', 'gallery-storage-lite']});

2) This works within /autoload/
YUI.add('its-storagebag-items', function(Y, NAME) {
        initializer: function () {
            Y.use('gallery-storage-lite', function(){
            });
        }
}, '0.0.1', {requires: [

[2012-10-23 20:24] ItsAsbreuk commented on #642
I would like to visit the YUIConf some day, but at the moment cannot afford to cross the ocean... I'm eager to look at the recordings. Perhaps you're in to organize a hangout were Mojito developers can discuss any questions they have. Just like Dav does next Friday.

About the ticket: did you find time to take look at the problem?

Marco.

[2012-10-23 21:25] caridy commented on #657
Can you specify the name of those files (including affinity)? also, what version of mojito are u using? and finally a copy of your application.json

[2012-10-23 21:51] rwaldura commented on #410
Hi @ooskapenaar : can you implement an AJAX-based polling mechanism?
What kind of "heavy crunching" is your server doing? That's rarely the ideal use-case for Node.

[2012-10-24 11:18] ooskapenaar commented on #410
Hi @rwaldura, well it's this is an admin front-end to a MongoDB based node app, which controls processes such as CSV imports. Now regardless of whether these are forked out, or performed via bash script, {or: whatever}, we want to be able to report on these processes in real time. As it is, I am starting these processes using Y.mojito.REST, but this doesn't offer websocket type functionality.  And

[2012-10-24 16:19] dmitris opened #662 "correct the test descriptor filename in tests/README"
https://github.com/yahoo/mojito/blob/develop/tests/README#L169 says:

arrow --driver=selenium --reuseSession=true
     ./unit/lib/app/addons/ac/test_descriptor.json

but the indicated directory does not have test_description.json file - only ac_test_description.json:

[code]

Fix: change test_description.json to ac_test_description.json

Also, if  we recommend to run with --reuseSession=true, we p

[2012-10-24 21:06] caridy commented on #651
@imalberto can u close this?

[2012-10-24 21:15] imalberto commented on #651
Fix reviewed and submitted in develop-perf. See PR #663

[2012-10-24 21:15] #651 closed, assigned to nobody

[2012-10-24 22:09] caridy commented on #642
@ItsAsbreuk I forked your demo, and here is the working copy using develop-perf branch:

https://github.com/caridy/test-mojito-datatable/commit/c824081aa2c6fa4e25a9894c7b57165ef37021ea

I'm not using a custom YUI base since that version already uses 3.7.3, but keep in mind that you can still customize this by using a custom setting for the `runtime:client`.

In my fork, I can see the datatable wor

[2012-10-24 23:38] denchen opened #665 "Specifying binder doesn't work"
When I try to specify which binder file to use, Mojito doesn't seem to want to use that file, always insisting on using the file with the same name as the template

ac.done( { <stuff here> }, { view: { name: "blah", binder: "foo" } } );

This should use blah.hb.html and foo.js, but at least on my environment (Mojito 0.4.5), it insists on using blah.js.

My console output is:
mojito-client: Mojito

[2012-10-25 04:49] trungpham commented on #259
Is the whole YAF a dead effort?

[2012-10-25 05:09] caridy commented on #259
@trungpham it is not dead, we have people actively working on this, but it is not moving as fast as we want, mostly due to the other initiative to stabilize performance, and that one has a higher priority at the moment. In any case, here is the trello board for this exercise in case you want to follow-up/subscribe:

https://trello.com/board/mojito-yaf/50627b0ad717546b7685105d

[2012-10-25 14:40] ItsAsbreuk commented on #642
Caridy, thanks for your response.

But I'm really sorry...
Just doesn't work here. I don't understand what's different in your situation.

You changed the controller.server.js to work with Mojito0.5.0pr2, so I installed that version.
Now, on the client, no YUI is loaded --> the code fails right away when calling Y.one('body').

So, I downgraded Mojoto0.4.8 with your new code (had to make changes t

[2012-10-25 15:01] ItsAsbreuk commented on #642
Well, a small correction: I did make it work, but still there is something not right.

I made it work when the datatable is declared in the Binder. This is what I needed, so I'm happy with this. Only when using Mojito0.4.8

On the other hand: there are strange still issues:

Mojito0.4.8, datatable declared in binder --> works
Mojito0.4.8, datatable declared in view (using YUI().use(datatable')-->

[2012-10-26 08:21] ooskapenaar opened #669 "upgrading to 0.4.8 breaks 0.4.4 app"
Hi,

after upgrading from to 0.4.8 of Mojito I get following error (at end)

line 162 has the classical Mojito example code:
        Y.mojito.controllers[NAME] = {

The Y Object passed into the anonymous function that has been added to YUI does not have a "mojito" property at all. Hence the error below.  Any suggestions?

/usr/local/bin/node --debug-brk=53556 /usr/local/bin/mojito start
debugger l

[2012-10-26 22:10] zhouyaoji opened #671 "Hybrid apps are missing an 'index.css' file that is causing an error when running tests."
The new hybrid apps are missing an index.css file. When you run 'mojito test app <hybrid_app>, you get the error that the file 'index.css' is missing.

[2012-10-26 23:09] isao commented on #671
fixed in pull #666. thanks @zhouyaoji

[2012-10-26 23:09] #671 closed, assigned to nobody

[2012-10-30 18:08] jlecomte opened #679 "Improve static asset middleware"
Only a small number of assets (favicon.ico, robots.txt and crossdomain.xml) can be served from the root path of a mojito application. This is not very flexible. Ideally, I would like to be able to specify "routes" to serve any file from pretty much any path. Also, I may want to set specific response headers on specific files. I don't have an exact list of requirements, and this is not a very high

[2012-10-30 19:58] caridy commented on #679
This sounds like a feature we introduced few days ago to support synthetic files. You should be able to create a RS addon to define any custom url, and a customizable way to produce the content of the file. In other words, u should be able to came up with any client url that will use a custom method to read, potentially compile the content, and define the headers for that particular resource.

[2012-10-30 20:42] isao commented on #679
It'd be nice to define a static route directly in routes.json without user code. Perhaps a convention for the routes.json "action" field to indicate a filesystem directory, plus a new field for http response headers (another long standing feature request).

[2012-10-30 20:56] rwaldura commented on #669
@ooskapenaar have you checked the release notes since 0.4.4?

https://github.com/yahoo/mojito/wiki/ReleaseNotes0_4_5
https://github.com/yahoo/mojito/wiki/ReleaseNotes0_4_6
https://github.com/yahoo/mojito/wiki/ReleaseNotes0_4_7
https://github.com/yahoo/mojito/wiki/ReleaseNotes0_4_8

[2012-10-30 22:28] #51 closed, assigned to nobody

[2012-10-30 22:28] #55 closed, assigned to nobody

[2012-10-30 22:38] isao commented on #51
fixed with commits b2c6599f5155394fb70ed0eb961f814b500ba163 and f3cbc317a2aa637ba923c62a9561c3b0bde6100f

thanks for closing @rwaldura

[2012-10-30 23:03] ItsAsbreuk commented on #642
Caridy,

I found out his (version 0.5.0pr2):
Within application.json, if I define a section "settings": [ "runtime:client"] with a yui-object, than the base-location will be used by yui on the client in the html-definition YUI.applyConfig(). BUT on the client, the same config is used within the definition of window.YMojito(). This does not work, because all mojito stuff and assets should be downlo

[2012-10-30 23:42] jlecomte commented on #679
Isao, yes, that is exactly what I was talking about.

[2012-10-31 00:06] isao commented on #596
arrow 0.64 fixes the sub-dependency issue, and `npm i mojito@0.4.8` on node 0.8 doesn't display any warnings.

should be ok now. thanks @dmitris

[2012-10-31 00:06] #596 closed, assigned to nobody

[2012-10-31 00:17] caridy commented on #679
I like that, easy to use, etc. But still I don't expect people to define favicon.ico in the routes everytime, we should have support for the basic ones out of the box.

[2012-11-01 09:18] ooskapenaar commented on #669
Hi,
thanks for the hint. I still had the old server.js. With the new server.js I get roughly the same error

...
[MOJITO](1351760862926) qeperf: YUI use: yui_3_5_1_2_4_1351760856053_73
            throw (e || new Error(msg));
                        ^
TypeError: Cannot read property 'controllers' of undefined
    at Object.YUI.add.requires [as fn](/Users/rrrw/Projects/Node/Mojito/drg_cockpit/mojit

[2012-11-01 17:56] mojit0 commented on #669
One other change between versions that might be affecting you depending on the files in question is that modules are no longer automatically added by mojito. So errors of the type Y.mojito being undefined mean you need a requires array entry for 'mojito'. Errors around slots on the action context like ac.params mean you need a requires array entry for 'mojito-params-addon', and so on. Is it possib

[2012-11-01 19:31] caridy commented on #642
Yes, you're running on the bleeding edge, that's why many of these problems are happening. We are working toward the final 0.5GA but for now, you should probably try pr3:

https://github.com/yahoo/mojito/wiki/ReleaseNotes0_5_0pr3

[2012-11-01 19:41] ItsAsbreuk commented on #642
Yeah, I'm sorry.
I should more respect it rather then pushing...
You advised me using 0.5.0pr2 though ;)
I'm glad you are aware and working on it. Will try pr3 in the mean time.

Thx,
Marco.

[2012-11-01 19:45] ItsAsbreuk commented on #642
By the way, I'm learning more and more features of Mojito and I'm really impressed!
It offers huge possibilities. I'm thankful I can make use of it.

Marco.

[2012-11-02 12:58] ItsAsbreuk opened #698 "Mojito service shuts down after critical error"
I've got an examplecode shown in https://gist.github.com/3874765
Now, the problem arises at line 84: if there is a MySql-error, this.end() is called, but this function does not exists. Reason is problably because 'this' is not the anonymous function mysqlClient.createClient.

There are 2 things in this:

1st. The Mojito service will throw an error and ends completely. So the Mojito service isn't r

[2012-11-02 12:59] ItsAsbreuk opened #699 "Mojito service shuts down after critical error"
I've got an examplecode shown in https://gist.github.com/3874765
Now, the problem arises at line 84: if there is a MySql-error, this.end() is called, but this function does not exists. Reason is problably because 'this' is not the anonymous function mysqlClient.createClient, but mysqlClient.createClient.query.

There are 2 things in this:

1st. The Mojito service will throw an error and ends compl

[2012-11-02 13:34] #698 closed, assigned to nobody

[2012-11-02 15:59] caridy commented on #699
Marco, I'm not so sure I understand what you ask for. In your code, it is your responsibility to control the flow, and eventually call ac.done or ac.error.

About production, obviously you don't want a node process to crash, but if that happen, your container (hosting infrastructure for node) should be able to restart the process automatically. Most container out there are doing that.

[2012-11-02 16:59] ItsAsbreuk commented on #699
Hey Caridy,

All right, I see I need some adjustments to restart Mojito if it shuts down...

I know its my responsibility. to control the flow.
Fact is that in the Model, I execute MySql. When an error occurs, it is catched and the Model will return an error to the controller, which calls ac.error. Everything fine here.

But, I experienced the situation that during reading mysql in the model, all

[2012-11-03 14:58] ItsAsbreuk commented on #699
I ran into it again, but in a different situation now: using an own YUI-module.

So, let me explain it better:

Situation 1 goes all right:
If I make a functioncall that refers to a mojio-object with a undefined function (for instance  ac.models.MyModelFoo.undefinedFunc()) then Mojito nicely returns a http status 500

Situation 2 goes wrong:
If I make a functioncall that refers to an external modu

[2012-11-03 22:22] ItsAsbreuk commented on #699
Caridy, rethinking this issue, made me realize very unpleasant things might happen.

In my situation I was lucky because Mojito just stopped. You -on the other hand- run on your own hosting infrastructure  (Manhattan?) that will restart after such a situation.

So, what happens if you make a typo on an external module? Your Mojito-service might have multiple threads waiting for their callback. But

[2012-11-04 10:07] ItsAsbreuk commented on #699
The same with this situation:

Situation 1:
In the regular Mojito-code:
var item = myArray[i]  // <-- where i is undefined
Mojito throws error 500 and continues running

Situation 2:
Within a callback of an external module:
var item = myArray[i]  // <-- where i is undefined
Mojito-service stops completely:
item = myArray[i];
                       ^
ReferenceError: i is not defined
    at selectCb